<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Login Activity</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Login Activity</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div class="card">
      <div class="card-header">
        <strong>Employe Selection</strong>
      </div>
      <div class="card-body">

        <div class="col-lg-8">

          <div class="row">
            <div class="col-lg-3"><label>Select Date</label></div>
            <div class="col-lg-6">
              <div class="form-group d-flex align-items-center">
                <input class="form-control" name="dp" [(ngModel)]="fromDate" readonly ngbDatepicker
                  [placeholder]="'DD/MM/YYYY'" #d="ngbDatepicker" style="width: 90%;margin-right: -2px;" [maxDate]="maxDate">
                <button class="form-btn btn-success" style="padding: 16px 20px;" (click)="d.toggle()"><i
                    class="fa fa-calendar" ></i></button>
                <label class="px-2">To</label>
                <input class="form-control" name="dp" [(ngModel)]="toDate" readonly ngbDatepicker
                  [placeholder]="'DD/MM/YYYY'" #d1="ngbDatepicker" style="width: 90%;margin-right: -2px;" [minDate]="fromDate" [maxDate]="maxDate">
                <button class="form-btn btn-success" style="padding: 16px 20px;" (click)="d1.toggle()"><i
                    class="fa fa-calendar" ></i></button>

              </div>
            </div>
          </div>

            <!-- <div class="col-lg-3"><label>Select Employee </label></div>
            <div class="col-lg-6">
              <div class="form-group">
                <select class="form-control custom-select" [(ngModel)]="employee">
                  <option value="">Select Employee</option>
                  <option [value]="employee.userName" *ngFor="let employee of employeeList">{{employee?.userName}}
                  </option>
                </select>
              </div>
            </div> -->
            <div class="row" *ngIf="userData.data.role == 'admin'">
            <div class="col-lg-3"><label class="control-label">Owner :</label></div>
            <div class="col-md-6">
              <div class="form-group">

                <div class="controls">
                  <select class="form-control" [(ngModel)]="owner"
                    (ngModelChange)="getEmployeeList($event);getStandsList($event)">
                    <option value=''>Select Owner</option>
                    <option *ngFor="let owner of ownersList" [value]="owner.ownerId">{{owner.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            </div>
            <div class="row" *ngIf="userData.data.role != 'employee'">
            <div class="col-lg-3"> <label class="control-label">Stand :</label></div>
            <div class="col-md-6">
              <div class="form-group">

                <div class="controls">
                  <select class="form-control" [(ngModel)]="stand" (ngModelChange)="getEmployeeList($event)">
                    <option value=''>Select Stand</option>
                    <option *ngFor="let stand of standsList" [value]="stand.standId">{{stand.standName}}</option>
                  </select>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-3"><label class="control-label">Select Employee :</label></div>
            <div class="col-md-6">
              <div class="form-group">

                <div class="controls">
                  <select class="form-control" [(ngModel)]="employee">
                    <option value=''>Select Employee</option>
                    <option *ngFor="let employee of employeeList" [value]="employee.userName">{{employee.userName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <button class="form-btn btn-success" (click)="getLoginActivityList(1)">Search</button>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Login Activity List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getLoginActivityList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>

                <div>
                  <button class="DTTT_button" (click)="getExcelLoginActivityList('copy')"><i class="fa fa-clone"></i>
                    <span>Copy</span></button>
                  <button class="DTTT_button" (click)="getExcelLoginActivityList('pdf')"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="getExcelLoginActivityList('excel')"><i
                          class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem (click)="getExcelLoginActivityList('csv')"><i
                          class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem (click)="getExcelLoginActivityList('pdf')"><i
                          class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="loginActivityList?.length>0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>User Name</th>
                    <th>Phone </th>
                    <th>Login time</th>
                    <th>Logout time</th>
                    <th>IP Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of loginActivityList;let i = index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>{{activity.employeeId || 'N/A'}}</td>
                    <td>{{activity.name || 'N/A'}}</td>
                    <td>{{activity.userName || 'N/A'}}</td>
                    <td>{{activity.phone || 'N/A'}}</td>
                    <td>{{getDate(activity.start_time) || 'N/A'}}</td>
                    <td>{{getDate(activity.end_time) || 'Session Running'}}</td>
                    <td>{{activity.ipaddress || 'N/A'}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="loginActivityList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                    <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
                  padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="loginActivityList?.length>=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7"
                          (click)="getLoginActivityList(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="getLoginActivityList(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7"
                          (click)="getLoginActivityList(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->

  </div>

</div>
<!-- </div> -->
