<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Price Rules</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Home</li>
        <li class="breadcrumb-item"><a>Price Rules</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <div class="mb-3">
      <div class="text-right"><button class="btn btn-sm btn-dark" (click)="clickedBack()"><i
            class="fa fa-arrow-left"></i> Back</button></div>
    </div>

    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Price Rules List</strong>
            </div>
            <div class="card-body" *ngIf="!loader">
              <form [formGroup]="dynamicPriceRulesForm">
                <table class="table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th>Vehicle Type</th>
                      <th>Amount in Rs.</th>
                      <th>Duration(Hrs)</th>
                      <th>Fixed Price For 1st Slot</th>
                      <th>For Every Next Slot</th>
                      <th>Monthly Card in Rs.</th>
                      <th>Monthly Card Max Discount in Rs.</th>
                      <th>Monthly Card Offer Price in Rs.</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ticket of t.controls; let i = index">
                      <ng-container [formGroup]="getFormGroup(i)">
                        <th *ngIf="!getFormGroup(i).controls?.showInput?.value">
                          <!-- {{getFormGroup(i).controls?.vehicletype?.value}} -->
                          {{getFormGroup(i).controls?.vehicletype?.value ? (getFormGroup(i).controls?.vehicletype?.value=='bicycle' ? 'Bicylce'
                          : (getFormGroup(i).controls?.vehicletype?.value=='twoWheeler' ? '2 W' :
                          (getFormGroup(i).controls?.vehicletype?.value=='threeWheeler'?'3 W':
                          (getFormGroup(i).controls?.vehicletype?.value=='fourWheeler' ? '4 W' : getFormGroup(i).controls?.vehicletype?.value)))):'N/A'}}
                        </th>
                        <th *ngIf="getFormGroup(i).controls?.showInput?.value">
                          <button type="button" class="btn btn-danger" title="Delete" (click)="deleteRowIntable(i)"><i
                              class="fa fa-trash"></i></button>&nbsp;
                          <input class="form-controle numeric" name="vehicletype" type="text"
                            formControlName="vehicletype" placeholder="Enter vehicle type">
                          <!-- (focusout)="getFormGroup(i).controls?.showInput?.setValue(false)" -->
                        </th>
                        <td>
                          <input class="form-controle numeric" name="amount" type="number" formControlName="amount"
                            [ngClass]="getFormGroup(i).controls?.amount?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.amount)">
                        </td>
                        <td>
                          <input class="form-controle numeric" name="duration" type="number" formControlName="duration"
                            [ngClass]="getFormGroup(i).controls?.duration?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.duration)">
                        </td>
                        <td>
                          <input class="form-controle numeric" name="fixedPriceFor1stHour" type="number"
                            formControlName="fixedPriceFor1stHour"
                            [ngClass]="getFormGroup(i).controls?.fixedPriceFor1stHour?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.fixedPriceFor1stHour)">
                        </td>
                        <td>
                          <input class="form-controle numeric" name="forEveryNextHour" type="number"
                            formControlName="forEveryNextHour"
                            [ngClass]="getFormGroup(i).controls?.forEveryNextHour?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.forEveryNextHour)">
                        </td>
                        <td>
                          <input class="form-controle numeric" name="card" type="number"
                            formControlName="cardActualPrice"
                            [ngClass]="getFormGroup(i).controls?.cardActualPrice?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.cardActualPrice)"
                            (keyup)="validationRules(getFormGroup(i).controls)">
                        </td>

                        <td>
                          <input class="form-controle numeric" name="cardMaxDiscount" type="number"
                            formControlName="cardMaxDiscount"
                            [ngClass]="getFormGroup(i).controls?.cardMaxDiscount?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.cardMaxDiscount)"
                            (keyup)="validationRules(getFormGroup(i).controls)">
                          <span id="username_error" class="help-inline mt-1" style="color: red;"
                            *ngIf="getFormGroup(i).controls?.cardMaxDiscount?.invalid && (getFormGroup(i).controls?.cardMaxDiscount?.dirty ||getFormGroup(i).controls?.cardMaxDiscount?.touched)">

                            <label *ngIf="getFormGroup(i).controls?.cardMaxDiscount?.errors?.max">Enter amount less than
                              card amount</label>
                          </span>
                        </td>
                        <td>
                          <input class="form-controle numeric" name="cardOffer" type="number"
                            formControlName="cardOfferPrice"
                            [ngClass]="getFormGroup(i).controls?.cardOfferPrice?.errors?.pattern?'inputClass':''"
                            (blur)="validationZeroValue(getFormGroup(i).controls?.cardOfferPrice)"
                            (keyup)="validationRules(getFormGroup(i).controls)">
                          <span id="username_error" class="help-inline mt-1" style="color: red;"
                            *ngIf="getFormGroup(i).controls?.cardOfferPrice?.invalid && (getFormGroup(i).controls?.cardOfferPrice?.dirty ||getFormGroup(i).controls?.cardOfferPrice?.touched)">

                            <label *ngIf="getFormGroup(i).controls?.cardOfferPrice?.errors?.min">Enter amount greater
                              than or
                              equal to
                              {{getFormGroup(i).controls?.cardActualPrice?.value-getFormGroup(i).controls?.cardMaxDiscount?.value}}
                            </label>
                            <label *ngIf="getFormGroup(i).controls?.cardOfferPrice?.errors?.max">Enter amount less than
                              or
                              equal to
                              {{getFormGroup(i).controls?.cardActualPrice?.value}}</label>
                          </span>
                        </td>
                      </ng-container>

                    </tr>
                  </tbody>
                </table>
              </form>



            </div>

            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer">
              <button class="btn btn-primary" placement="bottom" ngbTooltip="Add row" type="button"
                (click)="addRowIntable()">Add
                row</button>&nbsp;
              <button class="btn btn-success"
                [disabled]="spinner||!dynamicPriceRulesForm.dirty ||!dynamicPriceRulesForm.valid" placement="bottom"
                ngbTooltip="Save" type="button" (click)="savePriceRules()">Save <i class="fa fa-spin fa-spinner"
                  *ngIf="spinner"></i></button>&nbsp;
              <button class="btn btn-danger" [disabled]="!dynamicPriceRulesForm.dirty" placement="bottom"
                ngbTooltip="Cancle" type="button" (click)="cancelTable()">Cancel</button>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
