<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Offline Card Sales</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Offline Card Sales</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <!-- <div class="card">
      <div class="card-header">
        <strong>Search By</strong>
      </div>
      <div class="card-body">
        <form action="" method="post">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">Owner :</label>
              <div class="controls">
                <select class="form-control">
                  <option value="24">Vijay Kumar</option>
                  <option value="2">Test Owner</option>
                  <option value="5" selected="">R.V.Satyanarayana</option>
                  <option value="11">naidu test</option>

                </select>
              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">Stand :</label>
              <div class="controls">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>

              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">From Date :</label>
              <div class="controls">
                <input class="form-control focused numeric" name="phone" type="text" value="" pattern="[0-9]{10}" minlength="10" maxlength="10" required="required" autocomplete="off">
              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">To Date :</label>
              <div class="controls">
                <input class="form-control focused numeric" name="online_percent" type="text" minlength="1" maxlength="2" required="required" autocomplete="off">
              </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-actions">
                <button type="button" class="btn btn-info blue">Search</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div> -->
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Offline Card List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="refreshCountries()">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button"><i class="fa fa-clone"></i> <span>Copy</span></button>

                  <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables"></label>
              </div>
            </div>
            <div class="card-body">

              <table class="table table-striped table-bordered text-center">
                <thead>
                  <tr>
                    <th rowspan="2">S.No.</th>
                    <th rowspan="2">Location</th>
                    <th rowspan="2">Status </th>
                    <th rowspan="2">Stand </th>
                    <th colspan="3">Online Cards</th>
                    <th colspan="3">Cycles <img src="assets/images/bicycle.svg" width="40"></th>
                    <th colspan="3">2 Wheels <img src="assets/images/motorbike.svg" width="40"></th>
                    <th colspan="3">3 Wheels <img src="assets/images/rickshaw.svg" width="40"></th>
                    <th colspan="3">4 Wheels <img src="assets/images/car.svg" width="40"></th>

                  </tr>
                  <tr>
                    <th>New</th>
                    <th>Renew</th>
                    <th>Exp</th>
                    <th>New</th>
                    <th>Renew</th>
                    <th>Exp</th>
                    <th>New</th>
                    <th>Renew</th>
                    <th>Exp</th>
                    <th>New</th>
                    <th>Renew</th>
                    <th>Exp</th>
                    <th>New</th>
                    <th>Renew</th>
                    <th>Exp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" colspan="3"><strong>Total Stands</strong></td>
                    <td>2</td>

                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>RJY</td>
                    <td><span class="badge badge-success">Active</span></td>
                    <td>APSRTC</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>RJY</td>
                    <td><span class="badge badge-success">Active</span></td>
                    <td>APSRTC</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between p-2">


                <div></div>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="refreshCountries()">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
