<div class="home-section">
<div class="container">
		<div class="row">
    		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
    		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
						    	<div class="user_login">
		    		<h3>Forgot Password</h3>
					<form action="https://easyparkings.in/forgot" method="post">
						<div class="u_name">
							<label>Mobile No</label>
							<input class="l_name" name="username" id="username" type="text" placeholder="Username">
						</div>
						<div class="u_name">
							<input type="submit" name="" value="Forgot" class="login-btn">
						</div>
						<label class="mem">Back to login page <a href="/login">click here</a></label>
					</form>
				</div>
			</div>
		</div>
    </div>
</div>