<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Cards</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Cards</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">


    <div class="animated fadeIn">
      <div class="text-right"><button class="btn btn-success" (click)="openModal(content, 'add')" placement="bottom"
          ngbTooltip="Add Card"><i class="fa fa-plus"></i> Add</button></div>
      <div class="devider"></div>
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Cards</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getCardsList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader&&isOnlineStatus">

              <table class="table table-striped table-bordered" *ngIf="cardsList?.length>0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Card No</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Vehicle Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Created Date</th>
                    <th>Amount</th>
                    <!-- <th>Discount</th> -->
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Purchase Type</th>
                    <th>Actions</th>
                    <th>History</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let card of cardsList;let i = index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>{{card?.cardId ? card?.cardId : 'N/A'}}</td>
                    <td>{{card?.customerName ? card?.customerName : 'N/A'}}</td>
                    <td>{{card?.customerPhone ? maskPhoneNumber(card?.customerPhone) : 'N/A'}}</td>
                    <td style="text-transform: uppercase;">{{card?.vehicleNumber ? card?.vehicleNumber : 'N/A'}}</td>
                    <td>{{card?.startDate ? getDate(card?.startDate) : 'N/A'}}</td>
                    <td>{{card?.endDate ? getEndDate(card?.endDate) : 'N/A'}}</td>
                    <td>{{card?.createdDate ? getDate(card?.createdDate) : 'N/A'}}</td>
                    <td>{{card?.amount ? card?.amount : 'N/A'}}</td>
                    <!-- <td>{{card?.customerName ? card?.customerName : 'N/A'}}</td> -->
                    <td>{{card?.duration ? (card?.duration*30) : 'N/A'}} Day(s)</td>
                    <td><span class="btn btn-sm"
                        [ngClass]="getStatusColor(disabledRenewal(card) ? 'Active' : 'Expired')">{{disabledRenewal(card) ? "Active" : 'Expired'}}</span>
                    </td>
                    <td>{{card?.type ? card?.type : 'N/A'}}</td>
                    <td class="actions">
                      <button class="btn btn-info btn-sm"><i class="fa fa-envelope"></i> SMS</button>&nbsp;
                      <button class="btn btn-success btn-sm" [disabled]="disabledRenewal(card)"
                        (click)="openModal(content,'edit', card)">Renew</button>
                    </td>
                    <td class="history">
                      <button class="btn btn-success btn-sm" (click)="openModal2(content2,card?.cardHistory)"><i
                          class="fa fa-eye"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="norecords" *ngIf="cardsList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="!loader&&!isOnlineStatus">

              <table class="table table-striped table-bordered" *ngIf="monthlyCardsEntryHistoryData?.length>0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Card No</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Vehicle Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Created Date</th>
                    <th>Amount</th>
                    <!-- <th>Discount</th> -->
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Purchase Type</th>
                    <th>Actions</th>
                    <th>History</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let card of monthlyCardsEntryHistoryData;let i = index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>{{card?.cardId ? card?.cardId : 'N/A'}}</td>
                    <td>{{card?.customerName ? card?.customerName : 'N/A'}}</td>
                    <td>{{card?.customerPhone ? maskPhoneNumber(card?.customerPhone) : 'N/A'}}</td>
                    <td style="text-transform: uppercase;">{{card?.vehicleNumber ? card?.vehicleNumber : 'N/A'}}</td>
                    <td>{{card?.startDate ? getDate(card?.startDate) : 'N/A'}}</td>
                    <td>{{card?.endDate ? getEndDate(card?.endDate) : 'N/A'}}</td>
                    <td>{{card?.createdDate ? getDate(card?.createdDate) : 'N/A'}}</td>
                    <td>{{card?.amount ? card?.amount : 'N/A'}}</td>
                    <!-- <td>{{card?.customerName ? card?.customerName : 'N/A'}}</td> -->
                    <td>{{card?.duration ? card?.duration : 'N/A'}} Month(s)</td>
                    <td><span class="btn btn-sm"
                        [ngClass]="getStatusColor(disabledRenewal(card) ? 'Active' : 'Expired')">{{disabledRenewal(card) ? "Active" : 'Expired'}}</span>
                    </td>
                    <td>{{card?.type ? card?.type : 'N/A'}}</td>
                    <td class="actions">
                      <button class="btn btn-info btn-sm"><i class="fa fa-envelope"></i> SMS</button>&nbsp;
                      <button class="btn btn-success btn-sm" [disabled]="disabledRenewal(card)"
                        (click)="openModal(content,'edit', card)">Renew</button>
                    </td>
                    <td class="history">
                      <button class="btn btn-success btn-sm" (click)="openModal2(content2,card?.cardHistory)"><i
                          class="fa fa-eye"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="norecords" *ngIf="monthlyCardsEntryHistoryData?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="cardsList?.length>=0&&!loader&&isOnlineStatus">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{showEdit ? "Renewal" : "Add"}} Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="cardsForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="duration"
                (ngModelChange)="durationChanged($event)">
                <option value="1" selected>30 Days</option>
                <option value="2">60 Days</option>
                <option value="3">90 Days</option>
                <option value="6"> 180 Days</option>
                <option value="12">365 Days</option>
              </select>
              <label>Duration</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.duration?.invalid && (cardsForm?.controls?.duration?.dirty ||cardsForm?.controls?.duration?.touched)">

              <label *ngIf="cardsForm?.controls?.duration?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="vehicalType"
                (ngModelChange)="getAmount($event)">
                <!-- <option value="bicycle" selected>Bicycle</option>
                <option value="twoWheeler">2W</option>
                <option value="threeWheeler">3W</option>
                <option value="fourWheeler">4W</option> -->
                <option *ngFor="let type of vehicleTypes" [value]="type.vehicletype">
                  {{type.vehicletypeValue}}
                </option>
              </select>
              <label>Vehicle Type </label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.vehicalType?.invalid && (cardsForm?.controls?.vehicalType?.dirty ||cardsForm?.controls?.vehicalType?.touched)">

              <label *ngIf="cardsForm?.controls?.vehicalType?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label d-flex">
              <input class="form-control" name="dp" formControlName="startDate"
                [minDate]="showEdit ? date : currentDate" readonly ngbDatepicker [placeholder]="'DD/MM/YYYY'"
                #d="ngbDatepicker" style="width: 90%;" (ngModelChange)="startDateChanged($event)">
              <button style="    margin-top: -5px;" class="btn btn-success" (click)="d.toggle()"><i
                  class="fa fa-calendar"></i></button>
              <label for="Date">Start Date </label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.startDate?.invalid && (cardsForm?.controls?.startDate?.dirty ||cardsForm?.controls?.startDate?.touched)">

              <label *ngIf="cardsForm?.controls?.startDate?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Number" formControlName="endDate" type="text" placeholder="Enter End Date"
                autocomplete="off" readonly />
              <label for="Number">End Date</label>
            </span>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="showEdit">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Number" formControlName="cardNumber" type="text"
                placeholder="Enter Card Number" autocomplete="off" readonly />
              <label for="Number">Card Number</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.cardNumber?.invalid && (cardsForm?.controls?.cardNumber?.dirty ||cardsForm?.controls?.cardNumber?.touched)">

              <label *ngIf="cardsForm?.controls?.cardNumber?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Name" type="text" placeholder="Enter Your Name" formControlName="name"
                autocomplete="off"
                onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" />
              <label for="Name">Name</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.name?.invalid && (cardsForm?.controls?.name?.dirty ||cardsForm?.controls?.name?.touched)">

              <label *ngIf="cardsForm?.controls?.name?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" autocomplete="off"
                minlength="10" maxlength="10" formControlName="phone" />
              <label for="Phone">Phone</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.phone?.invalid && (cardsForm?.controls?.phone?.dirty ||cardsForm?.controls?.phone?.touched)">

              <label *ngIf="cardsForm?.controls?.phone?.errors?.required">Invalid Phone Number</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="cardsForm?.controls?.vehicalType?.value != 'bicycle'">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="VehicleName" type="text" placeholder="Enter Vehicle Number"
                formControlName="vehicalNumber" autocomplete="off" style="text-transform: uppercase;" />
              <label for="VehicleName">Vehicle Number</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.vehicalNumber?.invalid && (cardsForm?.controls?.vehicalNumber?.dirty ||cardsForm?.controls?.vehicalNumber?.touched)">

              <label *ngIf="cardsForm?.controls?.vehicalNumber?.errors?.required">This field is
                required</label>
              <label *ngIf="cardsForm?.controls?.vehicalNumber?.errors?.pattern">Enter valid Vehicle number</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Amount" type="number" placeholder="Enter Amount" formControlName="amount"
                autocomplete="off" (ngModelChange)="changePrice($event)" />
              <label for="Amount">Amount</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.amount?.invalid && (cardsForm?.controls?.amount?.dirty ||cardsForm?.controls?.amount?.touched)">
              <!-- <label *ngIf="hasError">Price should not be less than {{cardOfferPrice}}</label> -->
              <label *ngIf="cardsForm?.controls?.amount?.errors?.required">This field is
                required</label>
            </span>
            <span id="username_error" *ngIf="hasError" class="help-inline mt-1" style="color: red;">
              <label>Price should not be less than {{cardOfferPrice}}</label> </span>
            <span id="username_error" *ngIf="actualAmount < cardsForm.controls.amount.value" class="help-inline mt-1"
              style="color: red;">
              <label>Price should not be greater than {{actualAmount}}</label> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" (click)="getWantedVehiclesList(modal)"
          [disabled]="spinner || !cardsForm.valid || hasError || actualAmount < cardsForm.controls.amount.value" id="submit_btn"
          class="btn btn-success">Save&nbsp; <i *ngIf="spinner" class="fa fa-spin fa-spinner"></i></button>&nbsp;
        <a class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</a>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #content2 let-modal2>
  <div class="modal-header">
    <h4 class="modal-title">{{currentCard?.cardId}} Renewal History</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal2.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form action="" method="post">
    <div class="modal-body">
      <table class="table table-striped table-bordered" *ngIf="cardHistory?.length>0">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Discount</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of cardHistory;let i = index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{item?.startDate ? getDate(item?.startDate) : 'N/A'}}</td>
            <td>{{item?.endDate ? getEndDate(item?.endDate) : 'N/A'}}</td>
            <td>{{item?.amount ? item?.amount : 'N/A'}}</td>
            <td>0</td>
            <td>{{item?.duration ? item?.duration : 0}} month(s)</td>
            <td><span class="btn btn-primary">{{checkDate(item?.endDate) ? 'Expired' : 'Active'}}</span></td>
            <td>{{item?.createdDate ? getDate(item?.createdDate) : 'N/A'}}</td>
          </tr>
        </tbody>
      </table>

      <div class="norecords" *ngIf="cardHistory?.length==0">
        <img src="assets/images/nodataFoundImg.png">
        <!-- <h3>No Records Found</h3>
        <p>There was no record based on the details you selected. Please retry the list</p> -->
      </div>
    </div>

  </form>
</ng-template>
