/* .header{display: flex;align-items: center;background: #fff;}
.line{height: 1px;width: 100%;background: #d6d6d6;margin: 1rem 0;text-indent: -9999px;} */

.header {
  display: flex;
  align-items: center;
  background: #fff;
}

.line {
  height: 1px;
  width: 100%;
  background: #d6d6d6;
  margin: 1rem 0;
  text-indent: -9999px;
}

.st-img {
  width: 50px;
  height: 50px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  margin-left: 5px;
  position: relative;
  margin-top: -5px;
}

.st-img i {
  position: absolute;
  top: -5px;
  left: -5px;
  color: #f00;
  font-size: 20px;
}

.st-img img {
  object-fit: cover;
  height: 50px;
}

/* .form .form-control{
    padding: 0 0.75em 0 0.75em;
    margin-top: -0.25em;
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    height: calc(2em + .75rem + 4px);
} */
.control-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

div.uploader input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  cursor: default;
  width: 100%;
  height: 100%;
}

div.selector,
div.selector *,
div.radio,
div.radio *,
div.checker,
div.checker *,
div.uploader,
div.uploader *,
div.button,
div.button * {
  margin: 0;
  padding: 0;
}

div.uploader span.action {
  text-shadow: white 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}

div.uploader span.action {
  background-position: right -409px;
  height: 28px;
  line-height: 28px;
  width: 82px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
}

input[type="file"] {
  display: block;
}

div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
