<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Stand</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Stand</a></li>

      </ol>
    </nav>


  </div>
  <div class="page-inner">
    <div>
      <div class="top-d-flex">
        <div class="flex-1">
          <h4>Total Stands {{count}}</h4>
          <h4 class="badge badge-success badge-pill "><i class="fa fa-check-circle"></i>Online {{standsOnlineCount}}
          </h4>
          <h4 class="badge badge-danger badge-pill "><i class="fa fa-check-circle"></i>Offline {{standsOfflineCount}}
          </h4>
        </div>
        <div>
          <button class="btn btn-success" (click)="openModal(content,'add','')" placement="bottom"
            ngbTooltip="Add Stand"><i class="fa fa-plus"></i> Add </button>
          <button class="btn btn-light m-1" (click)="getStandsList(1)" placement="bottom" ngbTooltip="Refresh"><i
              class="fa fa-refresh"></i></button>
          <!-- <button class="btn btn-danger" placement="bottom" ngbTooltip="Delete"><i class="fa fa-trash-o"></i> </button> -->
        </div>
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Stands </strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getStandsList(1)">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <!-- <button class="DTTT_button" (click)="copyTable()"><i class="fa fa-clone"></i> <span>Copy</span></button>

                  <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div> -->

                </div>
              </div>

              <div id="datatables_filter" class="dataTables_filter">
                <!-- <label><input type="search" class="form-control input-sm" [(ngModel)]="searchKey"
                    (keyup)="getStandsList(1)" placeholder="Search records" aria-controls="datatables"></label> -->
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="standsList?.length>0">
                <thead>
                  <tr>
                    <th rowspan="2">S.No.</th>
                    <th rowspan="2">Location</th>
                    <th rowspan="2">Stand ID</th>
                    <!-- <th rowspan="2">Current Status</th> -->
                    <th rowspan="2">Stand Name</th>
                    <th rowspan="2">Plan</th>
                    <th rowspan="2">Start Date</th>
                    <th rowspan="2">Expiry Date</th>
                    <th rowspan="2">Price Rules</th>
                    <th rowspan="2">Employees</th>
                    <th rowspan="2">Session History</th>
                    <th colspan="3">SMS ON</th>
                    <th rowspan="2">Online Cards</th>
                    <th rowspan="2">Stand Status</th>
                    <th rowspan="2">Actions</th>
                  </tr>
                  <tr>
                    <th>Entry</th>
                    <th>Exit</th>
                    <th>Monthly Cards</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stand of standsList;let i = index">
                    <td class="sorting_1">{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>{{stand?.location?.city?.city ? stand?.location?.city?.city : 'N/A'}}</td>
                    <td>{{stand?.standId ? stand?.standId : 'N/A'}}</td>
                    <!-- <td><span class="badge badge-pill" [class.badge-success]="stand?.status == 'Active'"
                        [class.badge-danger]="stand?.status != 'Active'">{{stand?.status ? stand?.status : 'N/A'}}</span>
                    </td> -->
                    <td>{{stand?.standName ? stand?.standName : 'N/A'}}</td>
                    <td>{{stand?.planType ? stand?.planType : 'N/A'}}<br></td>

                    <td> {{stand?.createdDate ? (getDate(stand?.createdDate)) : 'N/A'}}</td>

                    <td>{{stand?.expiryDate ? (getDate(stand?.expiryDate)) : 'N/A'}}</td>
                    <!-- [routerLink]="['/price-rules',stand?.standId]" -->
                    <td><a class="btn-sm btn-info" [routerLink]="['/price-rules',stand?.standId]" placement="bottom"
                        ngbTooltip="Show Price"><i class="fa fa-eye-slash "></i></a></td>
                    <td> <a [routerLink]="['/employs']" (click)="routeToEmplyee(stand)" class="btn-sm btn-secondary "
                        placement="bottom" ngbTooltip="Show Employees">{{stand?.employeeCount}}
                        <i class="fa fa-eye "></i></a></td>
                    <td><a class="btn-sm btn-primary " placement="bottom" ngbTooltip="Show History"
                        (click)="openSessionModal(sessionModal,stand)"><i class="fa fa-clock-o"></i></a></td>
                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [checked]="stand?.SMS?.entry"
                          [(ngModel)]="stand.SMS.entry" (ngModelChange)="sendSMS($event, stand,'entry')">
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                      </label>
                    </td>
                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [checked]="stand?.SMS?.exit"
                          [(ngModel)]="stand.SMS.exit" (ngModelChange)="sendSMS($event, stand,'exit')">
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                      </label>
                    </td>
                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [checked]="stand?.SMS?.monthlyCards"
                          [(ngModel)]="stand.SMS.monthlyCards" (ngModelChange)="sendSMS($event, stand,'monthlyCards')">
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                      </label>
                    </td>
                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="stand.allowOnlineCards"
                          (ngModelChange)="updateStatus($event, stand, 'allowOnlineCards')"
                          [checked]="stand?.allowOnlineCards? true : false">
                        <span class="switch-slider" data-checked="Enable" data-unchecked="Disable"></span>
                      </label>
                    </td>
                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="stand.booleanStatus"
                          (ngModelChange)="updateStatus($event, stand, 'status')"
                          [checked]="stand?.status=='Active'? true : false">
                        <span class="switch-slider" data-checked="Active" data-unchecked="Inactive"></span>
                      </label>
                    </td>
                    <td>
                      <a class="btn btn-info" title="Edit" (click)="openModal(content,'update',stand)"><i
                          class="fa fa-edit"></i></a>&nbsp;
                      <a class="btn btn-danger" title="Delete" (click)="deleteStand(stand)"><i
                          class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="norecords" *ngIf="standsList?.length == 0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
              <div class="d-flex justify-content-between p-2">


                <div></div>

              </div>
            </div>

            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="standsList?.length>=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{showEdit? 'Edit' : 'Add'}} Stand</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="standsForm">
      <div class="row">
        <div class="col-md-12">
          <label class="col-form-label">Location :</label>
          <div class="form-group row">
            <div class="col-sm-4">
              <span class="has-float-label">
                <select class="form-control custom-select" formControlName="state"
                  (ngModelChange)="getDistricts($event)">
                  <option disabled selected value="">State</option>
                  <option *ngFor="let state of statesList" [ngValue]="state"> {{state?.state}} </option>
                </select>
                <label>State</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="standsForm?.controls?.state?.invalid && (standsForm?.controls?.state?.dirty ||standsForm?.controls?.state?.touched)">

                <label *ngIf="standsForm?.controls?.state?.errors?.required">This field is
                  required</label>
              </span>
            </div>
            <div class="col-sm-4">
              <span class="has-float-label">
                <select class="form-control custom-select" formControlName="district"
                  (ngModelChange)="getCities($event)">
                  <option disabled selected value="">District</option>
                  <option *ngFor="let district of districtsList" [ngValue]="district"> {{district?.district}} </option>
                </select>
                <label>District</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="standsForm?.controls?.district?.invalid && (standsForm?.controls?.district?.dirty ||standsForm?.controls?.district?.touched)">
                <label *ngIf="standsForm?.controls?.district?.errors?.required">This field is
                  required</label>
              </span>
            </div>
            <div class="col-sm-4">
              <span class="has-float-label">
                <select class="form-control custom-select" formControlName="city">
                  <option disabled selected value="">City</option>
                  <option *ngFor="let city of citiesList" [ngValue]="city"> {{city?.city}} </option>
                </select>
                <label>City</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="standsForm?.controls?.city?.invalid && (standsForm?.controls?.city?.dirty ||standsForm?.controls?.city?.touched)">

                <label *ngIf="standsForm?.controls?.city?.errors?.required">This field is
                  required</label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Stand" type="text" formControlName="standName"
                placeholder="Enter Stand Name" value="Mark" required [attr.disabled]="showEdit ? true : null">
              <label for="Stand">Stand Name*</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.standName?.invalid && (standsForm?.controls?.standName?.dirty ||standsForm?.controls?.standName?.touched)">

              <label *ngIf="standsForm?.controls?.standName?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="ownerName"
                [attr.disabled]="showEdit ? true : null">
                <option selected disabled value="">Select Owner Name</option>
                <option *ngFor="let owner of ownersList" [ngValue]="owner">{{owner.name}}</option>
              </select>
              <label>Owner Name</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.ownerName?.invalid && (standsForm?.controls?.ownerName?.dirty ||standsForm?.controls?.ownerName?.touched)">

              <label *ngIf="standsForm?.controls?.ownerName?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="type">
                <option *ngFor="let type of parkingTypesList" [value]='type.type'>{{type.type}}</option>
              </select>
              <label>Type</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.type?.invalid && (standsForm?.controls?.type?.dirty ||standsForm?.controls?.type?.touched)">

              <label *ngIf="standsForm?.controls?.type?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Address" formControlName="address" type="text" placeholder="Enter Address"
                required="required" autocomplete="off" />
              <label for="Address">Address*</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.address?.invalid && (standsForm?.controls?.address?.dirty ||standsForm?.controls?.address?.touched)">

              <label *ngIf="standsForm?.controls?.address?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Extra" type="text" formControlName="addressLine1"
                placeholder="Enter Extra Text Line 1" required="required" autocomplete="off" />
              <label for="Extra">Extra Text Line 1*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.addressLine1?.invalid && (standsForm?.controls?.addressLine1?.dirty ||standsForm?.controls?.addressLine1?.touched)">

              <label *ngIf="standsForm?.controls?.addressLine1?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Extra2" formControlName="addressLine2" type="text"
                placeholder="Enter Extra Text Line 2" autocomplete="off" />
              <label for="Extra2">Extra Text Line 2</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.addressLine2?.invalid && (standsForm?.controls?.addressLine2?.dirty ||standsForm?.controls?.addressLine2?.touched)">

              <label *ngIf="standsForm?.controls?.addressLine2?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" formControlName="addressLine3" id="Extra3" type="text"
                placeholder="Enter Extra Text Line 3" autocomplete="off" />
              <label for="Extra3">Extra Text Line 3</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.addressLine3?.invalid && (standsForm?.controls?.addressLine3?.dirty ||standsForm?.controls?.addressLine3?.touched)">

              <label *ngIf="standsForm?.controls?.addressLine3?.errors?.required">This field is
                required</label>
            </span>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Extra4" formControlName="addressLine4" type="text"
                placeholder="Enter Extra Text Line 4" autocomplete="off" />
              <label for="Extra4">Extra Text Line 4</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.addressLine4?.invalid && (standsForm?.controls?.addressLine4?.dirty ||standsForm?.controls?.addressLine4?.touched)">

              <label *ngIf="standsForm?.controls?.addressLine4?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Price" formControlName="price" type="number" placeholder="Enter Price"
                autocomplete="off" />
              <label for="Price">Price*</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.price?.invalid && (standsForm?.controls?.price?.dirty ||standsForm?.controls?.price?.touched)">

              <label *ngIf="standsForm?.controls?.price?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" required="required"
                [attr.disabled]="showEdit ? true : null" autocomplete="off" pattern="[0-9]{10}" formControlName="phone"
                minlength="10" maxlength="10" />
              <label for="Phone">Phone*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.phone?.invalid && (standsForm?.controls?.phone?.dirty ||standsForm?.controls?.phone?.touched)">

              <label *ngIf="standsForm?.controls?.phone?.errors?.required">This field is
                required</label>
              <label *ngIf="standsForm?.controls?.phone?.errors?.pattern">Invalid phone number</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Nearest" type="text" formControlName="nearPoliceStation"
                placeholder="Enter Nearest Police Station" required="required" autocomplete="off" />
              <label for="Nearest">Nearest Police Station*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.nearPoliceStation?.invalid && (standsForm?.controls?.nearPoliceStation?.dirty ||standsForm?.controls?.nearPoliceStation?.touched)">

              <label *ngIf="standsForm?.controls?.nearPoliceStation?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="policeStationContactNum" type="tel" placeholder="Ex: 9874563213"
                required="required" autocomplete="off" pattern="[0-9]{10}" formControlName="policeStationContactNum"
                minlength="10" maxlength="10" />
              <label for="policeStationContactNum">Police Station Contact Number*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.policeStationContactNum?.invalid && (standsForm?.controls?.policeStationContactNum?.dirty ||standsForm?.controls?.policeStationContactNum?.touched)">

              <label *ngIf="standsForm?.controls?.policeStationContactNum?.errors?.required">This field is
                required</label>

              <label *ngIf="standsForm?.controls?.policeStationContactNum?.errors?.pattern">Invalid phone number</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Latitude" type="number" formControlName="latitude"
                placeholder="Enter Latitude " required="required" autocomplete="off" />
              <label for="Latitude">Latitude*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.latitude?.invalid && (standsForm?.controls?.latitude?.dirty ||standsForm?.controls?.latitude?.touched)">

              <label *ngIf="standsForm?.controls?.latitude?.errors?.required">This field is
                required</label>
              <label *ngIf="standsForm?.controls?.latitude?.errors?.pattern">Please enter the valid latitude</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Longitude" formControlName="longitude" type="number"
                placeholder="Enter Longitude " required="required" autocomplete="off" (ngModelChange)="test()" />
              <label for="Longitude">Longitude*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.longitude?.invalid && (standsForm?.controls?.longitude?.dirty ||standsForm?.controls?.longitude?.touched)">

              <label *ngIf="standsForm?.controls?.longitude?.errors?.required">This field is
                required</label>
              <label *ngIf="standsForm?.controls?.longitude?.errors?.pattern">Please enter the valid longitude</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <div class="form-group d-flex align-items-top">

            <span class="has-float-label">
              <!-- <input class="form-control"  id="Image" type="file" placeholder="Enter Stand Image " required="required"
                autocomplete="off" (change)="uploadFile($event)" accept="image/*" />
              <label for="Image">Stand Image*</label> -->
              <div class="controls form-control">
                <div class="uploader mt-2">
                  <input type="file" (change)="uploadFile($event)" id="Image" #Image class="form-control"
                    accept="image/x-png,image/gif,image/jpeg" name="stand_image" required="required">
                  <i class="fa fa-upload"></i>
                  <span class="filename" style="user-select: none;">{{fileName ? fileName : 'No file selected'}}</span>
                </div>
              </div>
              <label for="Image">Stand Image*</label>
            </span>
            <div class="st-img" *ngIf="!showEdit&&url">
              <img [src]="url">
              <i class="fa fa-times-circle-o" (click)="clearFiles();Image.value=''"></i>
            </div>
            <div class="st-img" *ngIf="showEdit && (url || base64)">
              <img [src]="url? url : base64">
              <i class="fa fa-times-circle-o" (click)="clearFiles();Image.value=''"></i>
            </div>

            <span id="username_error" class="help-inline mt-1" style="color: red;" *ngIf="fileError">

              <label>Image size should be lessthan 100 KB</label>
            </span>
          </div>
          <!-- <div class="form-group"> -->
          <!-- <span class="has-float-label">
              <!-- <input class="form-control" id="Image" type="file" formControlName="standImage"
                placeholder="Enter Stand Image " required="required" autocomplete="off" (change)="uploadFile($event)" /> --
                <div class="controls">
                  <div class="uploader">
                    <input type="file" formControlName="standImage" (change)="uploadFile($event)" class="form-control" accept="image/x-png,image/gif,image/jpeg" name="stand_image" required="required">
                    <span class="filename" style="user-select: none;">{{fileName ? fileName : 'No file selected'}}</span>
                  </div>
                  </div>
              <label for="Image">Stand Image*</label>
              <!-- <div class="controls">
                <div class="uploader">
                  <input type="file" formControlName="standImage" (change)="uploadFile($event)" class="form-control" accept="image/x-png,image/gif,image/jpeg" name="stand_image" required="required">
                  <span class="filename" style="user-select: none;">No file selected</span>
                  <span class="action" style="user-select: none;">Choose File</span>
                </div>
                </div> --
            </span> -->
          <!-- <div class="control-group">
              <label class="control-label">Stand Image :</label>
              <div class="controls">
                <div class="uploader">
                  <input type="file" class="form-control" (change)="uploadFile($event)"
                    accept="image/x-png,image/gif,image/jpeg" name="stand_image">
                  <span class="filename" style="user-select: none;">{{fileName ? fileName : 'No file selected'}}</span>
                  <span class="action" style="user-select: none;">Choose File</span>
                </div>
              </div>
            </div>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.standImage?.invalid && (standsForm?.controls?.standImage?.dirty ||standsForm?.controls?.standImage?.touched)">

              <label *ngIf="standsForm?.controls?.standImage?.errors?.required">This field is
                required</label>
            </span>
          </div> -->
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="GST" type="text" formControlName="GSTIn" placeholder="Enter GST In "
                required="required" autocomplete="off" />
              <label for="GST">GST In*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.GSTIn?.invalid && (standsForm?.controls?.GSTIn?.dirty ||standsForm?.controls?.GSTIn?.touched)">

              <label *ngIf="standsForm?.controls?.GSTIn?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Initial" type="number" formControlName="initialGracePeriod"
                placeholder="Enter Initial Grace Period (Min) " required="required" autocomplete="off" />
              <label for="Initial">Initial Grace Period (Min)*</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.initialGracePeriod?.invalid && (standsForm?.controls?.initialGracePeriod?.dirty ||standsForm?.controls?.initialGracePeriod?.touched)">

              <label *ngIf="standsForm?.controls?.initialGracePeriod?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Late" type="number" formControlName="lateGracePeriod"
                placeholder="Enter Late Grace Period (Min) " required="required" autocomplete="off" />
              <label for="Late">Late Grace Period (Min)*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.lateGracePeriod?.invalid && (standsForm?.controls?.lateGracePeriod?.dirty ||standsForm?.controls?.lateGracePeriod?.touched)">

              <label *ngIf="standsForm?.controls?.lateGracePeriod?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="line">line</div>
      <h3 class="mb-4"><strong>Amounts For Bicycle</strong></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Time1" type="number" formControlName="bicycleTimePeriodAmount"
                placeholder="Enter Time period amount " required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Time1">Time period amount *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.bicycleTimePeriodAmount?.invalid && (standsForm?.controls?.bicycleTimePeriodAmount?.dirty ||standsForm?.controls?.bicycleTimePeriodAmount?.touched)">

              <label *ngIf="standsForm?.controls?.bicycleTimePeriodAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Tax1" type="number" formControlName="bicycleTaxAmount"
                placeholder="Enter Tax amount " required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Tax1">Tax amount *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.bicycleTaxAmount?.invalid && (standsForm?.controls?.bicycleTaxAmount?.dirty ||standsForm?.controls?.bicycleTaxAmount?.touched)">

              <label *ngIf="standsForm?.controls?.bicycleTaxAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Total1" type="number" formControlName="bicycletotalAmount"
                placeholder="Enter Total amount " required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Total1">Total amount *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.bicycletotalAmount?.invalid && (standsForm?.controls?.bicycletotalAmount?.dirty ||standsForm?.controls?.bicycletotalAmount?.touched)">

              <label *ngIf="standsForm?.controls?.bicycletotalAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="line">line</div>
      <h3 class="mb-4"><strong>Amounts For 2 Wheeler</strong></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Time2" type="number" formControlName="twoWheelerTimePeriodAmount"
                placeholder="Enter Time period amount " required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Time2">Time period amount *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.twoWheelerTimePeriodAmount?.invalid && (standsForm?.controls?.twoWheelerTimePeriodAmount?.dirty ||standsForm?.controls?.twoWheelerTimePeriodAmount?.touched)">

              <label *ngIf="standsForm?.controls?.twoWheelerTimePeriodAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Tax2" type="number" formControlName="twoWheelerTaxAmount"
                placeholder="Enter Tax amount " required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Tax2">Tax amount *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.twoWheelerTaxAmount?.invalid && (standsForm?.controls?.twoWheelerTaxAmount?.dirty ||standsForm?.controls?.twoWheelerTaxAmount?.touched)">

              <label *ngIf="standsForm?.controls?.twoWheelerTaxAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <span class="has-float-label">
              <input class="form-control" id="Total2" type="number" formControlName="twoWheelertotalAmount"
                placeholder="Enter Total amount " required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Total2">Total amount *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.twoWheelertotalAmount?.invalid && (standsForm?.controls?.twoWheelertotalAmount?.dirty ||standsForm?.controls?.twoWheelertotalAmount?.touched)">

              <label *ngIf="standsForm?.controls?.twoWheelertotalAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="line">line</div>
      <h3 class="mb-4"><strong>Amounts For 3 Wheeler</strong></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="time3" formControlName="threeWheelerTimePeriodAmount" type="number"
                placeholder="Enter Time period amount" required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="time3">Time period amount*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.threeWheelerTimePeriodAmount?.invalid && (standsForm?.controls?.threeWheelerTimePeriodAmount?.dirty ||standsForm?.controls?.threeWheelerTimePeriodAmount?.touched)">

              <label *ngIf="standsForm?.controls?.threeWheelerTimePeriodAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="tax3" formControlName="threeWheelerTaxAmount" type="number"
                placeholder="Enter Tax amount" required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="tax3">Tax amount*</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.threeWheelerTaxAmount?.invalid && (standsForm?.controls?.threeWheelerTaxAmount?.dirty ||standsForm?.controls?.threeWheelerTaxAmount?.touched)">

              <label *ngIf="standsForm?.controls?.threeWheelerTaxAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Total3" formControlName="threeWheelertotalAmount" type="number"
                placeholder="Enter Total amount" required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Total3">Total amount*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.threeWheelertotalAmount?.invalid && (standsForm?.controls?.threeWheelertotalAmount?.dirty ||standsForm?.controls?.threeWheelertotalAmount?.touched)">

              <label *ngIf="standsForm?.controls?.threeWheelertotalAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="line">line</div>
      <h3 class="mb-4"><strong>Amounts For 4 Wheeler</strong></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="time4" formControlName="fourWheelerTimePeriodAmount" type="number"
                placeholder="Enter Time period amount" required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="time4">Time period amount*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.fourWheelerTimePeriodAmount?.invalid && (standsForm?.controls?.fourWheelerTimePeriodAmount?.dirty ||standsForm?.controls?.fourWheelerTimePeriodAmount?.touched)">

              <label *ngIf="standsForm?.controls?.fourWheelerTimePeriodAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="tax4" formControlName="fourWheelerTaxAmount" type="number"
                placeholder="Enter Tax amount" required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="tax4">Tax amount*</label>
            </span>

            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.fourWheelerTaxAmount?.invalid && (standsForm?.controls?.fourWheelerTaxAmount?.dirty ||standsForm?.controls?.fourWheelerTaxAmount?.touched)">

              <label *ngIf="standsForm?.controls?.fourWheelerTaxAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Total4" formControlName="fourWheelertotalAmount" type="number"
                placeholder="Enter Total amount" required="required" autocomplete="off"
                [attr.disabled]="showEdit ? true : null" />
              <label for="Total4">Total amount*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="standsForm?.controls?.fourWheelertotalAmount?.invalid && (standsForm?.controls?.fourWheelertotalAmount?.dirty ||standsForm?.controls?.fourWheelertotalAmount?.touched)">

              <label *ngIf="standsForm?.controls?.fourWheelertotalAmount?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <span class="has-float-label">
              <textarea class="form-control" placeholder="Enter Note" formControlName="notes"></textarea>
              <label for="Total">Note</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="checkbox" formControlName="showOnHomePage" name="checkbox">&nbsp;&nbsp;
            <label for="checkbox">Show this stand on home page?</label>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <div class="form-actions text-right">
      <!--  -->
      <button type="submit" id="submit_btn" (click)="addStand(modal, showEdit?'edit':'add')"
        [disabled]="!standsForm.valid || !standsForm.dirty || spinner" class="btn btn-info blue">Save&nbsp;<i
          class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>&nbsp;
      <button type="button" class="btn btn-danger blue" name="button" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>

</ng-template>

<ng-template #sessionModal let-sessionModal>
  <div class="modal-header">
    <h4 class="modal-title">Session History</h4>
    <button type="button" class="close" aria-label="Close" (click)="sessionModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div class="row"> -->
    <app-emp-session-history [ownerId]="sessionStand.ownerId" [standId]="sessionStand.standId">
    </app-emp-session-history>
    <!-- </div> -->
  </div>
  <div class="modal-footer">
    <div class="form-actions text-right">
      <button type="button" class="btn btn-danger blue" name="button" aria-label="Close"
        (click)="sessionModal.dismiss('Cross click')">Close</button>
    </div>
  </div>

</ng-template>
