<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Wanted Vehicles</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Wanted Vehicles</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div>
      <div class="top-d-flex">
        <div class="flex-1">

        </div>
        <div>
          <button class="btn btn-success" (click)="openModal(content)" placement="bottom"
            ngbTooltip="Add Wanted Vehicles"><i class="fa fa-plus"></i> Add</button>
          <button class="btn btn-light m-1" (click)="getVehiclesList(1)" placement="bottom" ngbTooltip="Refresh"><i
              class="fa fa-refresh"></i></button>
          <!-- <button class="btn btn-danger" placement="bottom" ngbTooltip="Delete"><i class="fa fa-trash-o"></i> </button> -->
        </div>
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Wanted Vehicles</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getVehiclesList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button" (click)="getExcelVehiclesList('copy')"><i class="fa fa-clone"></i>
                    <span>Copy</span></button>
                  <button class="DTTT_button" (click)="getExcelVehiclesList('pdf')"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="getExcelVehiclesList('excel')"><i class="fa fa-file-excel-o"></i>
                        <span>Excel</span></button>
                      <button ngbDropdownItem (click)="getExcelVehiclesList('csv')"><i class="fa fa-file-text-o"></i>
                        <span>CSV</span></button>
                      <button ngbDropdownItem (click)="getExcelVehiclesList('pdf')"><i class="fa fa-file-pdf-o"></i>
                        <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered" *ngIf="wantedVehicleList?.length>0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Vehicle No</th>
                    <th>Type</th>
                    <th>Mobile No.</th>
                    <th>Insurance Validity</th>
                    <th>Missing Date</th>
                    <th>Request Date</th>
                    <th>Request By</th>
                    <th>Police Complaint logged?</th>
                    <th>Located At</th>
                    <th>Located On</th>
                    <th>Remarks</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of wantedVehicleList;let i = index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td style="text-transform: uppercase;">{{vehicle?.vehicleNumber || 'N/A' }}</td>
                    <td>{{getVehicleType(vehicle?.type) || 'N/A' }}</td>
                    <td>{{vehicle?.phoneNumber || 'N/A' }}</td>
                    <td>{{vehicle?.insuranceValidty || 'N/A' }}</td>
                    <td>{{vehicle?.missingDate? getDate(vehicle?.missingDate) : 'N/A' }}</td>
                    <td>{{vehicle?.requestDate? getDate(vehicle?.requestDate)  : 'N/A'}}</td>
                    <td>{{vehicle?.requestBy || 'N/A' }}</td>
                    <td>{{vehicle?.policeComplaintMade || 'N/A' }}</td>
                    <td>{{vehicle?.locatedAt? vehicle?.locatedAt : 'N/A'}}</td>
                    <td>{{vehicle?.matchedDate? getDate(vehicle?.matchedDate)  : 'N/A'}}</td>
                    <td>{{vehicle?.remarks || 'N/A' }}</td>
                    <td>
                      <button class="btn btn-sm btn-success" (click)="openModal(content, 'edit', vehicle)"
                        placement="bottom" ngbTooltip="Edit"><i class="fa fa-edit"></i></button>&nbsp;
                      <button class="btn btn-sm btn-danger" placement="bottom" ngbTooltip="Delete"
                        (click)="deleteVehicle(vehicle)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="wantedVehicleList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="wantedVehicleList?.length>=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add/Edit Wanted Vehicle</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="vehicleForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Name" type="text" formControlName="vehicleNumber"
                placeholder="Enter Your Vehicle Number " style="text-transform: uppercase;" required="required"
                autocomplete="off" />
              <label for="Name">Vehicle Number *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.vehicleNumber?.invalid && (vehicleForm?.controls?.vehicleNumber?.dirty ||vehicleForm?.controls?.vehicleNumber?.touched)">

              <label *ngIf="vehicleForm?.controls?.vehicleNumber?.errors?.required">This field is
                required</label>
              <label *ngIf="vehicleForm?.controls?.vehicleNumber?.errors?.pattern">Enter valid Vehicle number</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="type">
                <option value="bicycle" selected>Bicycle</option>
                <option value="twoWheeler">2 W</option>
                <option value="threeWheeler">3 W</option>
                <option value="fourWheeler">4 W</option>
              </select>
              <label for="Account">Type*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.type?.invalid && (vehicleForm?.controls?.type?.dirty ||vehicleForm?.controls?.type?.touched)">

              <label *ngIf="vehicleForm?.controls?.type?.errors?.required">This field is
                required</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Phone" type="text" autocomplete="off" formControlName="mobileNumber"
                placeholder="9999999999" minlength="10" maxlength="10" />
              <label for="Phone">Mobile No*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.mobileNumber?.invalid && (vehicleForm?.controls?.mobileNumber?.dirty ||vehicleForm?.controls?.mobileNumber?.touched)">

              <label *ngIf="vehicleForm?.controls?.mobileNumber?.errors?.required">Invalid Mobile Number</label>
            </span>

          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" style="width: 86%;" placeholder="dd/mm/yyyy" name="d1"
                formControlName="insuranceFrom" ngbDatepicker #d1="ngbDatepicker" readonly [maxDate]="currentDate">
              <button class="btn btn-success" style="padding: 12px;margin-top: -6px;" (click)="d1.toggle()"><i
                  class="fa fa-calendar"></i></button>
              <label for="Missing Date">Insurance Valid From *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.insuranceFrom?.invalid && (vehicleForm?.controls?.insuranceFrom?.dirty ||vehicleForm?.controls?.insuranceFrom?.touched)">
              <label *ngIf="vehicleForm?.controls?.insuranceFrom?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" style="width: 86%;" placeholder="dd/mm/yyyy" name="d2"
                formControlName="insuranceTo" ngbDatepicker #d2="ngbDatepicker" readonly [minDate]="currentDate">
              <button class="btn btn-success" style="padding: 12px;margin-top: -6px;" (click)="d2.toggle()"><i
                  class="fa fa-calendar"></i></button>
              <label for="Missing Date">Insurance Valid To *</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.insuranceTo?.invalid && (vehicleForm?.controls?.insuranceTo?.dirty ||vehicleForm?.controls?.insuranceTo?.touched)">
              <label *ngIf="vehicleForm?.controls?.insuranceTo?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Insurance Validity" type="text"
                placeholder="Enter Your Insurance Validity" autocomplete="off" formControlName="insuranceValidity" />
              <label for="Insurance Validity">Insurance Validity*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.insuranceValidity?.invalid && (vehicleForm?.controls?.insuranceValidity?.dirty ||vehicleForm?.controls?.insuranceValidity?.touched)">

              <label *ngIf="vehicleForm?.controls?.insuranceValidity?.errors?.required">This field is
                required</label>
            </span>

          </div>
        </div> -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" style="width: 86%;" placeholder="dd/mm/yyyy" name="d3"
                formControlName="missingDate" ngbDatepicker #d3="ngbDatepicker" readonly [maxDate]="currentDate">
              <button class="btn btn-success" style="padding: 12px;margin-top: -6px;" (click)="d3.toggle()"><i
                  class="fa fa-calendar"></i></button>
              <label for="Missing Date">Missing Date*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.missingDate?.invalid && (vehicleForm?.controls?.missingDate?.dirty ||vehicleForm?.controls?.missingDate?.touched)">

              <label *ngIf="vehicleForm?.controls?.missingDate?.errors?.required">This field is
                required</label>
            </span>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" style="width: 86%;" placeholder="dd/mm/yyyy" name="d4"
                formControlName="requestedDate" ngbDatepicker #d4="ngbDatepicker" readonly [minDate]="currentDate">
              <button class="btn btn-success" style="padding: 12px;margin-top: -6px;" (click)="d4.toggle()" disabled><i
                  class="fa fa-calendar"></i></button>
              <label for="Missing Date">Request Date*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.requestedDate?.invalid && (vehicleForm?.controls?.requestedDate?.dirty ||vehicleForm?.controls?.requestedDate?.touched)">

              <label *ngIf="vehicleForm?.controls?.requestedDate?.errors?.required">This field is
                required</label>
            </span>
          </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Email" type="text" placeholder="Enter Your Email"
                formControlName="requestedBy" autocomplete="off" />
              <label for="Email">Request By*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.requestedBy?.invalid && (vehicleForm?.controls?.requestedBy?.dirty ||vehicleForm?.controls?.requestedBy?.touched)">

              <label *ngIf="vehicleForm?.controls?.requestedBy?.errors?.required">This field is
                required</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="isPoliceComplaintLogged">
                <option value="Yes">Yes</option>

                <option value="No">No</option>
              </select>
              <label>Police Complaint lodged ?</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.isPoliceComplaintLogged?.invalid && (vehicleForm?.controls?.isPoliceComplaintLogged?.dirty ||vehicleForm?.controls?.isPoliceComplaintLogged?.touched)">

              <label *ngIf="vehicleForm?.controls?.isPoliceComplaintLogged?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <textarea class="form-control" placeholder="Enter Your Remarks" formControlName="remarks"></textarea>
              <label>Remarks</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="vehicleForm?.controls?.remarks?.invalid && (vehicleForm?.controls?.remarks?.dirty ||vehicleForm?.controls?.remarks?.touched)">

              <label *ngIf="vehicleForm?.controls?.remarks?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" (click)="addVehicle(modal, content1)"
          [disabled]="spinner || !vehicleForm.valid || !vehicleForm.dirty" id="submit_btn" class="btn btn-success">Save
          &nbsp; <i *ngIf="spinner" class="fa fa-spin fa-spinner"></i></button>&nbsp;
        <a class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</a>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #content1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title">Matched Vehicle Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="card-body p-0">
      <table class="table table-striped table-bordered text-center">
        <thead>
          <tr>
            <th>Stand Id</th>
            <th>Vehicle Number</th>
            <th>Entry Time</th>
            <th>Exit Time</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{matchedVehicle?.standId || 'N/A'}}</td>
            <td>{{matchedVehicle?.vehicleNumber || 'N/A'}}</td>
            <td>{{matchedVehicle?.dateAndTimeOfParking || 'N/A'}}</td>
            <td>{{matchedVehicle?.dateAndTimeOfExit || 'N/A'}}</td>
            <td>{{matchedVehicle?.phone || 'N/A'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-template>
