.header {
  display: flex;
  align-items: center;
  background: #fff;
}

.btn-group a.btn.focus {
  font-weight: 600;
  font-size: 1.2rem;
}

.input-icons {
  position: absolute;
  z-index: 2;
  left: 25px;
  top: 5px;
}

.swal2-styled.swal2-deny {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #28a745 !important;
  color: #fff;
  font-size: 1em;
}

.swal2-actions {
  display: flex !important;
  z-index: 1 !important;
  box-sizing: border-box !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  margin: 0em auto 0 !important;
  padding: 0 !important;
}
