<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Parkings</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Home</li>
        <li class="breadcrumb-item"><a>Parkings</a></li>
      </ol>
    </nav>
  </div>
  <div class="page-inner">
    <div class="card">
      <div class="card-header">
        <strong>Add Parking</strong>
      </div>
      <div class="card-body">

        <form [formGroup]="addParkingForm">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <div class="input-icons">
                  <img src="assets/images/scanner.png"></div>

                <input class="form-control" style="padding-left: 55px;" id="qrCode" type="text"
                  placeholder="Scan QR to get the details" formControlName="qrCode"
                  (keyup)="onKey($event);searchVehicle(addParkingForm.controls?.qrCode)" #scannerInput
                  (keyup.enter)="addParkingForm.valid ? (isEntry ? getWantedVehiclesList() : addExitEntry())  : ''" />
                <!-- <input type="text"/> -->
                <!-- (window:keypress)="onKey($event)"  autofocus -->
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="Card" type="text" placeholder="Enter Card Number"
                    formControlName="cardNumber" autocomplete="off" [matAutocomplete]="autoCard"
                    style="text-transform: uppercase;" (keyup.enter)="cardNumberSelected()" (ngModelChange)="checkValue($event,'cardNumber')">
                    <i *ngIf="isCardLoading" class="fa fa-spinner fa-spin" style="position: absolute;right: 10px;"></i>
                  <label for="Card">Monthly Card Number</label>
                </span>
                <mat-autocomplete #autoCard="matAutocomplete" (optionSelected)="selectedCardNumber($event)">
                  <!-- <mat-option *ngIf="isCardLoading" class="is-loading">Loading...</mat-option> -->
                  <ng-container>
                    <mat-option *ngFor="let card of filteredMonthlyCards | async" [value]="card">
                      {{card.cardId}}
                    </mat-option>
                  </ng-container>

                </mat-autocomplete>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addParkingForm?.controls?.cardNumber?.invalid && (addParkingForm?.controls?.cardNumber?.dirty ||addParkingForm?.controls?.cardNumber?.touched)">
                  <label *ngIf="addParkingForm?.controls?.cardNumber?.errors?.minlength">Atleast 6 Characters
                    required</label>
                  <label *ngIf="addParkingForm?.controls?.cardNumber?.errors?.invalid || addParkingForm?.controls?.cardNumber?.errors?.format">Invalid Card number </label>
                </span>
                
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <select class="form-control custom-select" formControlName="vehicleType"
                    (ngModelChange)="typeChanged($event)" >
                    <option value="" selected>Select Type</option>
                    <!-- <option value="2Wheeler">2Wheeler</option>
                    <option value="4Wheeler">4Wheeler</option> -->
                    <option *ngFor="let type of vehicleTypes" [value]="type.vehicletype">
                      {{type.vehicletypeValue}}
                    </option>

                  </select>
                  <label>Vehicle Type</label>
                </span>
                <!-- <br> -->
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addParkingForm?.controls?.vehicleType?.invalid && (addParkingForm?.controls?.vehicleType?.dirty ||addParkingForm?.controls?.vehicleType?.touched)">
                  <label *ngIf="addParkingForm?.controls?.vehicleType?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <div class="d-flex align-items-center">
                  <input type="checkbox" 
                    formControlName="isDefault" (change)="setAsDefult($event)" id="">&nbsp;&nbsp;
                  <p style="margin:0">Set as defult</p>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="CustomerName" type="text" placeholder="Enter Customer Name"
                    formControlName="customerName" autocomplete="off" style="text-transform: uppercase;"
                    (keyup.enter)="addParkingForm.valid ? (isEntry ? getWantedVehiclesList() : addExitEntry())  : ''"
                    (ngModelChange)="checkValue($event,'customerName')">
                  <label for="CustomerName">Customer Name</label>
                </span>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addParkingForm?.controls?.customerName?.invalid && (addParkingForm?.controls?.customerName?.dirty ||addParkingForm?.controls?.customerName?.touched)">
              
                <label *ngIf="addParkingForm?.controls?.customerName?.errors?.format">Invalid customer name</label>
              </span>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
              *ngIf="['bicycle','Rickshaw','ElectricBike'].indexOf(addParkingForm?.controls?.vehicleType?.value)==-1">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="CustomerAddress" type="text"
                    (keyup.enter)="addParkingForm.valid ? (isEntry ? getWantedVehiclesList() : addExitEntry())  : ''"
                    (ngModelChange)="checkValue($event,'customerAdress')"
                    placeholder="Enter Customer Address" formControlName="customerAdress" autocomplete="off"
                    style="text-transform: uppercase;">
                  <label for="CustomerAddress">Customer Address</label>
                </span>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addParkingForm?.controls?.customerAdress?.invalid && (addParkingForm?.controls?.customerAdress?.dirty ||addParkingForm?.controls?.customerAdress?.touched)">
              
                <label *ngIf="addParkingForm?.controls?.customerAdress?.errors?.format">Invalid customer address</label>
              </span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="Expected" type="number" placeholder="Enter Expected Parking days"
                    formControlName="expectedParkingDays" autocomplete="off" [readOnly]="!isEntry"
                    (keyup.enter)="addParkingForm.valid ? (isEntry ? getWantedVehiclesList() : addExitEntry())  : ''"
                    >
                  <label for="Expected">Expected Parking days</label>
                </span>

              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
              *ngIf="['bicycle','Rickshaw','ElectricBike'].indexOf(addParkingForm?.controls?.vehicleType?.value)==-1">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
              *ngIf="['bicycle','Rickshaw','ElectricBike'].indexOf(addParkingForm?.controls?.vehicleType?.value)==-1">
              <div class="form-group">
                <!-- <span class="has-float-label">
                  <input class="form-control" id="VehicalName" type="text" placeholder="Enter Vehical Name"
                    formControlName="vehicleName" autocomplete="off">
                  <label for="VehicalName">Vehical Name</label>
                </span> -->
                <span class="has-float-label" title="To enable this field please select vehicle type">
                  <input class="form-control" id="VehicalName" type="text" placeholder="Enter Vehicle Name"
                    formControlName="vehicleName" autocomplete="off"
                    (keyup)="isVehicleNameSelected ? isVehicleNameSelected = false : ''" [matAutocomplete]="autoCard1"
                    [readOnly]="!addParkingForm?.controls?.vehicleType?.value" style="text-transform: uppercase;"
                    (keyup.enter)="addParkingForm.valid ? (isEntry ? getWantedVehiclesList() : addExitEntry())  : ''"
                    (ngModelChange)="checkValue($event,'vehicleName')">
                  <label for="VehicalName">Vehicle Name&nbsp;</label>
                </span>
                <mat-autocomplete #autoCard1="matAutocomplete" (optionSelected)="isVehicleNameSelected = true">
                  <!-- (optionSelected)="selectedVehicleName($event)" -->
                  <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option> -->
                  <ng-container>
                    <mat-option *ngFor="let vehicle of filteredVehicleCards | async" [value]="vehicle.name">
                      {{vehicle.vehicleName}}
                    </mat-option>
                  </ng-container>

                </mat-autocomplete>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addParkingForm?.controls?.vehicleName?.invalid && (addParkingForm?.controls?.vehicleName?.dirty ||addParkingForm?.controls?.vehicleName?.touched)">
                
                  <label *ngIf="addParkingForm?.controls?.vehicleName?.errors?.format">Invalid vehicle
                    name</label>
                </span>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
              *ngIf="['bicycle','Rickshaw','ElectricBike'].indexOf(addParkingForm?.controls?.vehicleType?.value)==-1">

              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="vNumber" type="text" placeholder="Vehicle Number/Parking ID"
                    formControlName="vehicleNumber" autocomplete="off" [matAutocomplete]="autoVehicle"
                    (keyup)="searchVehicle(addParkingForm.controls?.vehicleNumber)" style="text-transform: uppercase;"
                    (keyup.enter)="vehicleNumberSelected()" (ngModelChange)="checkValue($event,'vehicleNumber')">
                    <i class="fa fa-spinner fa-spin" style="position: absolute;right: 10px;"*ngIf="isLoading"></i>
                  <!--  -->
                  <label for="vNumber">Vehicle Number/Parking Id </label>
                </span>
                <mat-autocomplete #autoVehicle="matAutocomplete" (optionSelected)="selectedOption($event)">
                  <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option> -->
                  <ng-container>
                    <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle">
                      {{vehicle.vehicleNumber}} - {{vehicle.phone}}
                    </mat-option>
                  </ng-container>

                </mat-autocomplete>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addParkingForm?.controls?.vehicleNumber?.invalid && (addParkingForm?.controls?.vehicleNumber?.dirty ||addParkingForm?.controls?.vehicleNumber?.touched)">
                  <label *ngIf="addParkingForm?.controls?.vehicleNumber?.errors?.required">This field is
                    required</label>
                  <label *ngIf="addParkingForm?.controls?.vehicleNumber?.errors?.pattern || addParkingForm?.controls?.vehicleNumber?.errors?.format">Invalid vehicle
                    number</label>
                </span>


              </div>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="PhoneNumber" type="text" placeholder="Enter Phone Number"
                    maxlength="10" formControlName="phNumber" autocomplete="off" autocomplete="off"
                    [matAutocomplete]="auto" (keyup)="searchVehicle(addParkingForm.controls?.phNumber)"
                    (keyup.enter)="phoneNumberSelected()">
                    <i class="fa fa-spinner fa-spin" style="position: absolute;right: 10px;" *ngIf="isPhoneLoading"></i>
                  <label for="PhoneNumber">Phone Number</label>

                </span>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
                  <!-- <mat-option *ngIf="isPhoneLoading" class="is-loading">Loading...</mat-option> -->
                  <ng-container>
                    <mat-option *ngFor="let phone of filteredPhoneNumbers | async" [value]="phone">
                      {{phone.phone}} - {{phone.vehicleNumber}}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addParkingForm?.controls?.phNumber?.invalid && (addParkingForm?.controls?.phNumber?.dirty ||addParkingForm?.controls?.phNumber?.touched)">
                  <label *ngIf="addParkingForm?.controls?.phNumber?.errors?.pattern">Invalid phone number</label>
                  <label *ngIf="addParkingForm?.controls?.phNumber?.errors?.required">This field is
                    required</label>
                  <label
                    *ngIf="!(addParkingForm?.controls?.phNumber?.errors?.pattern)&&addParkingForm?.controls?.phNumber?.errors?.minlength">Phone Number in 10 digits</label>
                </span>

              </div>
            </div>



            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <button type="button" class=" form-btn suc" (click)="getWantedVehiclesList()" *ngIf="isEntry"
                  [disabled]="spinner||!addParkingForm.valid">
                  Entry
                  <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>
                <button type="button" class="form-btn  btn-danger " *ngIf="!isEntry" (click)="addExitEntry()"
                  [disabled]="spinner||!addParkingForm.valid">Exit
                  &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>
                <button type="button" class=" form-btn dan ml-2" (click)="resetForm()"
                  [disabled]="spinner">Reset</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="devider"></div>

    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Parkings List</strong>
            </div>

            <div class="search-field d-flex justify-content-between">
              <div>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getParkingsList(1)">
                  <option [ngValue]="5">05 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader&&isOnlineStatus">
              <table class="table table-striped table-bordered text-center" *ngIf="parkingsList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Parking ID</th>
                    <th>Vehicle Number</th>

                    <th>Image</th>
                    <th>Phone</th>
                    <th>Type </th>
                    <th>Date & Time of Entry</th>
                    <th>Date & Time of Exit</th>
                    <th>Duration in Hrs</th>
                    <th>Amount</th>
                    <th>Remarks </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of parkingsList;let i=index">
                    <td style="vertical-align: middle;">{{(i+1)+((pageNum-1)*pageSize)}}</td>
                    <td style="vertical-align: middle;">{{getParkingId(data) ?  data.parkingId : data.cardNumber}}<p style="font-size: 16px;
                      color: gray;">{{!getParkingId(data) ?  data.parkingId : ''}}</p></td>
                    <td style="vertical-align: middle;">{{data.vehicleNumber?data.vehicleNumber:'N/A'}}</td>
                    <td style="vertical-align: middle;"><a class="btn-sm btn-info" placement="bottom"
                        [ngbTooltip]="data.image?'Show Image':'No Image preview'"><i *ngIf="data.image"
                          class="fa fa-eye"></i>
                        <i *ngIf="!data.image" class="fa fa-eye-slash "></i></a></td>
                    <td style="vertical-align: middle;">{{data.phone?maskPhoneNumber(data.phone):'N/A'}}</td>

                    <td style="vertical-align: middle;">{{data.vehicleType?getVehicleType(data.vehicleType):'N/A'}}</td>
                    <td style="vertical-align: middle;">{{getStartTime(data.dateAndTimeOfParking)}}</td>
                    <td style="vertical-align: middle;">{{getStartTime(data.dateAndTimeOfExit)}}</td>
                    <td style="vertical-align: middle;">{{getDuration(data.dateAndTimeOfParking,data.status,data.dateAndTimeOfExit)}}</td>
                    <td style="vertical-align: middle;">{{data.finalPrice && data.finalPrice != -1 ?  data.finalPrice : 0}}</td>
                    <td style="vertical-align: middle;">{{isValidCard(data)}}</td>
                    <td style="vertical-align: middle;">
                      <button type="button" [disabled]="data.status=='Exit' || data.status=='Cancelled'"
                        class="btn btn-sm btn-danger" placement="bottom" ngbTooltip="Exit"
                        (click)="addExitEntry(data)"><i class="fa fa-sign-out"></i>
                        Exit</button>&nbsp;
                      <button *ngIf="data.status=='Exit' || data.status=='Cancelled'" class="btn btn-sm btn-warning" placement="bottom"
                        ngbTooltip="Reprint" (click)="exitPrintPreview(data)"><i class="fa fa-print"></i>
                        Reprint</button>
                      <!-- <button *ngIf="data.status=='Entry'" class="btn btn-sm btn-warning" placement="bottom"
                        ngbTooltip="Reprint" (click)="entryPrintPreview(data)"><i class="fa fa-print"></i>
                        Reprint</button> -->
                      <!-- (click)="exitPrintPreview(data)" -->
                      <!-- <button class="btn btn-sm btn-dark" placement="bottom" ngbTooltip="View History" type="button"
                        (click)="openHistoryModal(content,data)"><i class="fa fa-clock-o"></i></button></td> -->
                  </tr>

                </tbody>
              </table>
              <div class="norecords" *ngIf="parkingsList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>

              <div class="card-footer" *ngIf="parkingsList?.length>=0&&!loader">
                <!--Pagination starts here-->
                <section id="basic-pagination" *ngIf="count>pageSize">
                  <nav aria-label="Page navigation mb-3">
                    <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                    <ul class="pagination" style="float:right;">

                      <ul class="pagination">

                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                          <a class="page-link" style="color:#00aae7"
                            (click)="getParkingsList(pager.currentPage -1)">«</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages"
                          [ngClass]="{active:pager.currentPage === page}">
                          <a class="page-link" (click)="getParkingsList(page)">{{page}}</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a class="page-link" style="color:#00aae7"
                            (click)="getParkingsList(pager.currentPage + 1)">»</a>
                        </li>

                      </ul>

                    </ul>

                  </nav>
                </section>

                <!--Pagination ends here-->
              </div>
            </div>
            <div class="card-body" *ngIf="!loader&&!isOnlineStatus">
              <table class="table table-striped table-bordered text-center" *ngIf="parkingsEntryHistoryData?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Parking ID</th>
                    <th>Vehicle Number</th>

                    <th>Image</th>
                    <th>Phone</th>
                    <th>Type </th>
                    <th>Date & Time of Entry</th>
                    <th>Date & Time of Exit</th>
                    <th>Duration in Hrs</th>
                    <th>Amount</th>
                    <th>Remarks </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of parkingsEntryHistoryData;let i=index">
                    <td>{{(i+1)+((pageNum-1)*10)}}</td>
                    <td>{{data.parkingId?data.parkingId:'N/A'}}</td>
                    <td>{{data.vehicleNumber?data.vehicleNumber:'N/A'}}</td>
                    <td><a class="btn-sm btn-info" placement="bottom"
                        [ngbTooltip]="data.image?'Show Image':'No Image preview'"><i *ngIf="data.image"
                          class="fa fa-eye"></i>
                        <i *ngIf="!data.image" class="fa fa-eye-slash "></i></a></td>
                    <td>{{data.phone?maskPhoneNumber(data.phone):'N/A'}}</td>

                    <td>{{data.vehicleType?getVehicleType(data.vehicleType):'N/A'}}</td>
                    <td>{{getStartTime(data.dateAndTimeOfParking)}}</td>
                    <td>{{getStartTime(data.dateAndTimeOfExit)}}</td>
                    <td style="vertical-align: middle;">{{getDuration(data.dateAndTimeOfParking,data.status,data.dateAndTimeOfExit)}}</td>
                    <td style="vertical-align: middle;">{{data.finalPrice && data.finalPrice != -1 ?  data.finalPrice : 0}}</td>
                    <td style="vertical-align: middle;">{{isValidCard(data)}}</td>

                    <td>
                      <button type="button" [disabled]="data.status=='Exit' || data.status=='Cancelled'"
                        class="btn btn-sm btn-danger" placement="bottom" ngbTooltip="Exit"
                        (click)="addExitEntry(data)"><i class="fa fa-sign-out"></i>
                        Exit</button>&nbsp;
                      <button class="btn btn-sm btn-warning" placement="bottom" ngbTooltip="Reprint"
                        (click)="exitPrintPreview(data,'reprint')"
                        *ngIf="data.status=='Exit'|| data.status=='Cancelled'"><i class="fa fa-print"></i>
                        Reprint</button>
                     <!-- <button class="btn btn-sm btn-warning" placement="bottom" ngbTooltip="Reprint"
                        (click)="entryPrintPreview(data,'reprint')" *ngIf="data.status=='Entry'"><i
                          class="fa fa-print"></i> Reprint</button>&nbsp;-->
                      <!-- (click)="exitPrintPreview(data)" -->
                      <!-- <button class="btn btn-sm btn-dark" placement="bottom" ngbTooltip="View History" type="button"
                        (click)="openHistoryModal(content,data)"><i class="fa fa-clock-o"></i></button></td> -->
                  </tr>

                </tbody>
              </table>
              <div class="norecords" *ngIf="parkingsEntryHistoryData?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif" class="img-responsive" />
              </div>

            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Vehicle Name</th>
          <th scope="col">Parking Id</th>
          <th scope="col">Start Time</th>
          <th scope="col">Exit Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of historyData;let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{history.vehicleName}}</td>
          <td>{{history.parkingId}}</td>
          <td>{{getStartTime(history.dateAndTimeOfParking)}}</td>
          <td>{{getStartTime(history.dateAndTimeOfExit)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</ng-template>

<ng-template #previewModal let-modal1>
  <div class="modal-body">
    <app-showpdf *ngIf="editDetails" [selectedStand]="selectedStand" [data]="editDetails"></app-showpdf>
  </div>

</ng-template>
