<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Slip lost vehicles</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Slip lost vehicles</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div class="card">
      <div class="card-header">
        <strong>Search Vehicle</strong>
      </div>
      <div class="card-body">

        <form [formGroup]="searchForm">
          <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="vNumber" type="text" placeholder="Vehicle Number/Parking ID"
                    formControlName="vehicleNumber" autocomplete="off" style="text-transform: uppercase;"
                    [matAutocomplete]="autoVehicle">
                  <!--  -->
                  <label for="vNumber">Vehicle Number</label>
                </span>
                <mat-autocomplete #autoVehicle="matAutocomplete" (optionSelected)="selectedOption($event,'vehicle')">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle">
                      {{vehicle.vehicleNumber}}
                    </mat-option>
                  </ng-container>

                </mat-autocomplete>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="searchForm?.controls?.vehicleNumber?.invalid && (searchForm?.controls?.vehicleNumber?.dirty ||searchForm?.controls?.vehicleNumber?.touched)">
                  <label *ngIf="searchForm?.controls?.vehicleNumber?.errors?.required">This field is
                    required</label>
                  <label *ngIf="searchForm?.controls?.vehicleNumber?.errors?.pattern">Enter valid Vehicle number</label>
                </span>


              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="PhoneNumber" type="text" placeholder="Enter Phone Number"
                    maxlength="10" formControlName="phNumber" autocomplete="off" autocomplete="off">
                  <!-- [matAutocomplete]="auto" (keyup)="searchPhNumber()" -->
                  <label for="PhoneNumber">Phone Number</label>

                </span>
                <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event,'phone')">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let phone of filteredPhoneNumbers | async" [value]="phone">
                      {{phone.phone}}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete> -->
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="searchForm?.controls?.phNumber?.invalid && (searchForm?.controls?.phNumber?.dirty ||searchForm?.controls?.phNumber?.touched)">
                  <label *ngIf="searchForm?.controls?.phNumber?.errors?.pattern">Invalid phone number</label>
                  <label *ngIf="searchForm?.controls?.phNumber?.errors?.required">This field is
                    required</label>
                  <label
                    *ngIf="!(searchForm?.controls?.phNumber?.errors?.pattern)&&searchForm?.controls?.phNumber?.errors?.minlength">Phone
                    number length must
                    be
                    atleast 10 digits</label>
                  <label *ngIf="searchForm?.controls?.phNumber?.errors?.invalidPh">Please enter registered mobile
                    number</label>
                </span>

              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="altPhNumber" type="text" placeholder="Enter Alternative Phone Number"
                    maxlength="10" formControlName="altPhNumber" autocomplete="off" autocomplete="off">
                  <!-- [matAutocomplete]="auto" (keyup)="searchPhNumber()" -->
                  <label for="altPhNumber">Alt Phone Number</label>

                </span>
                <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event,'phone')">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let phone of filteredPhoneNumbers | async" [value]="phone">
                      {{phone.phone}}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete> -->
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="searchForm?.controls?.altPhNumber?.invalid && (searchForm?.controls?.altPhNumber?.dirty ||searchForm?.controls?.altPhNumber?.touched)">
                  <label *ngIf="searchForm?.controls?.altPhNumber?.errors?.pattern">Invalid phone number</label>

                  <label
                    *ngIf="!(searchForm?.controls?.altPhNumber?.errors?.pattern)&&searchForm?.controls?.altPhNumber?.errors?.minlength">Phone
                    number length must
                    be
                    atleast 10 digits</label>
                </span>

              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngIf="showOTP">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="otp" type="text" placeholder="Enter OTP" formControlName="otp"
                    autocomplete="off" (keyup)="enterOTPValue()">
                  <label for="otp">OTP</label>
                </span>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="searchForm?.controls?.otp?.invalid && (searchForm?.controls?.otp?.dirty ||searchForm?.controls?.otp?.touched)">
                  <label *ngIf="searchForm?.controls?.otp?.errors?.invalidOTP">Invalid OTP</label>
                  <label *ngIf="searchForm?.controls?.otp?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
            <div class="col-lg-3">
              <button type="button" *ngIf="userData.data.role!='owner'" class="form-btn btn-warning"
                [disabled]="!searchForm?.controls?.phNumber?.value||!searchForm?.controls?.phNumber?.valid"
                (click)="sendOTP()">{{!showOTP?'Send':'Re-send'}}
                Otp</button>&nbsp;
              <button type="button"
                *ngIf="showOTP&&userData.data.role!='owner'&&searchForm?.controls?.otp?.value?.length==6&&searchForm?.controls?.otp?.valid"
                class="btn btn-success" (click)="getSlipLostVehicleData()">Search Vehicle</button>
              <button type="button" *ngIf="userData.data.role=='owner'" class="btn btn-success"
                (click)="getSlipLostVehicleData()">Search Vehicle</button>
            </div>
          </div>





        </form>
      </div>
    </div>
    <div class="devider"></div>

    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Vehicle List</strong>
            </div>
            <div class="card-body" *ngIf="!loader">
              <table class="table table-striped table-bordered text-center" *ngIf="parkingsList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Parking ID</th>
                    <th>Vehicle Number</th>

                    <th>Image</th>
                    <th>Phone</th>
                    <th>Type </th>
                    <th>Date & Time of Entry</th>
                    <th>Date & Time of Exit</th>

                    <th *ngIf="userData.data.role!='owner'">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of parkingsList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.parkingId?data.parkingId:'N/A'}}</td>
                    <td>{{data.vehicleNumber?data.vehicleNumber:'N/A'}}</td>
                    <td><a class="btn-sm btn-info" placement="bottom"
                        [ngbTooltip]="data.image?'Show Image':'No Image preview'"><i *ngIf="data.image"
                          class="fa fa-eye"></i>
                        <i *ngIf="!data.image" class="fa fa-eye-slash "></i></a></td>
                    <td>{{data.phone?data.phone:'N/A'}}</td>

                    <td>{{data.vehicleType?data.vehicleType:'N/A'}}</td>
                    <td>{{getStartTime(data.dateAndTimeOfParking)}}</td>
                    <td>{{getStartTime(data.dateAndTimeOfExit)}}</td>

                    <td *ngIf="userData.data.role!='owner'">
                      <!--  -->
                      <!-- (click)="entryPrintPreview(data)" -->
                      <button type="button" [disabled]="data.status=='Exit'" class="btn btn-sm btn-danger"
                        placement="bottom" ngbTooltip="Exit" (click)="addExitEntry(data)"><i class="fa fa-sign-out"></i>
                        Exit</button>&nbsp;
                      <button class="btn btn-sm btn-warning" placement="bottom" ngbTooltip="Reprint"
                        (click)="getStandData(data)"><i class="fa fa-print"></i> Reprint</button>&nbsp;
                      <!-- <button class="btn btn-sm btn-dark" placement="bottom" ngbTooltip="View History" type="button"
                        (click)="openHistoryModal(content,data)"><i class="fa fa-clock-o"></i></button></td> -->
                  </tr>

                </tbody>
              </table>
              <div class="norecords" *ngIf="parkingsList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <!-- <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" /> -->
                <img *ngIf="searchForm?.controls?.phNumber?.value&&searchForm?.controls?.vehicleNumber?.value"
                  src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
