<div class="products-section text-center">
  <h1>Our Sectors</h1>
</div>
<div class="top-options">
  <form class="parking-city">


    <div class="p_state_1">
      <select name="state" [(ngModel)]="state" (ngModelChange)="changeState($event)">
        <option value=''>STATE</option>
        <option *ngFor="let state of statesList" [ngValue]="state">{{state.state}}</option>
      </select>

    </div>

    <div class="p_state_1">
      <select id="city" name="city" [(ngModel)]="city" (ngModelChange)="changeCity($event)">
        <option value="">CITY</option>
        <optgroup *ngFor="let data of citiesList" [label]="data.label.district">
          <option *ngFor="let data1 of data.items" [ngValue]='data1'>{{data1.city}}</option>
          <!-- <option value='2'>Guntur</option> -->
        </optgroup>
        <!-- <optgroup label="East Godavari">
          <option>Rajahmundry</option>
          <option>Madhurapudi</option>
          <option>Kakinada</option>
        </optgroup> -->
      </select>

    </div>

    <div class="p_state_1"><input class="l_search btn-block" type="button" value="Search"
        (click)="searchStandsAPICall()"></div>


  </form>
</div>
<div class="search-map">
  <div class="search_content" *ngIf="!loader">
    <div class="search-results" *ngIf="searchData?.length!=0">
      <div class="search-results-content">
        <ul>
          <li *ngFor="let search of searchData;let i=index">
            <div class="cycle">
              <div class="top">
                <!-- <img [src]="https://easyparkings.in/uploads/stand_images/rjy_stn.jpeg" width="150" height="100"> -->
                <img [src]="search.standImage.imgData" width="150"  onError="this.src = 'https://easyparkings.in/uploads/stand_images/rjy_stn.jpeg'" height="100">

                <h3>{{search.standName}}
                  <span>{{search.location.city.city}}</span>
                </h3>
              </div>
              <div class="bottom"><a (click)="getStandDetails(search)"><i class="fa fa-map-marker"></i> Proceed to buy
                  card</a><a><i class="fa fa-map-marker"></i> Get Directions</a></div>

            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="search-map " *ngIf="searchData?.length!=0">
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3815.38342082626!2d81.78438201536765!3d17.00485281819951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37a38cddc92e33%3A0x698bb7e7cdef5a74!2sWebsky%20Software%20Solutions%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1617871561982!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

      <agm-map [latitude]="lat" [longitude]="lng">

        <agm-marker *ngFor="let m of searchData; let i = index" [latitude]="m.latitude" [longitude]="m.longtitue"
          [markerDraggable]="true" (markerClick)="clickedMarker(m?.standName)">
          <agm-info-window>
            <strong>{{m?.standName}},{{m.location.city.city}}</strong>
          </agm-info-window>
        </agm-marker>

        <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
            [radius]="5000"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true">
        </agm-circle> -->

      </agm-map>



    </div>
    <div class="norecords" *ngIf="searchData?.length==0">
      <img src="assets/images/nodataFoundImg.png">
      <!-- <h3>No Records Found</h3>
      <p>There was no record based on the details you selected. Please retry the list</p> -->
    </div>
  </div>

  <div class="search_content" *ngIf="loader">
    <div style="text-align: center;
    padding: 100px 0px 100px 0px;">
      <img src="assets/images/Spinner-2.gif" class="img-responsive" />
    </div>

  </div>
</div>
