.products-section {
  padding: 80px 0 80px 0;
  background: #0f1c50;
  background-image: url(/assets/images/product-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &::after {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: "";
    background-color:rgb(1 71 231 / 73%);
    z-index: 0;
  }

  h1 {
    color: #fff;
    position: relative;
    z-index: 2;
  }
}

.light-img {
  text-align: center;
  overflow: hidden;
  background-color: #000;
  background-image: url("/assets/images/Sector.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 0;

  h3 {

    font-size: 43px;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
  }

  p {

    font-size: 33px;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 0 11px;
  }
}


.top-options {
  box-shadow: 0 0 4px rgb(0 0 0 / 10%);
  border: 1px solid #d7d8d9;
  background-color: #e4e7e9;
  padding: 0 5px;
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
}

.p_state_1 {
  display: table-cell;
  width: 45%;
  vertical-align: middle;
  padding: 10px 5px;
  position: relative;

  select {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #c9d6e3;
    background-color: #fff;
    color: #4d555f;
    font-family: Soleil, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    padding: 10px 14px;
    box-shadow: none !important;
    outline: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input.l_search {

    font-weight: normal;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: #4384f4;
    color: white;
    padding: 8px 25px;

    &:hover {
      background-color: #0d4ebd;
    }
  }
}

.search-map {
  overflow: hidden;
  position: relative;

  .search_content {
    padding-left: 410px;

    .search-results-content {

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .cycle {
        background-color: #fff;
        border-radius: 0px;
        padding: 0px;

        overflow: hidden;
        margin: 10px;
        box-shadow: 0 0 7px -2px rgb(0 0 0 / 20%);

        .top {
          display: flex;

          img {}

          h3 {
            font-size: 16px;
            padding: 10px;
            flex: 1 1 70%;
            margin: 0;

            span {
              display: block;
              font-size: 14px;
              color: #545454;
              padding: 5px 0;
            }
          }
        }

        .bottom {
          padding: 5px;
          border-top: 1px solid #e4e4e4;
          text-align: right;
          cursor: pointer;

          a {
            padding: 8px 11px 9px;
            display: inline-block;
            margin-left: 5px;
            text-decoration: none;
            border-radius: 3px;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: #fff;
            background-color: #4384f4;
            border-color: #4384f4;

            &:last-child {
              background-color: #ffd800;
              color: #000;
            }

            &:hover {
              background-color: #0f1c50;
              color: #fff;
            }
          }

        }
      }
    }

    .search-results {
      overflow: auto;
      background-color: #e3e7e9;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      width: 410px;
    }

    .search-map {
      height: calc(100vh - 122px);

      iframe {
        width: 100%;
        height: 100%;
      }
    }

  }
}

@media screen and (max-width:767px) {
 .products-section{padding:40px 0 40px;}
  .products-section h1{    font-size: 30px;}
  h2{font-size:1.8rem;}
  .search-map {
    .search_content {
      padding-left: 0px;

      .search-results {
        position: static;
        width: 100%;
      }
    }
  }

  .p_state_1 {
    input.l_search {
      padding: 8px 18px;
    }
  }
}

agm-map {
  height: 500px;
}
