<div class="row d-flex" style="margin-top: 5%;position: relative;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card" style="border-radius: 15px;box-shadow: 6px 6px lavender;">
            <div class="card-header mt-2 mb-2 mr-2 ml-2" style="background: none;">
                <div class="row">
                    <span>
                        <h2> Reset Password</h2>
                        Enter below details to reset password
                    </span>
                </div>
            </div>
            <div class="card-body mt-2 mb-2 mr-2 ml-2"> 
                <form [formGroup]="resetPasswordForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="has-float-label">
                                <input type="password" class="form-control" formControlName="currentPassword" id="CurrentPassword" name="CurrentPassword" placeholder="Previous Password">
                                <label for="CurrentPassword">Current Password</label></span>
                                <!-- <span id="username_error" class="help-inline mt-1" style="color: red;">
                                    <label>This field is
                                    required</label>
                                </span> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="has-float-label">
                                <input type="password" class="form-control"  formControlName="newPassword" name="NewPassword" id="NewPassword" placeholder="New Password">
                                <label for="NewPassword">New Password</label>
                            </span>
                            <!-- <span id="username_error" class="help-inline mt-1" style="color: red;">
                                <label>This field is
                                required</label>
                            </span> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="has-float-label">
                                <input type="password" class="form-control" formControlName="confirmPassword" name="ConfirmPassword" id="ConfirmPassword"  placeholder="Confirm Password">
                                <label for="ConfirmPassword">Confirm Password</label>
                            </span>
                            <span id="username_error" *ngIf="resetPasswordForm.controls.newPassword.dirty && resetPasswordForm.controls.confirmPassword.dirty" class="help-inline mt-1" style="color: red;">
                                <label *ngIf="resetPasswordForm.controls.newPassword.value !== resetPasswordForm.controls.confirmPassword.value">New password and confirm password must be same</label>
                            </span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button type="submit" (click)="resetPassword()" [disabled]="!resetPasswordForm.valid || spinner || resetPasswordForm.controls.newPassword.value !== resetPasswordForm.controls.confirmPassword.value" class="btn btn-success ml-5">
                                Change Password
                                <i class="fa fa-spinner" *ngIf="spinner"></i>
                            </button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
