<!-- <div class="wrap-outer"> -->
<div class="home-section">

  <div class="container">
    <div class="d-flex align-items-center">
    <div class="home-form-left"><img src="assets/images/home-mobile.png"></div>
    <div class="home-form-right">

      <h3>Looking for a Parking Place ?<br>Find Parking Place and Buy Monthly Parking Cards Online !</h3>
      <div class="home-form">
        <form class="find">
          <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-xs-12">
              <select name="vehicle_type" [(ngModel)]="vehicle">
                <option value="">Vehicle</option>
                <option value="bicycle" selected>Bicycle</option>
                <option value="twoWheeler">2W</option>
                <option value="threeWheeler">3W</option>
                <option value="fourWheeler">4W</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <select name="months" [(ngModel)]="duration">
                <option value="">Duration</option>
                <option value="1">1 Month</option>
                <option value="2">2 Months</option>
                <option value="3">3 Months</option>
                <option value="6">6 Months</option>
                <option value="12">12 Months</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <input type="date" name="date" [(ngModel)]="date" placeholder="From date"
                class="form-text-blc hasDatepicker" id="dp1617618672848">

            </div> -->

            <div class="col-lg-4 col-md-4 col-xs-12">
              <select name="state" [(ngModel)]="state" (ngModelChange)="changeState($event)">
                <option value=''>STATE</option>
                <option *ngFor="let state of statesList" [ngValue]="state">{{state.state}}</option>
              </select>

            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <select id="city" name="city" [(ngModel)]="city">
                <option value="">CITY</option>
                <optgroup *ngFor="let data of citiesList" [label]="data.label.district">
                  <option *ngFor="let data1 of data.items" [ngValue]='data1'>{{data1.city}}</option>
                </optgroup>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <button class="btn btn-block v_search" type="button" (click)="searchStand()">
                Find Parking
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="shadows"></div>
      <div class="city">
        <div class="d-flex  align-items-center justify-content-center">

          <h3>Service Available in : </h3>


          <ul class="cat-city">
            <li><a (click)="searchStand()">Rajahmundry</a></li>
            <li><a (click)="searchStand()">Kakinada</a></li>
          </ul>

        </div>
      </div>
      <div class="download-buttons">
        <div>
          <a data-toggle="modal" data-target="#ReqModal" class="btn home-btn"><i class="fa fa-map-marker"></i> Parking near me</a>
          <a data-toggle="modal" data-target="#ReqModal" class="btn home-btn two"><i class="fa fa-map-marker"></i> Request a Demo</a>
        </div>
        <div class="da-ss d-flex align-items-center">
          <h3>Download App</h3>
            <a href="#"><img src="assets/images/gp.png"></a>
            <a href="#"><img src="assets/images/as.png"></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="news_scrol">
  <div class="container">
    <marquee>
      <p>With every monthly booking <strong>we plant one tree</strong></p>
      <p>With every monthly booking <strong>we plant one tree</strong></p>
      <p>With every monthly booking <strong>we plant one tree</strong></p>
      <p>With every monthly booking <strong>we plant one tree</strong></p>
    </marquee>
  </div>
</div>

<div class="p-homepage__phone">
  <div class="container">
    <div class="row">

      <div class="col-lg-7">
        <h4>Browsing on your phone?</h4>
        <p>Try out the easyparkings.in app on iOS and Android.</p>
        <!-- <div class="download-buttons">
          <a href="#"><img src="assets/images/gp.png"></a>
          <a href="#"><img src="assets/images/as.png"></a>
        </div> -->
      </div>
      <div class="col-lg-5">
        <img src="assets/images/bp-main-app.png" alt="Browsing on your phone">
      </div>
    </div>
  </div>
</div>
