.container{
    max-width: 80%;
  }
.home-section{min-height: inherit;}
.download-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .home-btn{background: #ffd800;    border-radius: 30px;
    color: #000;margin: 0 5px;    font-size: 15px;
    font-weight: 600;
    &:hover{background: #000;color: #fff;}
    }
    .two{background: #ba0000;color: #fff;}

    a {
    	img{margin:0 5px;}
    }
	h3{
    font-weight: normal;
    font-size: 22px;
    color: white;
    text-align: center;
    margin: 0 0 0px 0;
}
}
@media screen and (max-width:1600px){
    .download-buttons{flex-direction: column;}
    .da-ss{margin-top: 15px;}
}