<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Profile</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Profile</a></li>

      </ol>
    </nav>
  	
    
  </div>
  <div class="page-inner">
  	<div class="row">
  		<div class="col-lg-8">
		  	<div class="card">
		      <div class="card-header">
		        <strong>Edit Profile</strong>
		      </div>
		      <div class="card-body">
					<form action="" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<label class="control-label">Name :</label>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
								  	<input class="form-control" name="name" type="text" value="" required="required" autocomplete="off">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<label class="control-label">Usrename :</label>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
								  	<input class="form-control" name="name" type="text" value="" required="required" autocomplete="off">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<label class="control-label">Password :</label>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
								  	<input class="form-control" name="name" type="text" value="" required="required" autocomplete="off">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<label class="control-label">Re-Type Password :</label>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
								  	<input class="form-control" name="name" type="text" value="" required="required" autocomplete="off">
								</div>
							</div>
						</div>	
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							  <div class="form-actions">
								<button type="submit" id="submit_btn" class="btn btn-success blue">Update Profile</button>&nbsp;
								</div>
							</div>	
						</div>
					</form>
		      </div>
		    </div>
  		</div>
  		
      
  </div>
 </div>