<div class="wrap-outer">
  <div class="products-section text-center">
    <h1>Myaccount</h1>
  </div>
  <div class="ctf-outer">
    <div class="container">

      <div class="my-account-outer">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#account" role="tab" aria-controls="home"
              aria-selected="true" (click)="tabChanged('account')">Account Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" (click)="tabChanged('monthlyCards')" data-toggle="tab"
              href="#monthlyCards" role="tab" aria-controls="profile" aria-selected="false">Monthly Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" (click)="tabChanged('search')" data-toggle="tab" href="#search"
              role="tab" aria-controls="contact" aria-selected="false">Search Request</a>
          </li>
        </ul>
        <div class="tab-content pt-4" id="myTabContent">
          <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="home-tab">
            <div class="py-2">
              <div class="form-group">
                <h4>Personal Info</h4>
              </div>
              <div class="info-wrap">
                <a class="edit-cs" (click)="openModal(content)">Edit Profile</a>
                <ul class="info-list">
                  <li><span class="left">Name</span><span
                      class="right">{{this.userData.data.name}}</span></li>

                  <li><span class="left">Mobile Number</span><span
                      class="right">{{this.userData.data.phoneNumber}}</span></li>
                  <li><span class="left">Vehicle</span><span
                      class="right">{{this.userData.data.vehicleNumber}}</span></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="monthlyCards" role="tabpanel" aria-labelledby="profile-tab">
            <div class="" style="overflow: auto;" *ngIf="!loader">
              <table class="table table-striped table-bordered" *ngIf="monthlyCardsData?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Card No</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Vehicle Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Amount</th>
                    <!-- <th>Discount</th> -->
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Created Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let card of monthlyCardsData;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{card.cardId}}</td>
                    <td>{{card.customerName}}</td>
                    <td>{{card.customerPhone}}</td>
                    <td>{{card.vehicleNumber}}</td>
                    <td>{{getDate(card.startDate)}}</td>
                    <td>{{getDate(card.endDate)}}</td>
                    <td>{{card.amount}}</td>
                    <!-- <td>400</td> -->
                    <td>{{card.duration}} month(s)</td>
                    <td><span class="btn  btn-sm" [class.btn-success]="card.status.toLowerCase()=='active'"
                        [class.btn-danger]="card.status.toLowerCase()=='expired'||card.status.toLowerCase()=='inactive'">{{card.status}}</span>
                    </td>
                    <td>{{card.type}}</td>
                    <td>{{getDate(card.createdDate)}}</td>
                    <td><a class="btn btn-primary btn-sm" placement="bottom" (click)='openRenewalModel(renewalCard,card)' ngbTooltip="Renew Card">Renew Card</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="monthlyCardsData?.length==0">
                <div>
                <img src="assets/images/nodataFoundImg.png" />
              </div>
                <div class="addcard d-flex justify-content-center">
                    <button class="btn btn-primary" routerLink="/oursectors" >Add Card</button>
                </div>
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif" class="img-responsive" />
                <!-- <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" /> -->
              </div>

            </div>
          </div>



          <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="contact-tab">
            <form [formGroup]="searchVehicleForm">

              <div class="row personal-form">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <h4>Search request for Missing vehicle !</h4>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" id="vehical" type="text" placeholder="Enter Vehicle Number"
                        autocomplete="off" formControlName="vehicleNumber" style="text-transform: uppercase;" />
                      <label for="Email">Vehicle Number*</label>
                    </span>

                    <span id="username_error" class="help-inline mt-1" style="color: red;"
                    *ngIf="searchVehicleForm?.controls?.vehicleNumber?.invalid && (searchVehicleForm?.controls?.vehicleNumber?.dirty ||searchVehicleForm?.controls?.vehicleNumber?.touched)">

                    <label *ngIf="searchVehicleForm?.controls?.vehicleNumber?.errors?.required">This field is
                      required</label>
                      <label *ngIf="searchVehicleForm?.controls?.vehicleNumber?.errors?.pattern">Enter valid Vehicle number</label>
                  </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" style="width: 90%;" placeholder="dd/mm/yyyy" name="d1"
                        formControlName="missingDate" ngbDatepicker #d1="ngbDatepicker" readonly>
                      <button class="btn  form-control mb-3" style="width: 10%;border: 1px solid;"
                        (click)="d1.toggle()"><i class="fa fa-calendar" style="padding: 14px 0px 0px 0px;"></i></button>
                      <label for="Missing Date">Missing Date</label>
                    </span>
                    <!-- <span class="has-float-label">
                      <input class="form-control" id="vehical" type="text" placeholder="Enter Vehical Number"
                        autocomplete="off" formControlName="missingDate" />
                      <label for="Email">Missing Date </label>
                    </span> -->

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" id="vehical" type="text" placeholder="Enter Engine Number"
                        autocomplete="off" formControlName="engineNumber" />
                      <label for="Email">Engine Number </label>
                    </span>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" id="vehical" type="number" placeholder="Enter Chassis Number"
                        autocomplete="off" formControlName="chassisNumber" />
                      <label for="Email">Chassis Number </label>
                    </span>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" style="width: 90%;" placeholder="dd/mm/yyyy" name="d1"
                        formControlName="insuranceFrom" ngbDatepicker #d2="ngbDatepicker">
                      <button class="btn  form-control mb-3" style="width: 10%;border: 1px solid;"
                        (click)="d2.toggle()"><i class="fa fa-calendar" style="padding: 14px 0px 0px 0px;"></i></button>
                      <label for="Missing Date">Insurance Valid From</label>
                    </span>
                    <!-- <span class="has-float-label">
                      <input class="form-control" id="vehical" type="text" placeholder="Enter Vehical Number"
                        autocomplete="off" formControlName="insuranceFrom" />
                      <label for="Email">Insurance Valid From</label>
                    </span> -->

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" style="width: 90%;" placeholder="dd/mm/yyyy" name="d1"
                        formControlName="insuranceTo" ngbDatepicker #d3="ngbDatepicker">
                      <button class="btn  form-control mb-3" style="width: 10%;border: 1px solid;"
                        (click)="d3.toggle(); test()"><i class="fa fa-calendar" style="padding: 14px 0px 0px 0px;"></i></button>
                      <label for="Missing Date">Insurance Valid To</label>
                    </span>
                    <!-- <span class="has-float-label">
                      <input class="form-control" formControlName="insuranceTo" id="vehical" type="text" placeholder="Enter Vehical Number"
                        autocomplete="off" />
                      <label for="Name">Insurance Valid To</label>
                    </span> -->

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                  <div class="form-group">
                    <span class="has-float-label">
                      <select class="form-control custom-select" formControlName="policeComplaintMade">
                        <option value="" selected>Select</option>
                        <option value="Yes">
                          Yes
                        </option>
                        <option value="No">
                          No
                        </option>
                      </select>
                      <label for="Name">Lodged Police Complaint*</label>
                    </span>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" id="Phone" (ngModelChange)="test()" formControlName="phoneNumber"
                        type="tel" placeholder="Ex: 9874563213" autocomplete="off" minlength="10" maxlength="10" />
                      <label for="Phone">Phone*</label>
                    </span>

                  </div>
                </div>

                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" id="Book" type="file" formControlName="cBook" placeholder="as@d(?>" autocomplete="off" />
                      <label for="Book">C-Book</label>
                    </span>

                  </div> -->
                  <div class="form-group d-flex align-items-top">
                    <span class="has-float-label">
                      <div class="controls form-control">
                        <div class="uploader mt-2">
                          <input type="file" (change)="uploadFile($event)" id="Image" #Image class="form-control"
                            accept="image/x-png,image/gif,image/jpeg" name="stand_image">
                          <i class="fa fa-upload"></i>
                          <span class="filename"
                            style="user-select: none;">{{fileName ? fileName : 'No file selected'}}</span>
                        </div>
                      </div>
                      <label for="Image">C-Book</label>
                    </span>
                    <div class="st-img" *ngIf="url">
                      <img [src]="url">
                      <i class="fa fa-times-circle-o" (click)="clearFiles();Image.value=''"></i>
                    </div>

                    <span id="username_error" class="help-inline mt-1" style="color: red;" *ngIf="fileError">

                      <label>Image size should be less than 100 KB</label>
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span class="has-float-label">
                      <input class="form-control" id="Vehicle" type="text"
                        placeholder="Ex. Pulsor, Splendor, Activa Etc..." formControlName="remarks"
                        autocomplete="off" />
                      <label for="Vehicle">Vehicle Details </label>
                    </span>

                  </div>
                </div>




              </div>
              <div class="form-actions">
                <!-- !searchVehicleForm.valid || -->
                <button type="button" id="submit_btn" class="btn btn-success" [disabled]=" spinner"
                  (click)="searchRequest()">Submit&nbsp; <i *ngIf="spinner"
                    class="fa fa-spin fa-spinner"></i></button>&nbsp;
                <!-- <button type="button" id="submit_btn" class="btn btn-danger">Cancel</button> -->
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Edit Account Details</h4>
        <!-- showEdit -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateCustomerDetailsForm">
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="Name" type="text" placeholder="Enter Your Name" autocomplete="off"
                    formControlName="name" readonly />
                  <!--  -->
                  <label for="Name">Name*</label>
                </span>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="updateCustomerDetailsForm?.controls?.name?.invalid && (updateCustomerDetailsForm?.controls?.name?.dirty ||updateCustomerDetailsForm?.controls?.name?.touched)">

                  <label *ngIf="updateCustomerDetailsForm?.controls?.name?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="Account" type="text" placeholder="Enter Your Account"
                    autocomplete="off" />
                  <label for="Account">Account*</label>
                </span>

              </div>
            </div> -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" autocomplete="off"
                    formControlName="phoneNumber" maxlength="10" />
                  <label for="Phone">Phone*</label>
                </span>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="updateCustomerDetailsForm?.controls?.phoneNumber?.invalid && (updateCustomerDetailsForm?.controls?.phoneNumber?.dirty ||updateCustomerDetailsForm?.controls?.phoneNumber?.touched)">
                  <label *ngIf="updateCustomerDetailsForm?.controls?.phoneNumber?.errors?.pattern">Invalid phone
                    number</label>
                  <label *ngIf="updateCustomerDetailsForm?.controls?.phoneNumber?.errors?.required">This field is
                    required</label>
                  <label
                    *ngIf="!(updateCustomerDetailsForm?.controls?.phoneNumber?.errors?.pattern)&&updateCustomerDetailsForm?.controls?.phoneNumber?.errors?.minlength">Phone
                    number length must
                    be
                    atleast 10 digits</label>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input class="form-control" id="Email" type="text" placeholder="Enter vehicle number"
                    formControlName="vehicleNumber" autocomplete="off" style="text-transform: uppercase;" />
                  <label for="Email">vehicle Number*</label>
                </span>
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="updateCustomerDetailsForm?.controls?.vehicleNumber?.invalid && (updateCustomerDetailsForm?.controls?.vehicleNumber?.dirty ||updateCustomerDetailsForm?.controls?.vehicleNumber?.touched)">
                  <!-- <label *ngIf="updateCustomerDetailsForm?.controls?.vehicleNumber?.errors?.pattern">Please enter a valid vehicleNumber</label> -->
                  <label *ngIf="updateCustomerDetailsForm?.controls?.vehicleNumber?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="u_name">
                <label>New Password</label>
                <input class="l_name" name="password" value="" id="password" [type]="show ? 'text' : 'password'"
                  placeholder="Password" formControlName="pwd" autocomplete="off" (keyup)="matchPasswords();
                 ">
                <span placement="bottom" *ngIf="show" ngbTooltip="Hide" (click)="showHidePassword()">
                  <i class="fa fa-eye"></i>
                </span>
                <span placement="bottom" *ngIf="!show" ngbTooltip="Show" (click)="showHidePassword()">
                  <i class="fa fa-eye-slash"></i>
                </span>
              </div>
              <span id="username_error" class="help-inline mt-1" style="color: red !important"
                *ngIf="updateCustomerDetailsForm?.controls?.pwd?.invalid && (updateCustomerDetailsForm?.controls?.pwd?.dirty ||updateCustomerDetailsForm?.controls?.pwd?.touched)">

                <label *ngIf="updateCustomerDetailsForm?.controls?.pwd?.errors?.required">This field is
                  required</label>

                <label *ngIf="updateCustomerDetailsForm?.controls?.pwd?.errors?.specialCharacter">Space isn't
                  allowed</label>
              </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="u_name">
                <label>Confirm Password</label>
                <input class="l_name" id="confirm_password" type="password" placeholder="Re-type Password"
                  formControlName="reTypePwd" autocomplete="off" (keyup)="matchPasswords()">
              </div>
              <span id="username_error" class="help-inline mt-1" style="color: red !important"
                *ngIf="updateCustomerDetailsForm?.controls?.reTypePwd?.invalid && (updateCustomerDetailsForm?.controls?.reTypePwd?.dirty ||updateCustomerDetailsForm?.controls?.reTypePwd?.touched)">

                <label *ngIf="updateCustomerDetailsForm?.controls?.reTypePwd?.errors?.required">This field is
                  required</label>
                <label *ngIf="updateCustomerDetailsForm?.controls?.reTypePwd?.errors?.noMatch">Passwords aren't
                  same</label>
              </span>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="button" id="submit_btn" class="btn btn-info blue" (click)="updateProfile()"
              [disabled]="!updateCustomerDetailsForm.valid||!updateCustomerDetailsForm.dirty || !passwordMatched">
              Update&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>&nbsp;
            <button class="btn btn-danger blue" aria-label="Close"
              (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </div>
      </form>
    </ng-template>
    
<ng-template #renewalCard let-renewalmodal>
  <div class="modal-header">
    <h4 class="modal-title">Renewal Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="renewalmodal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="cardsForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="duration"
                (ngModelChange)="durationChanged($event)">
                <option value="1" selected>30 Days</option>
                <option value="2">60 Days</option>
                <option value="3">90 Days</option>
                <option value="6"> 180 Days</option>
                <option value="12">365 Days</option>
              </select>
              <label>Duration</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.duration?.invalid && (cardsForm?.controls?.duration?.dirty ||cardsForm?.controls?.duration?.touched)">

              <label *ngIf="cardsForm?.controls?.duration?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="vehicalType"
                (ngModelChange)="getAmount($event)">
                <!-- <option value="bicycle" selected>Bicycle</option>
                <option value="twoWheeler">2W</option>
                <option value="threeWheeler">3W</option>
                <option value="fourWheeler">4W</option> -->
                <option *ngFor="let type of vehicleTypes" [value]="type.vehicletype">
                  {{type.vehicletypeValue}}
                </option>
              </select>
              <label>Vehicle Type </label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.vehicalType?.invalid && (cardsForm?.controls?.vehicalType?.dirty ||cardsForm?.controls?.vehicalType?.touched)">

              <label *ngIf="cardsForm?.controls?.vehicalType?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label d-flex">
              <input class="form-control" name="dp" formControlName="startDate"
                readonly ngbDatepicker [placeholder]="'DD/MM/YYYY'"
                #d="ngbDatepicker" style="width: 90%;" (ngModelChange)="startDateChanged($event)">
              <button style="    margin-top: -5px;" class="btn btn-success" (click)="d.toggle()"><i
                  class="fa fa-calendar"></i></button>
              <label for="Date">Start Date </label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.startDate?.invalid && (cardsForm?.controls?.startDate?.dirty ||cardsForm?.controls?.startDate?.touched)">

              <label *ngIf="cardsForm?.controls?.startDate?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Number" formControlName="endDate" type="text" placeholder="Enter End Date"
                autocomplete="off" readonly />
              <label for="Number">End Date</label>
            </span>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Number" formControlName="cardNumber" type="text"
                placeholder="Enter Card Number" autocomplete="off" readonly />
              <label for="Number">Card Number</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.cardNumber?.invalid && (cardsForm?.controls?.cardNumber?.dirty ||cardsForm?.controls?.cardNumber?.touched)">

              <label *ngIf="cardsForm?.controls?.cardNumber?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Name" type="text" placeholder="Enter Your Name" formControlName="name"
                autocomplete="off"
                onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" />
              <label for="Name">Name</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.name?.invalid && (cardsForm?.controls?.name?.dirty ||cardsForm?.controls?.name?.touched)">

              <label *ngIf="cardsForm?.controls?.name?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" autocomplete="off"
                minlength="10" maxlength="10" formControlName="phone" />
              <label for="Phone">Phone</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.phone?.invalid && (cardsForm?.controls?.phone?.dirty ||cardsForm?.controls?.phone?.touched)">

              <label *ngIf="cardsForm?.controls?.phone?.errors?.required">Invalid Phone Number</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="cardsForm?.controls?.vehicalType?.value != 'bicycle'">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="VehicleName" type="text" placeholder="Enter Vehicle Number"
                formControlName="vehicalNumber" autocomplete="off" style="text-transform: uppercase;" />
              <label for="VehicleName">Vehicle Number</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.vehicalNumber?.invalid && (cardsForm?.controls?.vehicalNumber?.dirty ||cardsForm?.controls?.vehicalNumber?.touched)">

              <label *ngIf="cardsForm?.controls?.vehicalNumber?.errors?.required">This field is
                required</label>
              <label *ngIf="cardsForm?.controls?.vehicalNumber?.errors?.pattern">Enter valid Vehicle number</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Amount" type="number" placeholder="Enter Amount" formControlName="amount"
                autocomplete="off" readonly (ngModelChange)="changePrice($event)" />
              <label for="Amount">Amount</label>
            </span>
            <!-- <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="cardsForm?.controls?.amount?.invalid && (cardsForm?.controls?.amount?.dirty ||cardsForm?.controls?.amount?.touched)">
            
              <label *ngIf="cardsForm?.controls?.amount?.errors?.required">This field is
                required</label>
            </span> -->
            <!-- <span id="username_error" *ngIf="hasError" class="help-inline mt-1" style="color: red;">
              <label>Price should not be less than {{cardOfferPrice}}</label> </span>
            <span id="username_error" *ngIf="actualAmount < cardsForm.controls.amount.value" class="help-inline mt-1"
              style="color: red;">
              <label>Price should not be greater than {{actualAmount}}</label> </span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" (click)="renewalCardAPICall(renewalmodal)"
          [disabled]="spinner || !cardsForm.valid || !cardsForm.dirty" id="submit_btn"
          class="btn btn-success">Save&nbsp; <i *ngIf="spinner" class="fa fa-spin fa-spinner"></i></button>&nbsp;
        <a class="btn btn-danger" aria-label="Close" (click)="renewalmodal.dismiss('Cross click')">Cancel</a>
      </div>
    </div>
  </form>
</ng-template>
