<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Reports</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Reports</a></li>

      </ol>
    </nav>


  </div>
  <div class="page-inner">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <strong>Reports</strong>
          </div>
          <!-- <form action="" method="post" enctype="multipart/form-data"> -->
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label class="control-label">Report Type :</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="controls">
                    <select class="form-control" [(ngModel)]="reportTypes" (ngModelChange)="reportTypeChanged()" *ngIf="userData?.data?.role=='owner'">
                      <option value="0">Logout Report</option>
                      <option value="1">Pending Vehicles On Logout</option>
                      <option value="2">Logout Vehicle Numbers Report</option>
                      <option value="3">Vehicle Numbers Report</option>
                      <option value="4">Card Sales Report</option>
                    </select>
                    <select class="form-control" [(ngModel)]="reportTypes" (ngModelChange)="reportTypeChanged()" *ngIf="userData?.data?.role!='owner'">
                      <option value="0">Logout Report</option>
                      <option value="1">Pending Vehicles On Logout</option>
                      <option value="2">Logout Vehicle Numbers Report</option>
                      <option value="3">Current Vehicle Numbers Report</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="reportTypes=='0'||reportTypes=='1'||reportTypes=='2'">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label class="control-label">Select Employee :</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="controls">
                    <!-- [disabled]="userData?.data?.role!='owner'&&employee.name.toLowerCase()!=userData.data.name.toLowerCase()" -->
                    <select class="form-control" [(ngModel)]="employee" (ngModelChange)="getLoginSessionsList($event)">
                      <option value="">SELECT</option>
                      <option *ngFor="let employee of employeeList" [ngValue]="employee">
                        {{employee.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="reportTypes=='0'||reportTypes=='1'||reportTypes=='2'">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label class="control-label">Login Session :</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="controls">
                    <select class="form-control" [(ngModel)]="loginSession" [disabled]="!employee"
                      (ngModelChange)="loginSessionChanged($event)">
                      <option value="">SELECT</option>
                      <option *ngFor="let session of loginSessionsList" [ngValue]="session">
                        {{getDate(session.start_time)}} - {{getDate(session.end_time)}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="(reportTypes=='3'||reportTypes=='4')&&userData?.data?.role=='owner'">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label class="control-label">Stand :</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="controls">
                    <select class="form-control" [(ngModel)]="stand" (ngModelChange)="changeStandData($event)">
                      <option value="">SELECT</option>
                      <option *ngFor="let standData of standsList" [ngValue]="standData">
                        {{standData.standName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="reportTypes=='4'&&userData?.data?.role=='owner'">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <label class="control-label">Date :</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control square" placeholder="DD-MM-YYYY" name="dp" [(ngModel)]="fromDate"
                        ngbDatepicker readonly>
                      <input class="form-control square" placeholder="DD-MM-YYYY" name="dp1" [(ngModel)]="toDate"
                        ngbDatepicker readonly>
                      <span> <i *ngIf="showReset" class="fa fa-times img-seach" aria-hidden="true"
                          (click)="ResetDates()"></i></span>

                      <div class="input-group-append">
                        <div class="input-group-text square" (click)="datepick()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                    <div class="date-display" *ngIf="datedisplay">
                      <ngb-datepicker #dp (dateSelect)="onDateSelection($event)"
                        (document:click)="onDateclickOutside($event)" [displayMonths]="2" [dayTemplate]="t">
                      </ngb-datepicker>
                      <ng-template #t let-date="date" let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="color: red;" *ngIf="showError">
              Please fill above details
            </div>
          </div>
          <div class="card-footer">
            <div class="form-actions">
              <button type="submit" id="submit_btn" class="form-btn" (click)="getReports()">Open
                Report</button>&nbsp;
                <!-- <button type="submit" id="submit_btn" class="form-btn" (click)="thermalPrinting()">Employee Printing</button> -->
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
