<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Employees</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Home</li>
        <li class="breadcrumb-item"><a>Employees</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div>
      <div class="top-d-flex">
        <div class="flex-1">

        </div>
        <div>
          <button class="btn btn-success" (click)="openModal(content,'add')" placement="bottom"
            ngbTooltip="Add Employee"><i class="fa fa-plus"></i> Add </button>
          <button class="btn btn-light m-1" placement="bottom" ngbTooltip="Refresh"><i class="fa fa-refresh"
              (click)="getEmploeesList(1)"></i></button>
          <button class="btn btn-sm btn-dark" placement="bottom" ngbTooltip="Back" [routerLink]="['/view-stands']"><i
              class="fa fa-arrow-left"></i> </button>
        </div>
      </div>
    </div>
    <div class="devider"></div>

    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Employees List</strong>
            </div>
            <div class="card-body" *ngIf="!loader">
              <table class="table table-striped table-bordered text-center" *ngIf="employessListData?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Phone </th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of employessListData;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data?.employeeId?data?.employeeId:'N/A'}}</td>
                    <td>{{data?.name?data?.name:'N/A'}}</td>
                    <td>{{data?.phoneNumber?data?.phoneNumber:'N/A'}}</td>
                    <td>{{getStartTime(data.createdDate)}}</td>

                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="data.status"
                          (ngModelChange)="changeStatus(data)">
                        <span class="switch-slider" data-checked="Active" data-unchecked="Inactive"></span>
                      </label>
                    </td>
                    <td><button class="btn btn-sm btn-info" (click)="openModal(content,'update',data)"
                        placement="bottom" ngbTooltip="Edit"><i class="fa fa-edit"></i></button>&nbsp;
                      <button class="btn btn-sm btn-danger" (click)="deleteEmployee(data)" placement="bottom"
                        ngbTooltip="Delete"><i class="fa fa-trash"></i></button>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="employessListData?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="employessListData?.length!=0&&!loader">
              <!--Pagination starts here-->
              <!-- <section id="basic-pagination" >
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section> -->
              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!isEdit">Add Employee</h4>
    <h4 class="modal-title" *ngIf="isEdit">Edit Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form action="" method="post">
    <div class="modal-body">
      <form [formGroup]="addEditEmployeeForm">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="form-group">
              <span class="has-float-label">
                <input class="form-control" *ngIf="!isEdit" id="Employee" type="text" placeholder="Enter Employee Name"
                  autocomplete="off" formControlName="name" />
                <input class="form-control" *ngIf="isEdit" id="Employee" type="text" placeholder="Enter Employee Name"
                  autocomplete="off" formControlName="name" readonly />
                <label for="Employee">Employee Name</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addEditEmployeeForm?.controls?.name?.invalid && (addEditEmployeeForm?.controls?.name?.dirty ||addEditEmployeeForm?.controls?.name?.touched)">

                <label *ngIf="addEditEmployeeForm?.controls?.name?.errors?.required">This field is
                  required</label></span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <span class="has-float-label">
                <input class="form-control" id="Username" type="text" placeholder="Enter Username" autocomplete="off"
                  formControlName="userName" (keyup)="checkUsername();removeSpace(addEditEmployeeForm,'userName')" />
                <label for="Username">Username</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addEditEmployeeForm?.controls?.userName?.invalid && (addEditEmployeeForm?.controls?.userName?.dirty ||addEditEmployeeForm?.controls?.userName?.touched)">
                <label *ngIf="addEditEmployeeForm?.controls?.userName?.errors?.InvalidUserName">Username already
                  exists</label>
                <label *ngIf="addEditEmployeeForm?.controls?.userName?.errors?.required">This field is
                  required</label></span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="!isEdit">
            <div class="form-group">
              <span class="has-float-label">
                <input class="form-control" id="Password" type="password" placeholder="as@d(?>" autocomplete="off"
                  formControlName="pwd" (keyup)="removeSpace(addEditEmployeeForm,'pwd')" />
                <label for="Password">Password*</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addEditEmployeeForm?.controls?.pwd?.invalid && (addEditEmployeeForm?.controls?.pwd?.dirty ||addEditEmployeeForm?.controls?.pwd?.touched)">
                <label *ngIf="addEditEmployeeForm?.controls?.pwd?.errors?.minlength">Password length must be
                  atleast 6 characters</label>
                <label *ngIf="addEditEmployeeForm?.controls?.pwd?.errors?.required">This field is
                  required</label>
                <label *ngIf="addEditEmployeeForm?.controls?.pwd?.errors?.specialCharacter">Space isn't
                  allowed</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <span class="has-float-label">
                <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" autocomplete="off"
                  formControlName="phone" />
                <label for="Phone">Phone*</label>
              </span>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addEditEmployeeForm?.controls?.phone?.invalid && (addEditEmployeeForm?.controls?.phone?.dirty ||addEditEmployeeForm?.controls?.phone?.touched)">
                <label *ngIf="addEditEmployeeForm?.controls?.phone?.errors?.pattern">Characters are not
                  allowed</label>
                <label *ngIf="addEditEmployeeForm?.controls?.phone?.errors?.required">This field is
                  required</label>
                <label
                  *ngIf="!(addEditEmployeeForm?.controls?.phone?.errors?.pattern)&&addEditEmployeeForm?.controls?.phone?.errors?.minlength">Phone
                  number length must
                  be
                  atleast 10 digits</label>
              </span>
            </div>
          </div>


        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" id="submit_btn" class="btn btn-success" *ngIf="!isEdit"
          [disabled]="!addEditEmployeeForm.valid||spinner" (click)="addEditEmployeeData('add')">Save
          <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>
        <button type="button" [disabled]="spinner||!addEditEmployeeForm.dirty" id="submit_btn" class="btn btn-success"
          *ngIf="isEdit" (click)="addEditEmployeeData('update')">Update
          <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i>
        </button>&nbsp;
        <button type="button" class="btn btn-danger" aria-label="Close"
          (click)="modal.dismiss('Cross click')">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>
