<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Settings</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Settings</a></li>
        <li class="breadcrumb-item"><a>Locations</a></li>

      </ol>
    </nav>

  </div>

  <div class="page-inner">
    <div>
      <div class="top-d-flex">
        <div class="flex-1">

        </div>
        <div>
          <button class="btn btn-success" (click)="openModal(content);showEdit=false" placement="bottom"
            [ngbTooltip]="(showStates?'Add State':(showDistricts?'Add District':'Add Location'))"><i
              class="fa fa-plus"></i> Add</button>
          <button class="btn btn-light m-1" placement="bottom" ngbTooltip="Refresh"><i class="fa fa-refresh"
              (click)="ngOnInit()"></i></button>
          <button *ngIf="!showStates&&showDistricts&&!showLocations" class="btn btn-sm btn-dark" placement="bottom"
            ngbTooltip="Back" (click)="backClicked('showDisricts')"><i class="fa fa-arrow-left"></i>
          </button>
          <button *ngIf="!showStates&&!showDistricts&&showLocations" class="btn btn-sm btn-dark" placement="bottom"
            ngbTooltip="Back" (click)="backClicked('showLocations')"><i class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="devider"></div>

    <div class="animated fadeIn" *ngIf="showStates">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>State(s)</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="statePageSize"
                  (ngModelChange)="getStates(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="input" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables" [(ngModel)]="searchStateValue"
                    (input)="searchStates(statesPageNum)"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="statesList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>State</th>
                    <th>District</th>
                    <!-- <th>City/Location</th> -->
                    <!-- <th>Show on Home Page</th> -->

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stateData of statesList;let i=index">
                    <td>{{(i+1)+((statesPageNum-1)*statePageSize)}}</td>
                    <td>{{stateData.state}}</td>
                    <td>{{stateData.districtsCount}}&nbsp;
                      <a class="btn btn-success" placement="bottom" ngbTooltip="show districts"
                        (click)="showDistrictsFn(stateData);getDistricts(1,stateData)"><i class="fa fa-eye"></i></a>
                    </td>
                    <!-- <td><label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                      </label></td> -->
                    <td> <a class="btn btn-info" placement="bottom" ngbTooltip="Edit" title="Edit"
                        (click)="openModal(content,stateData,'stateEdit')"><i class="fa fa-edit"></i></a>&nbsp;
                      <a class="btn btn-danger" placement="bottom" ngbTooltip="Delete" title="Delete"
                        (click)="deleteStateFn(stateData._id)"><i class="fa fa-trash"></i></a></td>

                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="statesList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchStateValue" src="assets/images/Spinner-2.gif" class="img-responsive" />
                <img *ngIf="searchStateValue" src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="statesList?.length!=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:statesPager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7"
                          (click)="setStatesPage(statesPager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of statesPager.pages"
                        [ngClass]="{active:statesPager.currentPage === page}">
                        <a class="page-link" (click)="setStatesPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:statesPager.currentPage === statesPager.totalPages}">
                        <a class="page-link" style="color:#00aae7"
                          (click)="setStatesPage(statesPager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

    <div class="animated fadeIn" *ngIf="showDistricts">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>
                <span (click)="backClicked('showDisricts')" style="cursor: pointer;">
                  {{currentStateDataBreadCrumb.state}}
                </span>
                <span>
                  /
                </span>
                <span>
                  District(s)
                </span>
              </strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="districtPageSize"
                  (ngModelChange)="getDistricts(1,currentDistrictData)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="text" class="form-control input-sm" placeholder="Search records"
                    [(ngModel)]="searchDistrictValue" (input)="searchDistricts(districtsPageNum)"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="districtsList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>District</th>
                    <th>City/Location</th>
                    <!-- <th>Show on Home Page</th> -->

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let districtData of districtsList;let i=index">
                    <td>{{(i+1)+((districtsPageNum-1)*districtPageSize)}}</td>
                    <td>{{districtData.district}}</td>
                    <td>{{districtData.citiesCount}}&nbsp;
                      <a class="btn btn-success" placement="bottom" ngbTooltip="show City/Location"
                        (click)="showLocationsFn(districtData);getCities(1,districtData)"><i class="fa fa-eye"></i></a>
                    </td>
                    <!-- <td><label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                      </label></td> -->
                    <td> <a class="btn btn-info" placement="bottom" ngbTooltip="Edit" title="Edit"
                        (click)="openModal(content,districtData,'districtEdit')"><i class="fa fa-edit"></i></a>&nbsp;
                      <a class="btn btn-danger" placement="bottom" ngbTooltip="Delete" title="Delete"
                        (click)="deleteDistrictFn(districtData._id)"><i class="fa fa-trash"></i></a></td>

                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="districtsList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchDistrictValue" src="assets/images/Spinner-2.gif" class="img-responsive" />
                <img *ngIf="searchDistrictValue" src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="districtsList?.length!=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:districtsPager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7"
                          (click)="setStatesPage(districtsPager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of districtsPager.pages"
                        [ngClass]="{active:districtsPager.currentPage === page}">
                        <a class="page-link" (click)="setStatesPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item"
                        [ngClass]="{disabled:districtsPager.currentPage === districtsPager.totalPages}">
                        <a class="page-link" style="color:#00aae7"
                          (click)="setStatesPage(districtsPager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

    <div class="animated fadeIn" *ngIf="showLocations">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>
                <span (click)="backClicked('showDisricts')" style="cursor: pointer;">
                  {{currentStateDataBreadCrumb.state}}
                </span>

                <span>
                  /
                </span>

                <span (click)="backClicked('showLocations')" style="cursor: pointer;">
                  {{currentDistrictData.district}}
                </span>

                <span>
                  /
                </span>

                <span>
                  Location(s)
                </span>

              </strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="cityPageSize"
                  (ngModelChange)="getCities(1,currentStateData)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="text" class="form-control input-sm" placeholder="Search records"
                    [(ngModel)]="searchCityValue" (input)="searchCities(citiesPageNum)"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="citiesList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Location</th>
                    <!-- <th>Show on Home Page</th> -->

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let locationData of citiesList;let i=index">
                    <td>{{(i+1)+((citiesPageNum-1)*cityPageSize)}}</td>
                    <td>{{locationData.city}}
                    </td>
                    <!-- <td><label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                      </label></td> -->
                    <td> <a class="btn btn-info" placement="bottom" ngbTooltip="Edit" title="Edit"
                        (click)="openModal(content,locationData,'locationEdit')"><i class="fa fa-edit"></i></a>&nbsp;
                      <a class="btn btn-danger" placement="bottom" ngbTooltip="Delete" title="Delete"
                        (click)="deleteLocationFn(locationData._id)"><i class="fa fa-trash"></i></a></td>

                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="citiesList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchCityValue" src="assets/images/Spinner-2.gif" class="img-responsive" />
                <img *ngIf="searchCityValue" src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="citiesList?.length!=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:citiesPager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7"
                          (click)="setStatesPage(citiesPager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of citiesPager.pages"
                        [ngClass]="{active:citiesPager.currentPage === page}">
                        <a class="page-link" (click)="setStatesPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:citiesPager.currentPage === citiesPager.totalPages}">
                        <a class="page-link" style="color:#00aae7"
                          (click)="setStatesPage(citiesPager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="showStates">{{showEdit ? 'Edit' : 'Add'}} State</h4>
    <h4 class="modal-title" *ngIf="showDistricts">{{showEdit ? 'Edit' : 'Add'}} District</h4>
    <h4 class="modal-title" *ngIf="showLocations">{{showEdit ? 'Edit' : 'Add'}} Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showStates">
        <div class="form-group">
          <label class="control-label">State :</label>
          <div class="controls">
            <input type="text" class="form-control input-sm" placeholder="Add state" [(ngModel)]="stateValue">
            <!-- <select class="form-control" [(ngModel)]="stateValue">
                <option>Rental</option>
                <option>Card Sales</option>
              </select> -->
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showDistricts">
        <div class="form-group">
          <label class="control-label">District :</label>
          <div class="controls">
            <input type="text" class="form-control input-sm" placeholder="Add District" [(ngModel)]="districtValue">
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showLocations">
        <div class="form-group">
          <label class="control-label">Location :</label>
          <div class="controls">
            <input type="text" class="form-control input-sm" placeholder="Add Location" [(ngModel)]="cityValue">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" id="submit_btn" class="btn btn-info blue" *ngIf="showStates"
          (click)="addLocations('state')" [disabled]="!stateValue||spinner">Save&nbsp; <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i> </button>
        <button type="button" id="submit_btn" class="btn btn-info blue" *ngIf="showDistricts"
          [disabled]="!districtValue||spinner" (click)="addLocations('district')">Save
          &nbsp; <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>
        <button type="button" id="submit_btn" class="btn btn-info blue" *ngIf="showLocations"
          [disabled]="!cityValue||spinner" (click)="addLocations('location')">Save
          &nbsp; <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button> &nbsp;
        <a class="btn btn-danger blue" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</a>
      </div>
    </div>

  </div>

</ng-template>
