<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Help Requests</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Help Requests</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Help Requests List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getRequestsList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button" (click)="getExcelApplicationsList('copy')"><i class="fa fa-clone"></i>
                    <span>Copy</span></button>
                  <button class="DTTT_button" (click)="getExcelApplicationsList('pdf')"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="getExcelApplicationsList('excel')"><i
                          class="fa fa-file-excel-o"></i>
                        <span>Excel</span></button>
                      <button ngbDropdownItem (click)="getExcelApplicationsList('csv')"><i
                          class="fa fa-file-text-o"></i>
                        <span>CSV</span></button>
                      <button ngbDropdownItem (click)="getExcelApplicationsList('pdf')"><i class="fa fa-file-pdf-o"></i>
                        <span>PDF</span></button>

                    </div>
                  </div>
                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables" (keyup)="getRequestsList(pageNum)" [(ngModel)]="searchText"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="requestsList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Request</th>
                    <th>Subject</th>
                    <th>Message</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of requestsList;let i=index">
                    <td>{{(i+1)+((pageNum-1)*pageSize)}}</td>
                    <td>{{request.name || 'N/A'}}</td>
                    <td>{{request.email || 'N/A'}}</td>
                    <td>{{getTime(request.createdDate)}}</td>
                    <td>{{request.subject || 'N/A'}}</td>
                    <td>{{request.message?request.message:'N/A'}}</td>
                  </tr>

                </tbody>
              </table>
              <div class="norecords" *ngIf="requestsList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                  <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
                padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchText" src="assets/images/Spinner-2.gif" class="img-responsive" />
                <img *ngIf="searchText" src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="requestsList?.length!=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
