<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Accounts</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Accounts</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div>
      <div class="top-d-flex">
        <div class="flex-1">
          <h4>Total Account {{count}}</h4>
          <h4 class="badge badge-success badge-pill"><i class="fa fa-check-circle"></i>Active
            {{activeCount}}</h4>
          <h4 class="badge badge-danger badge-pill "><i class="fa fa-check-circle"></i>Expired
            {{inactiveCount}}</h4>
        </div>
        <div>
          <button type="button" class="btn btn-success" (click)="openModal(content,'add')" placement="bottom"
            ngbTooltip="Add Account"><i class="fa fa-plus"></i> Add</button>
          <button type="button" class="btn btn-light m-1" placement="bottom" (click)="getOwners(1,1)"
            ngbTooltip="Refresh"><i class="fa fa-refresh"></i></button>
          <!-- <button class="btn btn-danger" placement="bottom" ngbTooltip="Delete"><i class="fa fa-trash-o"></i> </button> -->
        </div>
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Accounts List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getOwners(1,1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button" type="button" (click)="getAllownersData('copy')"><i
                      class="fa fa-clone"></i>
                    <span>Copy</span></button>

                  <button class="DTTT_button" (click)="getAllownersData('pdf')"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="getAllownersData('excel')"><i class="fa fa-file-excel-o"></i>
                        <span>Excel</span></button>
                      <button ngbDropdownItem (click)="getAllownersData('csv')"><i class="fa fa-file-text-o"></i>
                        <span>CSV</span></button>
                      <button ngbDropdownItem (click)="getAllownersData('pdf')"><i class="fa fa-file-pdf-o"></i>
                        <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>

              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="ownersData?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Account ID</th>
                    <th>Contractor</th>
                    <th>User Name</th>
                    <th>Mobile No</th>
                    <th>Email</th>
                    <th>Plan</th>
                    <th>Account</th>
                    <th>Created On</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let owner of ownersData;let i=index">
                    <td scope="row">{{(i+1)}}</td>
                    <td>{{owner.ownerId?owner.ownerId:'N/A'}}</td>
                    <td>{{owner.name?owner.name:'N/A'}}</td>
                    <td>{{owner.userName?owner.userName:'N/A'}}</td>
                    <td>{{owner.phoneNumber?owner.phoneNumber:'N/A'}}</td>
                    <td>{{owner.emailId?owner.emailId:'N/A'}}</td>
                    <td>{{owner.planType?owner.planType:'N/A'}}</td>
                    <td> <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="owner.showStatus"
                          (ngModelChange)="changeStatus(owner)">
                        <span class="switch-slider" data-checked="Active" data-unchecked="Inactive"></span>
                      </label></td>
                    <td>{{owner.createdDate?getDate(owner.createdDate):'N/A'}}</td>
                    <td>
                      <a class="btn btn-info" title="Edit" (click)="openModal(content,'update',owner)"><i
                          class="fa fa-edit"></i></a>&nbsp;
                      <a class="btn btn-danger" title="Delete" (click)="deleteOwner(owner)"><i
                          class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="ownersData?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="ownersData?.length!=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>

      <!--/.row-->

    </div>


  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 *ngIf="!showEdit" class="modal-title">Add Account</h4>
    <h4 *ngIf="showEdit" class="modal-title">Update Account</h4>
    <!-- showEdit -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addEditOwnerForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Name" type="text" placeholder="Enter Your Name" autocomplete="off"
                formControlName="name" />
              <label for="Name">Name*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.name?.invalid && (addEditOwnerForm?.controls?.name?.dirty ||addEditOwnerForm?.controls?.name?.touched)">

              <label *ngIf="addEditOwnerForm?.controls?.name?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Account" type="text" placeholder="Enter Your Account"
                autocomplete="off" />
              <label for="Account">Account*</label>
            </span>

          </div>
        </div> -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input *ngIf="showEdit" class="form-control" id="Username" type="text" placeholder="Enter Your Username"
                autocomplete="off" formControlName="userName" readonly />
              <input *ngIf="!showEdit" class="form-control" id="Username" type="text" placeholder="Enter Your Username"
                autocomplete="off" formControlName="userName" (keyup)="removeSpace(addEditOwnerForm,'userName')" />
              <label for="Username">Username*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.userName?.invalid && (addEditOwnerForm?.controls?.userName?.dirty ||addEditOwnerForm?.controls?.userName?.touched)">
              <label *ngIf="addEditOwnerForm?.controls?.userName?.errors?.InvalidUserName">Username already
                exists</label>
              <label *ngIf="addEditOwnerForm?.controls?.userName?.errors?.required">This field is
                required</label></span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="!showEdit">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Password" type="password" placeholder="as@d(?>" formControlName="password"
                autocomplete="off" (keyup)="removeSpace(addEditOwnerForm,'password')" />
              <label for="Password">Password*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.password?.invalid && (addEditOwnerForm?.controls?.password?.dirty ||addEditOwnerForm?.controls?.password?.touched)">
              <label *ngIf="addEditOwnerForm?.controls?.password?.errors?.minlength">Password length must be
                atleast 6 characters</label>
              <label *ngIf="addEditOwnerForm?.controls?.password?.errors?.required">This field is
                required</label>
              <label *ngIf="addEditOwnerForm?.controls?.password?.errors?.specialCharacter">Space isn't
                allowed</label></span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" autocomplete="off"
                formControlName="phoneNumber" maxlength="10" />
              <label for="Phone">Phone*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.phoneNumber?.invalid && (addEditOwnerForm?.controls?.phoneNumber?.dirty ||addEditOwnerForm?.controls?.phoneNumber?.touched)">
              <label *ngIf="addEditOwnerForm?.controls?.phoneNumber?.errors?.pattern">Invalid phone number</label>
              <label *ngIf="addEditOwnerForm?.controls?.phoneNumber?.errors?.required">This field is
                required</label>
              <label
                *ngIf="!(addEditOwnerForm?.controls?.phoneNumber?.errors?.pattern)&&addEditOwnerForm?.controls?.phoneNumber?.errors?.minlength">Phone
                number length must
                be
                atleast 10 digits</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Email" type="text" placeholder="Enter Your Email" formControlName="email"
                autocomplete="off" />
              <label for="Email">Email*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.email?.invalid && (addEditOwnerForm?.controls?.email?.dirty ||addEditOwnerForm?.controls?.email?.touched)">
              <label *ngIf="addEditOwnerForm?.controls?.email?.errors?.pattern">Please enter a valid email</label>
              <label *ngIf="addEditOwnerForm?.controls?.email?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="planType" (change)="changePlanType($event)">
                <option value="Trial Mode">Trial Mode</option>
                <option value="Rental">Rental</option>
                <option value="Card Sales">Card Sales</option>
              </select>
              <label>Plan*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.planType?.invalid && (addEditOwnerForm?.controls?.planType?.dirty ||addEditOwnerForm?.controls?.planType?.touched)">

              <label *ngIf="addEditOwnerForm?.controls?.planType?.errors?.required">This field is
                required</label>

            </span>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="addEditOwnerForm?.controls?.planType?.value=='Rental'">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select" formControlName="duration">
                <option value="30 Days">30 Days</option>
                <option value="90 Days">90 Days</option>
                <option value="180 Days">180 Days</option>
                <option value="365 Days">365 Days</option>
              </select>
              <label>Duration*</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.duration?.invalid && (addEditOwnerForm?.controls?.duration?.dirty ||addEditOwnerForm?.controls?.duration?.touched)">
              <label *ngIf="addEditOwnerForm?.controls?.duration?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
          *ngIf="addEditOwnerForm?.controls?.planType?.value=='Trial Mode'">
          <div class="form-group">
            <span class="has-float-label d-flex">
              <input class="form-control" name="dp" formControlName="trailStartDate" readonly ngbDatepicker
                [placeholder]="'DD/MM/YYYY'" #d="ngbDatepicker" style="width: 90%;">
              <!--  (click)="d.toggle()" -->
              <button class="btn  form-control mb-3" style="width: 10%;border: 1px solid;"><i class="fa fa-calendar"
                  style="padding: 14px 0px 0px 0px;"></i></button>
              <label for="Date">Start Date </label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.trailStartDate?.invalid && (addEditOwnerForm?.controls?.trailStartDate?.dirty ||addEditOwnerForm?.controls?.trailStartDate?.touched)">

              <label *ngIf="addEditOwnerForm?.controls?.trailStartDate?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
          *ngIf="addEditOwnerForm?.controls?.planType?.value=='Trial Mode'">
          <div class="form-group">
            <span class="has-float-label d-flex">
              <input class="form-control" name="dp" formControlName="trailEndDate" readonly ngbDatepicker
                [placeholder]="'DD/MM/YYYY'" #d1="ngbDatepicker" style="width: 90%;">
              <button class="btn  form-control mb-3" style="width: 10%;border: 1px solid;" (click)="d1.toggle()"><i
                  class="fa fa-calendar" style="padding: 14px 0px 0px 0px;"></i></button>
              <label for="Date">End Date </label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.trailEndDate?.invalid && (addEditOwnerForm?.controls?.trailEndDate?.dirty ||addEditOwnerForm?.controls?.trailEndDate?.touched)">

              <label *ngIf="addEditOwnerForm?.controls?.trailEndDate?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
          *ngIf="addEditOwnerForm?.controls?.planType?.value=='Card Sales'">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="onlinePercentage" type="onlinePercentage"
                placeholder="Enter Online Payment Percentage" formControlName="onlinePercentage" autocomplete="off" />
              <label for="onlinePercentage">Online Payment Percentage</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="addEditOwnerForm?.controls?.onlinePercentage?.invalid && (addEditOwnerForm?.controls?.onlinePercentage?.dirty ||addEditOwnerForm?.controls?.onlinePercentage?.touched)">
              <label *ngIf="addEditOwnerForm?.controls?.onlinePercentage?.errors?.pattern">Characters are not
                allowed</label>
              <label *ngIf="addEditOwnerForm?.controls?.onlinePercentage?.errors?.required">This field is
                required</label>
              <label
                *ngIf="!(addEditOwnerForm?.controls?.onlinePercentage?.errors?.pattern)&&addEditOwnerForm?.controls?.onlinePercentage?.errors?.minlength">Phone
                number length must
                be atleast 1 digit</label>
            </span>
          </div>
        </div>

      </div>


    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button *ngIf="!showEdit" type="button" id="submit_btn" (click)="AddEditOwnerData('add')"
          [disabled]="!addEditOwnerForm.valid||spinner" class="btn btn-info blue">Save&nbsp;<i
            class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>&nbsp;
        <button *ngIf="showEdit" type="button" id="submit_btn" class="btn btn-info blue"
          [disabled]="!addEditOwnerForm.valid||spinner||!addEditOwnerForm.dirty" (click)="AddEditOwnerData('update')">
          Update&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>&nbsp;
        <button class="btn btn-danger blue" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>
