.container{
    max-width: 80%;
  }
.disabled {
  pointer-events: none
}

.notDisabled {
  pointer-events: auto;
  cursor: pointer;
}
@media screen and (max-width:1280px){
.container{
    max-width: 85%;
  }
}

@media (min-width:992px) and (max-width:1199px){
.container{
    max-width: 90%;
  }
}