<header class="animated fadeInDown" id="header">
  <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-6 col-xs-8">
      <div class="logo">
        <a routerLink="/home"><img src="assets/images/logo.png"></a>
        <div class="mobile-login"><a routerLink="/login"><i class="fa fa-user-circle"></i>Sign in</a></div>
      </div>
      
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-4 mob-none">

      <nav class="navbar navbar-expand-lg navbar-light bg-none">

        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">

            <li class="nav-item active"><a routerLink="/home">Home</a></li>
            <li class="nav-item" class="dropbtn">
              <a routerLink="/products">Products</a>
              <!-- <div class="drop">
                <ul>
                  <li><a href="" data-toggle="modal" data-target="#myModal-1">Consumer App</a></li>
                  <li><a href="https://easyparkings.in/products?tab=operator">Operator App</a></li>
                  <li><a href="https://easyparkings.in/products?tab=dashboard">Dash Board</a></li>
                  <li><a href="https://easyparkings.in/products?tab=reports">Reports</a></li>
                </ul>
              </div> -->
            </li>
            <li class="nav-item"><a routerLink="/oursectors">Our Sectors</a></li>
            <li class="nav-item"><a data-toggle="modal" data-target="#exampleModal"
                style="color: #fff;cursor: pointer;">Careers</a>
            </li>

            <li class="nav-item" *ngIf="!isEmployee&&!isCustomer">
              <div class="sign-in"><a routerLink="/login">Sign in</a>
                <a routerLink="/register" class="two">Sign up</a>
              </div>
            </li>
            <li class="nav-item" *ngIf="isEmployee">
              <div class="sign-in"><a (click)="routeToEmpDashboard()" [class.disabled]="standSelected"
                  [class.notDisabled]="!standSelected">Dashboard</a>
                <!-- <a routerLink="/register" class="two">Sign up</a> -->
              </div>
            </li>
            <li class="nav-item" *ngIf="isCustomer">
              <div class="sign-in"><a routerLink="/my-account">Dashboard</a>
                <!-- <a routerLink="/register" class="two">Sign up</a> -->
              </div>
            </li>
            <li class="nav-item" *ngIf="isEmployee||isCustomer">
              <div class="sign-in"><a (click)="logout()" style="cursor: pointer;">Sign out</a>
                <!-- <a routerLink="/register" class="two">Sign up</a> -->
              </div>
            </li>

            <li class="nav-item"><a routerLink="/help">Help</a></li>
          </ul>
        </div>
      </nav>

      <!-- <div class="mobinav"><img src="https://easyparkings.in/assets/fr/images/menu.png"></div>
      <div class="menu">
        <div class="navclsbtn"><img src="https://easyparkings.in/assets/fr/images/close.png"></div>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li class="dropbtn">
            <a routerLink="/products">Products</a>

          </li>
          <li><a routerLink="/oursectors">Our Sectors</a></li>
          <li><a data-toggle="modal" data-target="#exampleModal" style="color: #fff;">Careers</a></li>

          <li *ngIf="!isEmployee">
            <div class="sign-in"><a routerLink="/login">Sign in</a>

            </div>
          </li>
          <li *ngIf="isEmployee">
            <div class="sign-in"><a routerLink="/login">Dashboard</a>

            </div>
          </li>
          <li *ngIf="isEmployee">
            <div class="sign-in"><a routerLink="/login">Sign out</a>

            </div>
          </li>

          <li><a routerLink="/help">Help</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
</header>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Careers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeCareersModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addCareersForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Full Name *</label>
              <div class="form-group">
                <input type="text" name="name" class="form-control" formControlName="fullName" autocomplete="off">
              </div>
              <span id="username_error" class="help-inline mt-1" style="color: red;"
                *ngIf="addCareersForm?.controls?.fullName?.invalid && (addCareersForm?.controls?.fullName?.dirty ||addCareersForm?.controls?.fullName?.touched)">

                <label *ngIf="addCareersForm?.controls?.fullName?.errors?.required">This field is
                  required</label>
              </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Qualification</label>
              <div class="form-group">
                <input type="text" name="qualification" class="form-control" formControlName="qualification"
                  autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.qualification?.invalid && (addCareersForm?.controls?.qualification?.dirty ||addCareersForm?.controls?.qualification?.touched)">

                  <label *ngIf="addCareersForm?.controls?.qualification?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Age *</label>
              <div class="form-group">
                <input type="text" name="age" class="form-control" formControlName="age" maxlength="2"
                  autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.age?.invalid && (addCareersForm?.controls?.age?.dirty ||addCareersForm?.controls?.age?.touched)">
                  <label *ngIf="addCareersForm?.controls?.age?.errors?.pattern">Characters are not
                    allowed</label>
                  <label *ngIf="addCareersForm?.controls?.age?.errors?.required">This field is
                    required</label>

                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Preferred Salary *</label>
              <div class="form-group">
                <input type="text" name="age" class="form-control" formControlName="salary" autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.salary?.invalid && (addCareersForm?.controls?.salary?.dirty ||addCareersForm?.controls?.salary?.touched)">
                  <label *ngIf="addCareersForm?.controls?.salary?.errors?.pattern">Characters are not
                    allowed</label>
                  <label *ngIf="addCareersForm?.controls?.salary?.errors?.required">This field is
                    required</label>

                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Email</label>
              <div class="form-group">
                <input type="email" name="email" class="form-control" formControlName="email" autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.email?.invalid && (addCareersForm?.controls?.email?.dirty ||addCareersForm?.controls?.email?.touched)">
                  <label *ngIf="addCareersForm?.controls?.email?.errors?.pattern">Please enter a valid email</label>
                  <label *ngIf="addCareersForm?.controls?.email?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Phone Number *</label>
              <div class="form-group">
                <input type="text" name="phone" minlength="10" maxlength="10" class="form-control"
                  formControlName="phoneNumber" autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.phoneNumber?.invalid && (addCareersForm?.controls?.phoneNumber?.dirty ||addCareersForm?.controls?.phoneNumber?.touched)">
                  <label *ngIf="addCareersForm?.controls?.phoneNumber?.errors?.pattern">Characters are not
                    allowed</label>
                  <label *ngIf="addCareersForm?.controls?.phoneNumber?.errors?.required">This field is
                    required</label>
                  <label
                    *ngIf="!(addCareersForm?.controls?.phoneNumber?.errors?.pattern)&&addCareersForm?.controls?.phoneNumber?.errors?.minlength">Phone
                    number length must
                    be
                    atleast 10 digits</label>
                </span>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>State *</label>
              <div class="form-group">
                <input type="text" name="state" class="form-control" formControlName="state" autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.state?.invalid && (addCareersForm?.controls?.state?.dirty ||addCareersForm?.controls?.state?.touched)">

                  <label *ngIf="addCareersForm?.controls?.state?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>District *</label>
              <div class="form-group">
                <input type="text" name="city" class="form-control" formControlName="district" autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.district?.invalid && (addCareersForm?.controls?.district?.dirty ||addCareersForm?.controls?.district?.touched)">

                  <label *ngIf="addCareersForm?.controls?.district?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>City *</label>
              <div class="form-group">
                <input type="text" name="city" class="form-control" formControlName="city" autocomplete="off">
                <span id="username_error" class="help-inline mt-1" style="color: red;"
                  *ngIf="addCareersForm?.controls?.city?.invalid && (addCareersForm?.controls?.city?.dirty ||addCareersForm?.controls?.city?.touched)">

                  <label *ngIf="addCareersForm?.controls?.city?.errors?.required">This field is
                    required</label>
                </span>
              </div>
            </div>
          
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <label>Complete Address</label>
              <div class="form-group">
                <input type="text" name="addr" class="form-control" autocomplete="off"
                  formControlName="CompleteAddress">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label>Message</label>
              <div class="form-group">
                <textarea name="msg" class="form-control" autocomplete="off" formControlName="message"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary submit" [disabled]="!addCareersForm.valid"
            (click)="careersAdded()">
            Submit Details
            <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
