<div class="home-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">  
        <div class="user_login">
            <h3>Need Help! Please Contact Us</h3>
          <form [formGroup]="addRequrestForm">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>Full Name</label>
                  <input class="l_name" name="name" formControlName="fullName" type="text" placeholder="Full Name">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">  
                <div class="u_name">
                  <label>Email</label>
                  <input class="l_name" name="email" type="email" formControlName="email" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="u_name">
                  <label>Subject</label>
                  <input class="l_name" name="subject" formControlName="subject" type="text" placeholder="Subject">
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="u_name">
                  <label>Message</label>
                  <textarea class="l_name" name="msg"  formControlName="message" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="u_name">
                  <button type="submit" [disabled]="!addRequrestForm.valid || spinner" (click)="addHelpRequest()" value="Submit" class="login-btn">
                   Submit <i class="fa fa-spinner fa-spin" *ngIf="spinner"></i> 
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div></div>