<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Card Sales</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Card Sales</a></li>
      </ol>
    </nav>
  </div>
  <div class="page-inner">
    <div class="card">
      <div class="card-header">
        <strong>Select By</strong>
      </div>
      <div class="card-body">
        <form action="" method="post">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">Owner :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]='selectedOwner' name="owners" (ngModelChange)="getStandsList($event)">
                  <option *ngFor="let owner of owners" [value]="owner.ownerId">{{owner.name}}</option>
                </select>
              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">Stand :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]="selectedStand" [disabled]="!selectedOwner" name="stand">
                  <option value=''>Select Stand</option>
                  <option *ngFor="let stand of standsList" [ngValue]="stand">{{stand.standName}}</option>
                </select>
              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <label class="control-label">&nbsp;</label>
              <div class="form-actions">
                <button type="button" class="form-btn btn-info blue" (click)="search()">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="devider"></div>
      <div class="animated fadeIn">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1" (click)="getCardsList('online')">
            <a ngbNavLink>Online Card Sales</a>
            <ng-template ngbNavContent>
             
              <div class="card">
                <div class="card-header">
                  <strong>Online Card Sales List</strong>
                </div>
                <div class="search-field d-flex justify-content-between">
                      <!-- <div class="d-flex">
                        <div>
                          <button class="DTTT_button" (click)="copyTable()"><i class="fa fa-clone"></i> <span>Copy</span></button>

                          <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                          <div ngbDropdown class="d-inline-block">
                            <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                              Export</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                              <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                              <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>
        
                            </div>
                          </div>
                        </div>
                      </div> -->
                  </div>
                <div class="card-body">
                  <table class="table table-striped table-bordered text-center" *ngIf="!loader">
                    <thead>
                      <tr>
                        <th rowspan="2">S.No.</th>
                        <th rowspan="2">Location</th>
                        <th rowspan="2">Status </th>
                        <th rowspan="2">Stand </th>
                        <th colspan="3">Online Cards</th>
                        <th colspan="3">Cycles <img src="assets/images/bicycle.svg" width="40"> </th>
                        <th colspan="3">2 Wheels <img src="assets/images/motorbike.svg" width="40"></th>
                        <th colspan="3">3 Wheels <img src="assets/images/rickshaw.svg" width="40"></th>
                        <th colspan="3">4 Wheels <img src="assets/images/car.svg" width="40"></th>
                       
                      </tr>
                      <tr>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td align="center" colspan="3"><strong>Total Stands</strong></td>
                        <td>{{standsCount || 0}}</td>
                        <td>{{totalCounts[""].newCards}}</td>
                        <td>{{totalCounts[""].renewalCards}}</td>
                        <td>{{totalCounts[""].expiredCards}}</td>
                        <td>{{totalCounts?.bicycle?.bicyclenewCards}}</td>
                        <td>{{totalCounts?.bicycle?.bicyclerenewalCards}}</td>
                        <td>{{totalCounts?.bicycle?.bicycleexpiredCards}}</td>
                        <td>{{totalCounts?.twoWheeler?.twoWheelernewCards}}</td>
                        <td>{{totalCounts?.twoWheeler?.twoWheelerrenewalCards}}</td>
                        <td>{{totalCounts?.twoWheeler?.twoWheelerexpiredCards}}</td>
                        <td>{{totalCounts?.threeWheeler?.threeWheelernewCards}}</td>
                        <td>{{totalCounts?.threeWheeler?.threeWheelerexpiredCards}}</td>
                        <td>{{totalCounts?.threeWheeler?.threeWheelerexpiredCards}}</td>
                        <td>{{totalCounts?.fourWheeler?.fourWheelernewCards}}</td>
                        <td>{{totalCounts?.fourWheeler?.fourWheelerrenewalCards}}</td>
                        <td>{{totalCounts?.fourWheeler?.fourWheelerexpiredCards}}</td>
                      </tr>
                      <tr *ngFor="let card of cardsList; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{selectedStand?.location?.city?.city}}</td>
                        <td><span class="badge badge-success">{{selectedStand?.status}}</span></td>
                        <td>{{selectedStand?.standName}}</td>
                        <td>{{card?.total?.newCards || 0}}</td>
                        <td>{{card?.total?.renewalCards || 0}}</td>
                        <td>{{card?.total?.expiredCards || 0}}</td>
                        <td>{{card?.bicycle?.bicyclenewCards || 0}}</td>
                        <td>{{card?.bicycle?.bicyclerenewalCards || 0}}</td>
                        <td>{{card?.bicycle?.bicycleexpiredCards || 0}}</td>
                        <td>{{card?.twoWheeler?.twoWheelernewCards || 0}}</td>
                        <td>{{card?.twoWheeler?.twoWheelerrenewalCards || 0}}</td>
                        <td>{{card?.twoWheeler?.twoWheelerexpiredCards || 0}}</td>
                        <td>{{card?.threeWheeler?.threeWheelernewCards || 0}}</td>
                        <td>{{card?.threeWheeler?.threeWheelerexpiredCards || 0}}</td>
                        <td>{{card?.threeWheeler?.threeWheelerrenewalCards || 0}}</td>
                        <td>{{card?.fourWheeler?.fourWheelernewCards || 0}}</td>
                        <td>{{card?.fourWheeler?.fourWheelerrenewalCards || 0}}</td>
                        <td>{{card?.fourWheeler?.fourWheelerexpiredCards || 0}}</td>
                      </tr>
                    </tbody>
                  </table>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <!-- <img  src="assets/images/Search.gif"
                  class="img-responsive" /> -->
              </div>
            </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" (click)="getCardsList('offline')">
            <a ngbNavLink>Offline Card Sales</a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <strong>Offline Card Sales List</strong>
                </div>
                <div class="search-field d-flex justify-content-between">
                      <!-- <div class="d-flex">
                        <div>
                          <button class="DTTT_button" (click)="copyTable()"><i class="fa fa-clone"></i> <span>Copy</span></button>

                          <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                          <div ngbDropdown class="d-inline-block">
                            <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                              Export</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                              <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                              <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>
        
                            </div>
                          </div>
                        </div>
                      </div> -->
                  </div>
                <div class="card-body">
                  
                  <table class="table table-striped table-bordered text-center" *ngIf="!loader">
                    <thead>
                      <tr>
                        <th rowspan="2">S.No.</th>
                        <th rowspan="2">Location</th>
                        <th rowspan="2">Status </th>
                        <th rowspan="2">Stand </th>
                        <th colspan="3">Offline Cards</th>
                        <th colspan="3">Cycles <img src="assets/images/bicycle.svg" width="40"> </th>
                        <th colspan="3">2 Wheels <img src="assets/images/motorbike.svg" width="40"></th>
                        <th colspan="3">3 Wheels <img src="assets/images/rickshaw.svg" width="40"></th>
                        <th colspan="3">4 Wheels <img src="assets/images/car.svg" width="40"></th>
                      </tr>
                      <tr>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                        <th>New</th>
                        <th>Renew</th>
                        <th>Exp</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td align="center" colspan="3"><strong>Total Stands</strong></td>
                        <td>{{standsCount || 0}}</td>
                        <td>{{totalCounts[""].newCards}}</td>
                        <td>{{totalCounts[""].renewalCards}}</td>
                        <td>{{totalCounts[""].expiredCards}}</td>
                        <td>{{totalCounts?.bicycle?.bicyclenewCards}}</td>
                        <td>{{totalCounts?.bicycle?.bicyclerenewalCards}}</td>
                        <td>{{totalCounts?.bicycle?.bicycleexpiredCards}}</td>
                        <td>{{totalCounts?.twoWheeler?.twoWheelernewCards}}</td>
                        <td>{{totalCounts?.twoWheeler?.twoWheelerrenewalCards}}</td>
                        <td>{{totalCounts?.twoWheeler?.twoWheelerexpiredCards}}</td>
                        <td>{{totalCounts?.threeWheeler?.threeWheelernewCards}}</td>
                        <td>{{totalCounts?.threeWheeler?.threeWheelerexpiredCards}}</td>
                        <td>{{totalCounts?.threeWheeler?.threeWheelerexpiredCards}}</td>
                        <td>{{totalCounts?.fourWheeler?.fourWheelernewCards}}</td>
                        <td>{{totalCounts?.fourWheeler?.fourWheelerrenewalCards}}</td>
                        <td>{{totalCounts?.fourWheeler?.fourWheelerexpiredCards}}</td>
                      </tr>
                      <tr *ngFor="let card of cardsList; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{selectedStand?.location?.city?.city}}</td>
                        <td><span class="badge badge-success">{{selectedStand?.status}}</span></td>
                        <td>{{selectedStand?.standName}}</td>
                        <td>{{card?.total?.newCards || 0}}</td>
                        <td>{{card?.total?.renewalCards || 0}}</td>
                        <td>{{card?.total?.expiredCards || 0}}</td>
                        <td>{{card?.bicycle?.bicyclenewCards || 0}}</td>
                        <td>{{card?.bicycle?.bicyclerenewalCards || 0}}</td>
                        <td>{{card?.bicycle?.bicycleexpiredCards || 0}}</td>
                        <td>{{card?.twoWheeler?.twoWheelernewCards || 0}}</td>
                        <td>{{card?.twoWheeler?.twoWheelerrenewalCards || 0}}</td>
                        <td>{{card?.twoWheeler?.twoWheelerexpiredCards || 0}}</td>
                        <td>{{card?.threeWheeler?.threeWheelernewCards || 0}}</td>
                        <td>{{card?.threeWheeler?.threeWheelerexpiredCards || 0}}</td>
                        <td>{{card?.threeWheeler?.threeWheelerrenewalCards || 0}}</td>
                        <td>{{card?.fourWheeler?.fourWheelernewCards || 0}}</td>
                        <td>{{card?.fourWheeler?.fourWheelerrenewalCards || 0}}</td>
                        <td>{{card?.fourWheeler?.fourWheelerexpiredCards || 0}}</td>
                      </tr>
                    </tbody>
                  </table>
                  
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <!-- <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" /> -->
              </div>

            </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class=""></div>
         
  
      </div>

  </div>
</div>
