<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">App Registrations</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>App Registrations</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div class="card">
      <div class="card-header">
        <strong>Send Message</strong>
      </div>
      <div class="card-body">

        <div class="col-lg-8">

          <div class="row">
            <div class="col-lg-3"><label>Send SMS to</label></div>
            <div class="col-lg-6">
              <div class="form-group">
                <select class="form-control custom-select">
                  <option selected>All Users</option>
                  <option>Valid Card users only</option>
                  <option>Expired Card Users</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3"><label>SMS Text <span
                  ngbPopover="Dear Customer ! Buy online monthly cards,  avoid normal charges, save your money and to get more offers."
                  triggers="mouseenter:mouseleave" placement="right"><i class="fa fa-info-circle"></i></span></label>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <textarea class="form-control" placeholder="Enter SMS Text Template"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <button class="form-btn btn-success">Send SMS</button>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>App Registrations List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="refreshCountries()">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button"><i class="fa fa-clone"></i> <span>Copy</span></button>

                  <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables"></label>
              </div>
            </div>
            <div class="card-body">

              <table class="table table-striped table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Name</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Email</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Mobile No</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Vehicle No.</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Type of Vehicle</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Created Date</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Select user to send SMS <br>Select all
                      users <input type="checkbox" name=""></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let country of countries">
                    <td scope="row">{{ country.id }}</td>

                    <td> Kumar s</td>
                    <td>kumar@gmail.com</td>
                    <td>1234567890</td>
                    <td>AP05 2547</td>
                    <td>2W</td>
                    <td>01.01.2021</td>

                    <td><input type="checkbox" name=""></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between p-2">


                <div></div>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="refreshCountries()">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
