.main-panel {
  transition: width .25s ease, margin .25s ease;

  background: rgb(150 150 167 / 15%);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 250px);
  min-height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: auto;
  &.sidenavCollapseClass{width: calc(100% - 0px);}

}

.top-header {
  padding: 0 20px 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: #0f52ee;
  border-bottom: 0px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dropdown-menu {
    box-shadow: 0 50px 100px rgb(50 50 93 / 10%), 0 15px 35px rgb(50 50 93 / 15%), 0 5px 15px rgb(0 0 0 / 10%);
    text-align: left;
    color: #525f7f;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: .4375rem;
    background-color: #fff;
    animation: .25s forwards show-navbar-dropdown;

    a {
      font-size: .875rem;
      padding: .5rem 1rem;
    }
  }

  .gaps {
    padding: 13px 10px;
    font-size: 20px;
  }

  .logo {
    img {
      width: 250px;
      padding: 0 10px;
      background: #0f52ee;
    }
  }
}

.dash-middle-section {
  position: relative;
  margin-top: 56px;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.bg-gradient-danger {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.icon-shape {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.bg-orange {
  background-color: #fb6340 !important
}

.admin-footer {
  background: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 7%);

  p {
    margin: 0;
  }
}

.dropdown {
  float: right;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 10px 0;
  line-height: 12px;
  border: 0;
  background: none;

  img {
    border-radius: 50%;
    margin: 0 5px;
  }

  p {
    margin: 0;
    font-weight: 600;color:#fff;

    span {
      display: block;
      font-weight: 400;
    }
  }
}

@media (min-width:992px) and (max-width:1199px) {

  .main-panel {
    width: calc(100% - 0px)
  }

  .top-header {
    .logo {
      img {
        width: 220px;
      }
    }
  }
}
@media screen and (max-width:991px){
.main-panel {
    width: calc(100% - 0px)
  }
}
@media screen and (max-width:767px){
.main-panel {
    width: calc(100% - 0px)
  }
  .top-header {
    .gaps {display: none;}
  }
}