<div class="d-flexs" id="wrapper">
  <div class="top-header">
    <button class="btn btn-clear d-lg-none text-light" id="menu-toggle" (click)="sideNavClick()"><i
        class="fa fa-bars"></i></button>
    <div class="logo d-flex text-center">
      <a class="" routerLink="/home"><img src="assets/images/logo.png"></a>
      <button class="btn btn-clear d-lg-block d-none text-light" id="menu-toggle" (click)="sideNavClick()"><i
          class="fa fa-bars"></i></button>

    </div>


    <div class="d-flex" style="align-items: center;">
      <div class="text-light" *ngIf="isSyncing == true" style="background-color: red; padding: 10px; margin-right: 142px;">Offline data is syncing....Please do not refresh/close the page.</div>
      <div class="text-light ">Current account activity : {{loginTimeValue}}</div>
      <div class="gaps header-search"><a href="#" title="Seach" class="text-light"><i class="fa fa-envelope"></i></a>
      </div>
      <div class="gaps header-notification"><a href="#" title="Notifications" class="text-light"><i
            class="fa fa-bell-o"></i></a></div>
      <div class="dropdown">
        <button class="dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/avatar10.jpg" width="30" height="30">


        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class=" dropdown-header noti-title">
            <p class="text-overflow m-0">Welcome! {{loginData.data.name}}</p>
          </div>
          <!-- <a class="dropdown-item"><i class="fa fa-envelope"></i> Messages</a>
          <a class="dropdown-item"><i class="fa fa-bell-o"></i> Updates</a>
          <a class="dropdown-item"><i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item"><i class="fa fa-cog"></i> Settings</a> -->
          <a class="dropdown-item" routerLink="/reset-password"><i class="fa fa-key"></i> Change Password</a>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>

      </div>
    </div>

  </div>
  <app-sidenav></app-sidenav>
  <div class="main-panel" [ngClass]="isCollapsableValue?'sidenavCollapseClass':''">


    <div class="dash-middle-section">

      <router-outlet>



      </router-outlet>
    </div>
    <div class="admin-footer">

      <p>© {{currentYear}} <a href="https://easyparkings.in/" alt="SBV">SBV | Powered by: </a><a
          href="https://webskysolutions.com" alt="Websky Admin Templates">Websky Solutions</a></p>
    </div>
  </div>
</div>
