<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Force Logout</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Force Logout</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div class="card">
      <div class="card-header">
        <strong>Select By</strong>
      </div>
      <div class="card-body">
        <!-- <form action="" method="post"> -->
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngIf="userData.data.role != 'owner'">
            <div class="form-group">
              <label class="control-label">Owner :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]="owner" (ngModelChange)="getStandsList($event)">
                  <option value=''>Select Owner</option>
                  <option *ngFor="let owner of ownersList" [value]="owner.ownerId">{{owner.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label">Stand :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]="stand" [disabled]="!owner">
                  <option value=''>Select Stand</option>
                  <option *ngFor="let stand of standsList" [value]="stand.standId">{{stand.standName}}</option>
                </select>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label class="control-label">&nbsp;</label>
            <div class="form-actions">

              <button type="button" class="form-btn btn-info blue" (click)="getLogoutUsersList(1)">Search</button>
            </div>
          </div>


        </div>
        <!-- </form> -->
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Force Logout</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div>
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getLogoutUsersList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>

              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="logoutsList?.length>0">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Stand Name</th>
                    <th>Login Time</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of logoutsList;let i = index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>{{data?.employeeId || 'N/A'}}</td>
                    <td>{{data?.name || 'N/A'}}</td>
                    <td>{{data?.standName || 'N/A'}}</td>
                    <td>{{getDate(data?.lastLoginSession) || 'N/A'}}</td>
                    <td><button class="btn btn-danger btn-sm" (click)="logout(data);currentIndex = i"
                        [disabled]="spinner&&currentIndex == i">Logout <i class="fa fa-spinner fa-spin"
                          *ngIf="spinner&& currentIndex == i"></i></button>&nbsp;
                      <button class="btn btn-sm btn-info" (click)="openModal(content,data)">Login History</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="!logoutsList?.length">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                    <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
                  padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="logoutsList?.length>=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7"
                          (click)="getLogoutUsersList(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="getLogoutUsersList(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7"
                          (click)="getLogoutUsersList(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{currentUser?.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="card-body p-0" *ngIf="!modelLoader">
      <table class="table table-striped table-bordered text-center">
        <thead>
          <tr>
            <th>Stand Name</th>
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>Pending on Login</th>
            <th>Pending on Logoout</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of historyDetails">
            <td>{{item?.standName || 'N/A'}}</td>
            <td>{{item?.start_time || 'N/A'}}</td>
            <td>{{item?.end_time || 'N/A'}}</td>
            <td>{{item?.pendingonLogin || 0}}</td>
            <td>{{item?.pendingonLogout || 0}}</td>
          </tr>
        </tbody>
      </table>
      <div class="norecords" *ngIf="!historyDetails?.length">
        <img src="assets/images/nodataFoundImg.png">
        <!-- <h3>No Records Found</h3>
      <p>There was no record based on the details you selected. Please retry the list</p> -->
      </div>
    </div>
    <div class="card-body" *ngIf="modelLoader">
      <div style="text-align: center;
    padding: 100px 0px 100px 0px;">
        <img src="assets/images/Spinner-2.gif" class="img-responsive" />
      </div>

    </div>
  </div>

</ng-template>
