.products-section{
	padding:80px 0 80px 0;
	background: #0f1c50;
	background-image: url(/assets/images/product-banner.jpg);
	background-repeat: no-repeat;
    background-position:center;
    position: relative;
    &::after{
      position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgb(1 71 231 / 73%);
   z-index: 0;
    }
	h1{color: #fff;position: relative;z-index: 2;} 
}
.products-section-wrap{
	padding: 50px 0;
	background-color: #fff;
	p{font-size: 18px;}
	&.one{background-color: #f3f3f3;}
	&.two{background-color: #f3f3f3;}
.icon-text-grid {
    grid-template-columns: 50px auto;
    gap: 20px;
}
.d-grid {
    display: grid !important;
}
.module-link {
    filter: grayscale(100%);
    opacity: 0.6;
}
 .module-link.active {
    box-shadow: 0 0 15px #00000018;
    filter: unset;
    opacity: 1;
}
}
.input-group .form-control {
margin-top:0;
	background-image: url(/assets/images/phone-icon.svg);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-clip: padding-box;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
   
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: 28px;
    background-color: rgba(255,255,255,.84);
    background-size: 22px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    height: 80px;
    padding-left: 65px;
}
.cta-hero-input .btn {

    border-radius: 0 5px 5px 0;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 65%);
    font-size: 18px;
    height: 80px;
    padding: 0 30px 0 30px;
    z-index: 0;
}
 .container{max-width:80%;}
@media screen and (max-width:1600px){
   .container{max-width:85%;}
}
@media (min-width:992px) and (max-width:1199px){
.container{max-width:90%;}
}
@media screen and (max-width:991px){
  .products-section{padding:40px 0 40px;}
  .products-section h1{    font-size: 30px;}
  h2{font-size:1.8rem;}
}
@media screen and (max-width:767px){ 
  .container{max-width:100%;}
}