<div class="products-section text-center">
  <h1>Products &amp; Services</h1>
</div>
<div class="products-section-wrap bg-white py-5">
  <div class="container">
    <div class="row text-align-xs-center align-items-center text-align-md-left">
      <div class="col-md-6">
        <img src="assets/images/2.png" alt="">
      </div>
      <div class="col-md-6 ">
        <h2>Download the FREE Customer Parking App</h2>
        <h5 class="text-xs">Tap into awesome parking anywhere on iOS &amp; Android.</h5>
        <div class="row hidden-xs hidden-sm">
          <div class="col-lg-9 col-md-12 mt-3">
            <h5 class="text-color-dark-slate margin-bottom-0">Text yourself a link to download.</h5>
            <div class="input-group cta-hero-input with-phone-icon">
              <form [formGroup]="sendLinkForm">
                <div class="d-flex">
                  <input type="text" id="phone" name="phone" class="form-control" placeholder="(xxx) xxx-xxxx"
                    formControlName="phoneNumber">
                  <button class="btn btn-warning" type="button" (click)="sendLink()"
                    [disabled]="!sendLinkForm.valid||spinner">SEND LINK
                    <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="sendLinkForm?.controls?.phoneNumber?.invalid && (sendLinkForm?.controls?.phoneNumber?.dirty ||sendLinkForm?.controls?.phoneNumber?.touched)">
                  <label *ngIf="sendLinkForm?.controls?.phoneNumber?.errors?.pattern">Invalid phone number</label>
                  <label *ngIf="sendLinkForm?.controls?.phoneNumber?.errors?.required">This field is
                    required</label>
                  <label
                    *ngIf="!(sendLinkForm?.controls?.phoneNumber?.errors?.pattern)&&sendLinkForm?.controls?.phoneNumber?.errors?.minlength">Phone
                    number length must
                    be
                    atleast 10 digits</label>
                </span>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="products-section-wrap one">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 order-md-first">
        <h2 class="h2 color-blue-2 font-muli">Operator Module</h2>
        <p class="p">Cloud-based parking management software that supports offline functionality. A multi-lingual
          android interface that digitizes any parking in just 10 minutes</p>
        <div class="col-md-10 mt-4 px-0">
          <div class="nav flex-column module-block-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="operator-1-tab" data-toggle="pill" href="#operator-1" role="tab" aria-controls="operator-1"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-operator-1.svg">
              <h5 class="text-dark m-0">Turn Any Mobile Into Ticketing System</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="operator-2-tab" data-toggle="pill" href="#operator-2" role="tab" aria-controls="operator-2"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-operator-2.svg">
              <h5 class="text-dark m-0">Digital Payment And Promotions</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="operator-3-tab" data-toggle="pill" href="#operator-3" role="tab" aria-controls="operator-3"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-operator-3.svg">
              <h5 class="text-dark m-0">Season Ticket / Pass Management</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3 active"
              id="operator-4-tab" data-toggle="pill" href="#operator-4" role="tab" aria-controls="operator-4"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-operator-4.svg">
              <h5 class="text-dark m-0">Valet Management</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 text-md-left">
        <div class="tab-content module-block-tabContent" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="operator-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <img class="img-fluid" src="assets/images/pmock-operator-1.png">
          </div>
          <div class="tab-pane fade" id="operator-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <img class="img-fluid" src="assets/images/pmock-operator-2.png" alt="Profile">
          </div>
          <div class="tab-pane fade" id="operator-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <img class="img-fluid" src="assets/images/pmock-operator-3.png">
          </div>
          <div class="tab-pane fade " id="operator-4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <img class="img-fluid" src="assets/images/pmock-operator-4.png" alt="Profile">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="products-section-wrap">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-12 text-md-right">
        <div class="tab-content module-block-tabContent" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="report-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <img class="img-fluid" src="assets/images/pmock-report-1.png">
          </div>
          <div class="tab-pane fade" id="report-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <img class="img-fluid" src="assets/images/pmock-report-2.png" alt="Profile">
          </div>
          <div class="tab-pane fade" id="report-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <img class="img-fluid" src="assets/images/pmock-report-3.png">
          </div>
          <div class="tab-pane fade" id="report-4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <img class="img-fluid" src="assets/images/pmock-report-4.png" alt="Profile">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <h2 class="h2 font-weight-bold">Reporting Module</h2>
        <p class="p">Monitor every parking with actionable insights. Zoom in to inspect granular transactions or
          zoom out to inspect the entire business</p>
        <div class="col-md-10 mt-4 px-0">
          <div class="nav flex-column module-block-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="report-1-tab" data-toggle="pill" href="#report-1" role="tab" aria-controls="report-1"
              aria-selected="true">
              <img class="img-fluid" src="assets/images/picon-report-1.svg">
              <h5 class="text-dark m-0">Realtime Reports And Alerts</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="report-2-tab" data-toggle="pill" href="#report-2" role="tab" aria-controls="report-2"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-report-2.svg">
              <h5 class="text-dark m-0">Hierarchy-based Access To Data</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="report-3-tab" data-toggle="pill" href="#report-3" role="tab" aria-controls="report-3"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-report-3.svg">
              <h5 class="text-dark m-0">Every Transaction. Anytime. Anywhere</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="report-4-tab" data-toggle="pill" href="#report-4" role="tab" aria-controls="report-4"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-report-4.svg">
              <h5 class="text-dark m-0">Historical Analysis And Future Prediction Tools</h5>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="products-section-wrap two">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-12 order-md-first">
        <h2 class="h2 font-weight-bold">Dashboard Module</h2>
        <p class="p">Control and steer your entire parking business from a single place. An operations command
          center at your fingertips</p>
        <div class="col-md-10 mt-4 px-0">
          <div class="nav flex-column module-block-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="admin-1-tab" data-toggle="pill" href="#admin-1" role="tab" aria-controls="admin-1"
              aria-selected="true">
              <img class="img-fluid" src="assets/images/picon-admin-1.svg">
              <h5 class="text-dark m-0">Alter Business Rules For Any Parking From Anywhere</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="admin-2-tab" data-toggle="pill" href="#admin-2" role="tab" aria-controls="admin-2"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-admin-2.svg">
              <h5 class="text-dark m-0">Change Tariff And Discounts On The Fly</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="admin-3-tab" data-toggle="pill" href="#admin-3" role="tab" aria-controls="admin-3"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-admin-3.svg">
              <h5 class="text-dark m-0">Pre-program Business Algorithms</h5>
            </a>
            <a class="nav-link module-link bg-white align-items-center p-2 p-sm-3 d-grid icon-text-grid mb-1 mb-sm-3"
              id="admin-4-tab" data-toggle="pill" href="#admin-4" role="tab" aria-controls="admin-4"
              aria-selected="false">
              <img class="img-fluid" src="assets/images/picon-admin-4.svg">
              <h5 class="text-dark m-0">Automate Your Business For Dynamic Adaptation</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 text-md-left">
        <div class="tab-content module-block-tabContent" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="admin-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <img class="img-fluid" src="assets/images/pmock-admin-1.png">
          </div>
          <div class="tab-pane fade" id="admin-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <img class="img-fluid" src="assets/images/pmock-admin-2.png" alt="Profile">
          </div>
          <div class="tab-pane fade" id="admin-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <img class="img-fluid" src="assets/images/pmock-admin-3.png">
          </div>
          <div class="tab-pane fade" id="admin-4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <img class="img-fluid" src="assets/images/pmock-admin-4.png" alt="Profile">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
