<div class="page-wrapper">
  <div class="header" *ngIf="!ownerId">
    <h1 class="page-header">Emp Session History</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Emp Session History</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div class="devider" *ngIf="!ownerId"></div>
    <div class="card">
      <div class="card-header">
        <strong>Search By Employee </strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Select Employee :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]="employee">
                  <option value="">Select</option>
                  <option *ngFor="let employee of employeeList" [ngValue]="employee"> {{employee.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label class="control-label">&nbsp;</label>
            <div class="form-actions">

              <button type="button" class="form-btn btn-info blue" (click)="getHistory(1)">View Session History</button>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Employee Session History List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex" *ngIf="userData.data.role != 'employee'">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getHistory(1)">
                  <option [ngValue]="5">05 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <!-- <div *ngIf="!ownerId">

                  <button class="DTTT_button" (click)="getExcelHistoryData('copy')"><i class="fa fa-clone"></i>
                    <span>Copy</span></button>
                  <button class="DTTT_button" (click)="getExcelHistoryData('pdf')"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="getExcelHistoryData('excel')"><i class="fa fa-file-excel-o"></i>
                        <span>Excel</span></button>
                      <button ngbDropdownItem (click)="getExcelHistoryData('csv')"><i class="fa fa-file-text-o"></i>
                        <span>CSV</span></button>
                      <button ngbDropdownItem (click)="getExcelHistoryData('pdf')"><i class="fa fa-file-pdf-o"></i>
                        <span>PDF</span></button>

                    </div>
                  </div>

                </div> -->

              </div>

              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm"*ngIf="userData.data.role != 'employee'" >
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader" >
              <table class="table table-striped table-bordered text-center" *ngIf="historyList?.length>0">
                <thead>
                  <tr>
                    <th>Emp Name</th>
                    <th>Total Sessions</th>
                    <th>Entry</th>
                    <th>Exit</th>
                    <th>Cancel</th>
                    <th>Pending</th>
                    <th>Collection</th>
                    <th>Card Amount</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>{{employee?.name || 'N/A'}}</td>

                    <td>{{count || 0}}</td>

                    <td>{{totalDetails?.entries || 0}}</td>
                    <td>{{totalDetails?.exits || 0}}</td>
                    <td>{{totalDetails?.cancelled || 0}}</td>
                    <td>{{totalDetails?.pendingonLogout || 0}}</td>
                    <td> {{totalDetails?.parkingsAmount || 0}}</td>
                    <td>{{totalDetails?.cardAmount || 0}}</td>
                    <td>{{((totalDetails?.parkingsAmount || 0) + (totalDetails?.cardAmount||0)) || 0}}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-striped table-bordered text-center" *ngIf="historyList?.length>0">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col" sortable="name">Emp Name</th>

                    <th>Start Time</th>
                    <th>End Time</th>

                    <th>Entry</th>
                    <th>Exit</th>
                    <th>Cancel</th>
                    <th>Pending</th>
                    <th>Collection</th>
                    <th>Card Amount</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of historyList;let i = index">
                    <td scope="row">{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>{{item?.name || "N/A"}}</td>
                    <td>{{item?.start_time ? getDate(item?.start_time) : "N/A"}}</td>
                    <td>{{item?.end_time ? getDate(item?.end_time) : "Session Running"}}</td>

                    <td>{{item?.entries || 0}}</td>
                    <td>{{item?.exits || 0}}</td>
                    <td>{{item?.cancelled || 0}}</td>
                    <td>{{item?.pendingonLogout || 0}}</td>
                    <td> {{item?.parkingsAmount || 0}}</td>
                    <td>{{item?.cardAmount || 0}}</td>
                    <td>{{getTotalAmount(item?.cardAmount,item?.parkingsAmount)}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="historyList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="historyList?.length>=0&&!loader && userData.data.role != 'employee'">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="getHistory(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="getHistory(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="getHistory(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>

      <!--/.row-->

    </div>


  </div>
</div>
