<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Vehicle Search </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Vehicle Search </a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Vehicle List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="searchVehiclesData(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                  <option [ngValue]="500">500 items per page</option>
                  <option [ngValue]="1000">1000 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button" (click)="getExcelSearchVehiclesData('copy')"><i class="fa fa-clone"></i>
                    <span>Copy</span></button>

                  <button class="DTTT_button" (click)="getExcelSearchVehiclesData('pdf')"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="getExcelSearchVehiclesData('excel')"><i
                          class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem (click)="getExcelSearchVehiclesData('csv')"><i
                          class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem (click)="getExcelSearchVehiclesData('pdf')"><i
                          class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables" [(ngModel)]="searchText" (input)="searchVehiclesData(page)"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="vehiclesListArray?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>State</th>
                    <th>District</th>
                    <th>Location</th>
                    <th>Stand ID</th>
                    <th>Stand Name</th>
                    <th>Parking ID</th>
                    <th>Vehicle No.</th>
                    <th>Ph.No</th>
                    <th>Type of Vehicle</th>
                    <th>Date & Time of Parking</th>
                    <th>Date & Time of Exit</th>
                    <th>Parked emp Name & Mob. No.</th>
                    <th>Exited Emp Name & Mobile No.</th>
                    <th>Stand Owner</th>
                    <th>Stand Owner Mobile Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of vehiclesListArray;let i=index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td>
                      <a>
                        {{data.state?data.state:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.district?data.district:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.location?data.location:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.standId?data.standId:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.standName?data.standName:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.parkingId?data.parkingId:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.vehicleNumber?data.vehicleNumber:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.phone?data.phone:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.vehicleType?getVehicleType(data.vehicleType):'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.dateAndTimeOfParking?getStartTime(data.dateAndTimeOfParking):'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.dateAndTimeOfExit?getStartTime(data.dateAndTimeOfExit):'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.openEmpName?data.openEmpName:'N/A'}}
                      </a>
                      <br>
                      <a>
                        {{data.openEmpMobile?data.openEmpMobile:'N/A'}}
                      </a>
                    </td>
                    <td>
                      <a>
                        {{data.closedEmpName?data.closedEmpName:'N/A'}}
                      </a>
                      <br>
                      <a>
                        {{data.closedEmpMobile?data.closedEmpMobile:'N/A'}}
                      </a>
                    </td>
                    <td>{{data.ownerName ? data.ownerName : 'N/A'}}</td>
                    <td>
                      <a>
                        {{data.standMobileNumber?data.standMobileNumber:'N/A'}}
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class="norecords" *ngIf="vehiclesListArray?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchText" src="assets/images/Spinner-2.gif" class="img-responsive" />
                <img *ngIf="searchText" src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="vehiclesListArray?.length!=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
