<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table *ngIf="data?.status != 'Entry'" width="100%" cellspacing="3" cellpadding="3" border="0" align="center" style="font-family: arial; font-size: 14px;margin: 22px 17px 21px 9px;">
      <tr>
            <td><strong>{{currentDate}}</strong></td>
            <td></td>
            <td><strong>Parking Bill</strong></td>
        </tr>
        
      <!-- <tr>
          <td>QR Code</td>
          <td></td>
          <td>
              <qrcode [qrdata]="data.parkingId" [width]="156" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
          </td>
          
      </tr> -->
      <tr>
          <td colspan="3" align="center"><h3 style="margin: 0;">--Vehicle Check out--</h3></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><h4 style="margin: 0;">{{data.standName}}</h4></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><h4 style="margin: 0;">{{text1}}</h4></td>
        </tr>
        <tr>
        <td colspan="3" align="center"><h4 style="margin: 0;">{{text2}}</h4></td>
      </tr>
      <tr>
        <td colspan="3" align="center"><h4 style="margin: 0;">{{text3}}</h4></td>
      </tr>
      <tr>
        <td colspan="3" align="center"><h4 style="margin: 0;">{{text4}}</h4></td>
      </tr>
        <tr>
        <td>Parking ID:</td>
        <td>{{data.parkingId ? data.parkingId : '--'}}</td>
      </tr>
      <tr>
      <td>Veh No:</td>
      <td>{{data.vehicleNumber}}</td>
    </tr>
        <tr>
          <td>Entry:</td>
          <td>{{entryTime}}</td>
        </tr>
        <tr>
          <td>Exit:</td>
          <td>{{exitTime}}</td>
        </tr>
    
        <tr>
          <td>Duration:</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Bill Amount:</td>
          <td>{{data.finalPrice}}</td>
        </tr>
        <tr>
        <td>Note:</td>
        <td>{{note}}</td>
      </tr>
      </table>
      <table width="100%" *ngIf="data?.status == 'Entry'" cellspacing="3" cellpadding="3" border="0" align="center" style="font-family: arial; font-size: 14px;">
        <tr>
          <td><strong>{{currentDate}}</strong></td>
          <td></td>
          <td><strong>Parking Bill</strong></td>
        </tr>
        <tr>
            <td colspan="3" align="center"><h3 style="margin: 0;">--Vehicle Entry Slip--</h3></td>
          </tr>
          <tr>
            <td colspan="3" align="center"><h4 style="margin: 0;">{{data.standName}}</h4></td>
          </tr>
          <tr>
          <td colspan="3" align="center"><h4 style="margin: 0;">{{text1}}</h4></td>
        </tr>
        <tr>
        <td colspan="3" align="center"><h4 style="margin: 0;">{{text2}}</h4></td>
        </tr>
        <tr>
        <td colspan="3" align="center"><h4 style="margin: 0;">{{text3}}</h4></td>
        </tr>
        <tr>
        <td colspan="3" align="center"><h4 style="margin: 0;">{{text4}}</h4></td>
        </tr>
          <tr>
            <td>Entry:</td>
            <td>{{entryTime}}</td>
            <td rowspan="5">
                  <qrcode [qrdata]="data.parkingId" [width]="156" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
                </td>
          </tr>
          <tr>
            <td>ID No:</td>
            <td>{{data.parkingId ? data.parkingId : data.vehicleNumber}}</td>
          </tr>
          <tr>
            <td>VType:</td>
            <td>{{data.vehicleType}}</td>
          </tr>
          <tr>
            <td>Mob No:</td>
            <td>{{data.phone}}</td>
          </tr>
          <tr>
            <td>Note:</td>
            <td>{{note}}</td>
          </tr>
        </table>
  </body>
 </html>

       
