<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Dashboard</h1>


  </div>

  <div class="page-inner" *ngIf="loader">
    <div style="text-align: center;
    padding: 100px 0px 100px 0px;">
      <img src="assets/images/Spinner-2.gif" class="img-responsive" />
    </div>

  </div>
  <div class="page-inner" *ngIf="!loader">
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-4" *ngFor="let cardData of cardsData;let i=index">
        <a>
          <div class="card h-100 ">
            <div class="card-body">
              <div class="card-icon" [ngClass]="getCss(i)">
                <img [src]="cardData.type=='bicycle'?'assets/images/bicycle-black.svg':
                      (cardData.type=='twoWheeler'?'assets/images/motorbike-black.svg':
                      (cardData.type=='threeWheeler'?'assets/images/rickshaw-black.svg':
                      'assets/images/car-black.svg'))" width="50">
              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <p class="font-weight-bold">{{cardData?.type=='bicycle'?'Cycles':
                  (cardData?.type=='twoWheeler'?'Bikes':
                  (cardData?.type=='threeWheeler'?'Auto Rickshaw':
                  (cardData?.type=='fourWheeler'?'Cars':cardData?.type)))}}</p>
              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="text-xs text-dark text-capitalize text-center mb-1">
                  Parkings</div>
                <div class="h6 mb-0 font-weight-bold text-dark">{{(cardData?.total - bicycleData?.exit ) || 0}}</div>

              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="text-xs text-dark text-capitalize text-center mb-1">
                  Exits</div>
                <div class="h6 mb-0 font-weight-bold text-dark">{{cardData?.exit || 0}}</div>
              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="text-xs text-dark text-capitalize text-center mb-1">
                  Cards</div>
                <div class="h6 mb-0 font-weight-bold text-dark">{{cardData?.offlineCards || 0}}</div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <div class="text-xs text-dark text-capitalize text-center mb-1">
                Total Collection</div>
              <div class="h5 mb-0 font-weight-bold text-dark">{{(cardData?.collection+cardData?.cardsAmount)| number : '1.0-2' || 0}}</div>
            </div>

          </div>
        </a>
      </div>
    </div>

    <div class="devider"></div>

    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Stand List</strong>
          </div>
          <div class="card-body">
            <form action="" method="post">
              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label">Stand :</label>
                    <b>{{selectedStand || 'N/A'}}</b>
                  </div>
                </div>


              </div>
            </form>
            <table class="table table-striped table-bordered text-center">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Previous Pending</th>
                  <th>Entry</th>
                  <th>Exited</th>
                  <th>Cancelled</th>
                  <th>Pending</th>
                  <th>Offline Cards</th>
                  <th>Total Collection</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let option of cardsData;let i=index">
                  <td>
                    <div class="">
                      <img [src]="option.type=='bicycle'?'assets/images/bicycle-black.svg':
                      (option.type=='twoWheeler'?'assets/images/motorbike-black.svg':
                      (option.type=='threeWheeler'?'assets/images/rickshaw-black.svg':(option.type=='Rickshaw'?'assets/images/rikshaw.svg':(option.type=='ElectricBike'?'assets/images/electricbike.svg':
                      'assets/images/car-black.svg'))))" width="50"> </div>
                  </td>
                  <td style="vertical-align: middle;">{{(pendingVehiclesOnLogin ? pendingVehiclesOnLogin[i]?.total : 0)|| 0}}</td>
                  <td style="vertical-align: middle;">{{option.total || 0}}</td>
                  <td style="vertical-align: middle;">{{option.exit || 0}}</td>
                  <td style="vertical-align: middle;">{{option.cancelled || 0}}</td>
                  <td style="vertical-align: middle;">{{option.pendingOnLogout || 0}}</td>
                  <td style="vertical-align: middle;">{{option.offlineCards || 0}}</td>
                  <td style="vertical-align: middle;">{{(option.collection+option.cardsAmount)| number : '1.0-2' || 0}}</td>

                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td>{{pendingCount || 0}}</td>
                  <td>{{entryCount || 0}}</td>
                  <td>{{exitedCount || 0}}</td>
                  <td>{{canclledCount || 0}}</td>
                  <td>{{pendingOnLogout || 0}}</td>
                  <td>{{offlineCardsCount || 0}}</td>
                  <td>{{totalCollectionCount| number : '1.0-2' || 0}}</td>


                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <div class="devider"></div>


  </div>
</div>
