
.container{
    max-width: 80%;
  }
    .btn-red {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      background-color: #ffd800;
      border-radius: 10px;
      margin: 0;
      margin-right: 15px;
      color: #000;

      font-weight: normal;
      font-size: 16px;
    }

    .btn-red:hover {
      background-color: #fff;
      color: #000;
    }
