<div class="mobile-foot-sec"></div>
<footer class="footer inner-footer">
  <div class="container">
    <!-- <div></div> -->
    
      <!-- <a data-toggle="modal" data-target="#ReqModal" class="btn btn-red" (click)="openModal(content)"><i class="fa fa-map-marker"></i>
        Request a Demo</a> -->
     
    <p>Copyright © {{currentYear}} easyparkings.in All Rights Reserved. <a href="#">Privacy Policy</a> &nbsp;|&nbsp;
      Powered by : <a href="https://webskysolutions.com" target="_blank" title="Websky Solutions"> Websky
        Solutions</a> <a href="mailto:support@easyparkings.in"><i class="fa fa-envelope"></i> support@easyparkings.in</a> <a
        href="tel:8926123459"><i class="fa fa-phone"></i> 8926123459</a></p>

    <!-- <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="foot-park">
          <a id="nearme_a" href="#"><i class="fa fa-map-marker"></i> Parking Near Me</a>
          <a href="#" class="red" data-toggle="modal" data-target="#myModal-2"><i class="fa fa-map-marker"></i> Request
            a Demo</a>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">

      </div>
    </div> -->
  </div>
</footer>

<div class="mobile-footer">
  <ul>
    <li><a href="index.php"><span><i class="fa fa-home"></i></span>Home</a></li>
    <li><a routerLink="/products"><span><i class="fa fa-cubes"></i></span>Products</a></li>
    <li><a routerLink="/oursectors"><span><i class="fa fa-cogs"></i></span>Our Sectors</a></li>
    <li><a data-toggle="modal" data-target="#exampleModal"><span><i class="fa fa-briefcase"></i></span>Careers</a></li>
    <li><a routerLink="/help"><span><i class="fa fa-question-circle"></i></span>Help</a></li>
  </ul>
</div>


<ng-template class="modal fade bd-example-modal-lg" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Operator App - Request a Demo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="requestDemoForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Full Name *</label>
          <div class="form-group">
            <input type="text" name="name" placeholder="Full Name" formControlName="fullName" class="form-control">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Location *</label>
          <div class="form-group">
            <input type="text" name="qualification" placeholder="Location" formControlName="location" class="form-control">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Email *</label>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Phone Number *</label>
          <div class="form-group">
            <!-- onkeypress="return (event.charCode > 47 &amp;&amp; event.charCode < 58)" -->
            <input type="text" name="phone" minlength="10" maxlength="10" placeholder="Phone Number" formControlName="phone" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label>Complete Address *</label>
          <div class="form-group">
            <input type="text" name="addr" class="form-control" placeholder="Complete Address" formControlName="completeAddress">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label>Message *</label>
          <div class="form-group">
            <textarea name="msg" class="form-control" placeholder="Message" formControlName="message"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary submit" (click)="requestDemo(modal)" [disabled]="!requestDemoForm.valid || spinner" > Submit Details 
                  <i class="fa fa-spinner fa-spin" *ngIf="spinner"></i> </button>
            </div>
          </div>
</ng-template>
