<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Vehicle Names</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Settings</a></li>
        <li class="breadcrumb-item"><a>Vehicle Names</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">
    <div>
      <div class="top-d-flex">
        <div class="flex-1">

        </div>
        <div>
          <button class="btn btn-success" (click)="openModal(content,'add')" placement="bottom"
            ngbTooltip="Add Vehicle"><i class="fa fa-plus"></i> Add</button>
          <button class="btn btn-light m-1" placement="bottom" ngbTooltip="Refresh"><i class="fa fa-refresh"
              (click)="searchVehicleList(1)"></i></button>
        </div>
      </div>
    </div>

    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Vehicle Names</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div>
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="searchVehicleList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables" [(ngModel)]="searchKey" (input)="searchVehicleList(page)"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered" *ngIf="vehiclesList?.length!=0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Vehicle Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehiclesList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{vehicle.vehicleName}}</td>
                    <td>
                      {{getVehicleType(vehicle.type)}}
                    </td>
                    <td>
                      <a class="btn btn-info btn-sm" placement="bottom" ngbTooltip="Edit"
                        (click)="openModal(content,'update',vehicle)"><i class="fa fa-edit "></i></a>&nbsp;
                      <a class="btn btn-danger btn-sm" placement="bottom" ngbTooltip="Delete"
                        (click)="vehicleDelete(vehicle)"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class="norecords" *ngIf="vehiclesList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchKey" src="assets/images/Spinner-2.gif" class="img-responsive" />
                <img *ngIf="searchKey" src="assets/images/Search.gif" class="img-responsive" />
              </div>

            </div>
            <div class="card-footer" *ngIf="vehiclesList?.length!=0">
              <!--Pagination starts here-->
              <section id="basic-pagination">
                <nav aria-label="Page navigation mb-3">
                  <span  style="float:left;">Showing {{(pageSize*(pager.currentPage-1))+1}} to {{(pageSize*(pager.currentPage))}} of {{count}} entries</span>
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7" (click)="setPage(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!isEdit">Add Vehicle</h4>
    <h4 class="modal-title" *ngIf="isEdit">Update Vehicle</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addEditVehicleForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Vehicle Name :</label>
            <div class="controls">
              <input class="form-control focused" name="name" type="text" value="" placeholder="Enter vehilce name"
                autocomplete="off" formControlName="vehicleName">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Type :</label>
            <div class="controls">
              <select class="form-control" formControlName="vehicleType">
                <option value="bicycle">Bicycle</option>
                <option value="twoWheeler">2 W</option>
                <option value="threeWheeler">3 W</option>
                <option value="fourWheeler">4 W</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button *ngIf="!isEdit" type="button" id="submit_btn" class="btn btn-info blue"
            [disabled]="!addEditVehicleForm.valid||spinner" (click)="addVehicle()">Save
            <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i>
          </button>
          <button *ngIf="isEdit" type="button" id="submit_btn" class="btn btn-primary blue"
            [disabled]="!addEditVehicleForm.valid||spinner||!addEditVehicleForm.dirty" (click)="updateVehicle()">Update
            <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>&nbsp;
          <button class="btn btn-danger blue" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
    </form>
  </div>

</ng-template>
