<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Analytics</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Analytics</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <div class="card">
      <div class="card-header">
        <strong>Select By</strong>
      </div>
      <div class="card-body">
        <!-- <form action="" method="post"> -->
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">Owner :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]="owner" (ngModelChange)="getStandsList($event)">
                  <option value=''>Select Owner</option>
                  <option *ngFor="let owner of ownersList" [value]="owner.ownerId">{{owner.name}}</option>
                </select>
              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
              <label class="control-label">Stand :</label>
              <div class="controls">
                <select class="form-control" [(ngModel)]="stand" [disabled]="!owner">
                  <option value=''>Select Stand</option>
                  <option *ngFor="let stand of standsList" [value]="stand.standId">{{stand.standName}}</option>
                </select>

              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <label class="control-label">&nbsp;</label>
              <div class="form-actions">

                <button type="button" class="form-btn btn-info blue" (click)="getAnalyticsData()" >Search</button>
                <!-- (click)="getLogoutUsersList(1)" -->
              </div>
            </div>


          </div>
        <!-- </form> -->
      </div>
    </div>

    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Analytics List</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <div><select class="form-control" [(ngModel)]="analyticsType" (ngModelChange)="getAnalyticsData()">
                  <!-- <option value="All">Week Days (Entry & Exit)</option>
                  <option value="Entry">Week Days (Entry)</option>
                  <option value="Exit">Week Days (Exit)</option>
                  <option value="Entry">2 Hrly Entry</option>
                  <option value="Exit">2 Hrly Exit</option> -->

                  <option value="1">Week Days (Entry & Exit)</option>
                  <option value="2">Week Days (Entry)</option>
                  <option value="3">Week Days (Exit)</option>
                  <option value="4">2 Hrly Entry</option>
                  <option value="5">2 Hrly Exit</option>

                </select></div>
                <!-- <div>
                  <button class="DTTT_button"><i class="fa fa-clone"></i> <span>Copy</span></button>

                  <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div> -->
              </div>

              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables"></label>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered text-center" *ngIf="analyticsType == '1' && analytics?.length>0">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col" sortable="name">Mon</th>

                    <th scope="col" sortable="population">Tue</th>
                    <th scope="col" sortable="population">Wed</th>
                    <th scope="col" sortable="population">Thu</th>
                    <th scope="col" sortable="population">Fri</th>
                    <th scope="col" sortable="population">Sat</th>
                    <th scope="col" sortable="population">Sun</th>
                    <th scope="col" sortable="population">Total</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"><b>Entry</b></td>
                    <td *ngFor="let data of entryData">{{data || 0}}</td>
                    <td>{{totalEntryCount || 0}}</td>

                  </tr>
                  <tr>
                    <td scope="row"><b>Exit</b></td>
                    <td *ngFor="let data of exitData">{{data || 0}}</td>
                    <td>{{totalExitCount || 0}}</td>

                  </tr>
                  <!-- <tr>
                    <td scope="row"><b>Total</b></td>
                    <td *ngFor="let data of totalData">{{data || 0}}</td>
                    <td>{{(totalEntryCount + totalExitCount) || 0}}</td>

                  </tr> -->
                </tbody>
              </table>

              <table class="table table-striped table-bordered text-center" *ngIf="(analyticsType == '2' || analyticsType == '3') && analytics?.length>0">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th>Stand ID</th>
                    <th scope="col" sortable="name">Mon</th>

                    <th scope="col" sortable="population">Tue</th>
                    <th scope="col" sortable="population">Wed</th>
                    <th scope="col" sortable="population">Thu</th>
                    <th scope="col" sortable="population">Fri</th>
                    <th scope="col" sortable="population">Sat</th>
                    <th scope="col" sortable="population">Sun</th>
                    <th scope="col" sortable="population">Total</th>

                  </tr>
                </thead>
                <tbody *ngIf="(analyticsType == '2') && analytics?.length>0">
                  <tr>
                    <td>1</td>
                    <td>{{currentStand ? currentStand : '--'}}</td>
                    <td *ngFor="let data of entryData">{{data || 0}}</td>
                    <td>{{totalEntryCount || 0}}</td>

                  </tr>
                  <tr>
                    <td colspan="10">&nbsp;</td>
                  </tr>
                  <!-- <tr>
                    <td colspan="2"><b>Total</b></td>
                    <td *ngFor="let data of entryData">{{data || 0}}</td>
                    <td>{{totalEntryCount || 0}}</td>

                  </tr> -->
                </tbody>
                <tbody *ngIf="(analyticsType == '3') && analytics?.length>0">
                  <tr>
                    <td>1</td>
                    <td>{{currentStand ? currentStand : '--'}}</td>
                    <td *ngFor="let data of exitData">{{data || 0}}</td>
                    <td>{{totalExitCount || 0}}</td>

                  </tr>
                  <tr>
                    <td colspan="10">&nbsp;</td>
                  </tr>
                  <!-- <tr>
                    <td colspan="2"><b>Total</b></td>
                    <td *ngFor="let data of exitData">{{data || 0}}</td>
                    <td>{{totalExitCount || 0}}</td>

                  </tr> -->
                </tbody>
              </table>

              <table class="table table-striped table-bordered text-center" *ngIf="(analyticsType == '4' ||analyticsType == '5') && analytics?.length>0">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th>Stand ID</th>
                    <th scope="col" sortable="name">0-2hrs</th>

                    <th scope="col" sortable="population">2-4hrs</th>
                    <th scope="col" sortable="population">4-6hrs</th>
                    <th scope="col" sortable="population">6-8hrs</th>
                    <th scope="col" sortable="population">8-10hrs</th>
                    <th scope="col" sortable="population">10-12hrs</th>
                    <th scope="col" sortable="population">12-14hrs</th>
                    <th scope="col" sortable="population">14-16hrs</th>
                    <th scope="col" sortable="population">16-18hrs</th>
                    <th scope="col" sortable="population">18-20hrs</th>
                    <th scope="col" sortable="population">20-22hrs</th>
                    <th scope="col" sortable="population">22-24hrs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>{{currentStand ? currentStand : '--'}}</td>
                    <td *ngFor="let data of exitData">{{data || 0}}</td>
                  </tr>
                  <tr>

                    <td colspan="14">&nbsp;</td>


                  </tr>
                  <!-- <tr>
                    <td colspan="2"><b>Total</b></td>
                    <td *ngFor="let data of exitData">{{data || 0}}</td>
                  </tr> -->
                </tbody>
              </table>
              <div class="norecords" *ngIf="analytics?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img src="assets/images/Spinner-2.gif" class="img-responsive" />
              </div>

            </div>
          </div>
        </div>
        <!--/.col-->
      </div>

      <!--/.row-->

    </div>


  </div>
</div>


