@import "assets/styles/mainStyle.scss";
@import "assets/styles/home.scss";
@import "assets/styles/customer.scss";



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.toggle-group {
  .btn {
    font-size: 0.8rem;
    line-height: 12px !important;
  }
}

.pagination {
  margin: 0;
}

.sidenavCollapseClass {}

.pagination {
  display: flex;
  display: -ms-flexbox;
  list-style: none;
  border-radius: 0.25rem;
  padding-left: 0;
  padding-right: 0;
}

.downdisable {
  opacity: 0.67
}

li,
dd {

  cursor: not-allowed;
}

ol,
ul,
dl {
  cursor: not-allowed;
}

li.page-item.disabled {
  cursor: not-allowed;
  color: grey
}

.has-error {
  background-color: #feeeee;
}

.card-body {
  thead {
    background: #4473c5;
    color: #fff;
  }

  tbody {
    tr {
      background: #eaeef7;
    }
  }

  .table-bordered td,
  .table-bordered th {
    border: 1px solid #b4bac3;
  }
}

.DTTT_button {
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 7%);
  border: solid 1px #ebedf2;
  background-color: #fff;
  padding: 8px 16px;
  margin-left: 10px;


  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal !important;
  letter-spacing: normal;
  outline: none;
  color: #606266;
  text-decoration: none;

  order: 2;

  span {

    vertical-align: middle;
  }

  .fa {
    margin: 0 7px 0 0;
  }

  &:hover {
    background: #4473c5;
    color: #fff;
  }
}

.dropdown-item {
  padding: .40rem 1rem;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;

}

.d-inline-block {
  button {
    span {
      margin-left: 10px;
    }
  }
}

h4.badge {
  font-size: 17px;
  font-weight: 500;
  margin: 5px;

  .fa {
    margin-right: 7px;
  }
}

.top-d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-1 {
  flex: 1 1 75%;
  display: flex;
}

.modal {
  .modal-content {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute !important;
    width: 100%;
    display: flex;
  }

  .modal-body {
    flex: 1;
    max-height: 80vh;
    flex-direction: column;
    display: flex;
    overflow: auto;
    background-color: #f2f5fa;
    padding: 2rem;
    padding-bottom: 0;
  }
}

form {
  .form-control {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
    display: inline-flex;
font-size: 1.2rem;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    height: calc(2.0em + .75rem + 4px);
  }

  .has-float-label {
    padding-bottom: 1.34375em;
  }

  .has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 110%;
    top: .6em;
  }

  .has-float-label .form-control:placeholder-shown:is(:focus)+* {
    top: -.9em;
  }

  .has-float-label label,
  .has-float-label>span {
    top: -.7em; font-size: 110%;
    background: #fff;
  }
}
.card-body{
  .form-control {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
    display: inline-flex;
font-size: 1.2rem;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    height: calc(2.0em + .75rem + 4px);
  }
}
input[type=checkbox] {
  position: relative;
  width: 16px;

  height: 16px;


  background: white;
  border: 1px solid #dcdcdc;
}

.page-inner {
  .nav-tabs {
    padding-left: 48px;
    border-bottom: 4px solid #202021;

    li {
      position: relative;

      a.nav-link {
        border-radius: 8px 8px 0 0;
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        float: right;
        margin: 0;
        padding: 10px 24px 8px;
        background-color: #FFF;
        margin-right: 46px;
        z-index: 2;
        position: relative;
        cursor: pointer;

        &.active {
          background: #ffc107;
          color: #000;

          &:before,
          &:after {
            background: #ffc107;
            color: #000;
          }
        }

        &:before {
          display: block;
          content: " ";
          position: absolute;
          top: 0;
          height: 100%;
          width: 44px;
          background-color: #FFF;
          transition: all 250ms ease;
          border-radius: 0 8px 0 0;
          right: -24px;
          transform: skew(30deg, 0deg);
          box-shadow: rgb(0 0 0 / 10%) 3px 2px 5px, inset rgb(255 255 255 / 9%) -1px 0;

        }

        &:after {
          display: block;
          content: " ";
          position: absolute;
          top: 0;
          height: 100%;
          width: 44px;
          background-color: #FFF;
          transition: all 250ms ease;
          border-radius: 8px 0 0 0;
          left: -24px;
          transform: skew(-30deg, 0deg);
          box-shadow: rgb(0 0 0 / 10%) -3px 2px 5px, inset rgb(255 255 255 / 9%) 1px 0;
        }

      }
    }

  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.datepicker-container[_ngcontent-lth-c169] input[_ngcontent-lth-c169] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 170% !important;
  height: 100% !important;
}


.norecords {
  padding-top: 80px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #f00;
}

.norecords p {
  color: #909090;
  font-weight: 400;
}

.norecords img {
  display: inline-block;
}

@media print {
  app-root>* {
    display: none;
  }

  app-root app-showpdf {
    display: block;
  }
}

app-showpdf {
  /* hide the printing component from @media screen */
  display: none;
}
.search-field input[type="search"]{position: relative;}
.search-field input[type="search"]:before{content: '\f044';font-family: 'FontAwesome'; position: absolute;top: 0;right: 0;background: #f00;font-size: 20px;}
.form-btn{    background-color: #28a745;
    padding: 14px 25px;
    color: #fff;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    margin-top: -5px;}
    .form-btn.dan{background-color: #ff1100;}
    .form-btn:hover{    background-color: #098926}
    .form-btn.dan:hover{    background-color: #cf1609}
    .card-body{
    table{
    td{vertical-align: middle;}
    }
    }