<div id="sidebar-left" style="display: block;" [ngClass]="isCollapsableValue?'sidenavCollapseClass':''">
  <div class="left-sidebar">

    <div class="sidebar-nav">
      <ul>
        <!-- <li class="active"> -->

        <!-- </li> -->
        <li *ngFor="let item of sideNavData" >
          <ng-container *ngIf="isOnlineStatus ? true : (!isOnlineStatus && (item.title=='Parkings'||item.title=='Monthly Cards') ? true : false)">

            <ng-container *ngIf="item.hasSubmenu.length==0">
              <a [routerLink]="item.route">
                <i class="{{item.icon}}" aria-hidden="true"></i>
                <span class="hidden-tablet">
                  {{item.title}}
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="item.hasSubmenu.length!=0">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="{{item.icon}}" aria-hidden="true"></i>
                <span class="hidden-tablet">
                  {{item.title}}
                </span>
              </a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li *ngFor="let item1 of item.hasSubmenu">
                  <a [routerLink]="item1.route">
                    <i class="{{item1.icon}}" aria-hidden="true"></i>
                    <span class="hidden-tablet">
                      {{item1.title}}
                    </span>
                  </a>
                </li>
              </ul>
            </ng-container>
          </ng-container>

        </li>

      </ul>
    </div>
  </div>
</div>
