a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar-left {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 250px;
  display: block;
  z-index: 6;
  color: #fff;
  font-weight: 200;
  overflow-x: hidden;
  max-height: 100%;
  // height: 100%;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/carparking.jpg);
  /*background-position: bottom center;*/
  background-size: cover;
  background-color: #3f51b8;

  padding: 0px;

  &.sidenavCollapseClass {
    margin-left: -240px;
  }

  &:before {
    display: none;
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36 36 37 / 92%);
  }

  .left-sidebar {
    position: relative;

  }

}



.sidebar-nav ul {
  padding: 0;
  margin: 0;
  border: 0;

  li {
    position: relative;
    display: block;

    a {
      font-size: 18px;
      padding: 14px 15px;
      color: #d8d8d8;
      border: 0;
      background: transparent;
      font-weight: 500;
      border-radius: 0;
      text-decoration: none;
      display: block;

      i {


        font-size: 18px;
        float: left;
        margin-right: 15px;

        width: 30px;
        text-align: center;


      }

      &:hover {
        background: #ffd800;
        border-radius: 0;
        color: #000;
      }
    }
  }

}

@media screen and (max-width:991px) {
  #sidebar-left {
    margin-left: -205px;

    &.sidenavCollapseClass {
      margin-left: 0px;
    }

  }
}

@media screen and (max-width:767px) {
  #sidebar-left {
    margin-left: -205px;

    &.sidenavCollapseClass {
      margin-left: 0px;
    }

  }
}
