@font-face {
    font-family: 'Gabriola';
    src: url('../../assets/fonts/Gabriola.eot');
    src: url('../../assets/fonts/Gabriola.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Gabriola.woff2') format('woff2'),
        url('../../assets/fonts/Gabriola.woff') format('woff'),
        url('../../assets/fonts/Gabriola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.mobile-foot-sec{height:70px;display:none;}
.wrap-outer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;


.home-section {
      
  &:before{
    content: "";position: absolute;bottom: 0;width: 100%;height: 250px;background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  background-image: url(../../assets/images/bg-shape.png);
  }
  .container{
    max-width: 80%;
  }
  background-color: #0147e7;
  /*background-image: url(../../assets/images/bg2.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /*flex: 1;
  flex-direction: column;
  display: flex;*/
      float: left;
    width: 100%;
    &::after{
      position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*content: "";*/
    background-color: rgba(15,28,80,0.8);
   z-index: 0;
    }

  .home-form-left {float: left; position: relative;   width: 40%;}
  .home-form-right {
    float: right;
    width: 60%;
    position: relative;
    z-index: 2;
    padding:130px 0 130px;
    text-align: center;
    h3 {
       font-family: 'Gabriola';
      font-weight: normal;
      color: white;    text-shadow: 1px 1px 6px #000;
      font-size: 40px;
      
    }
    p{
       color: #ffd800;margin-bottom: 30px;
      font-size: 25px;    line-height: 1;
    }
    .v_search {
      font-weight: normal;
      font-size: 18px;
      cursor: pointer;
      border: none;
      background: #ffd800;
      border-radius: 5px;
      color: #000;
      padding: 7px 12px;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
    .home-form {
      border-radius: 10px;
      width: 100%;
      overflow: hidden;
      background-color: #004cf9;
      padding: 20px;
      padding-bottom: 5px;
      select {
        padding: 5px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #000;
        height: 40px;
        width: 100%;
        color: #000;
        margin-bottom: 15px;
      }
      .form-text-blc {
        padding: 5px;
        border-radius: 6px;
        background: none;
        border: 2px solid #fff;
        background: #fff;
        height: 40px;
        width: 100%;
        color: #000;
        margin-bottom: 15px;
      }

    }
    .shadows {
        background-image: url(../../assets/images/shadow.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 34px;
        background-position: center;
      }
      .city {
        border-radius: 30px;
        display: inline-block;
        clear: both;
        margin:10px 0 40px 0;
        padding: 13px;
       /* background: rgba(42, 61, 172, 0);
        background: -moz-linear-gradient(left, rgba(42, 61, 172, 0) 13%, rgba(42, 61, 172, 0) 27%, rgba(42, 61, 172, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(13%, rgba(42, 61, 172, 0)), color-stop(27%, rgba(42, 61, 172, 0)), color-stop(100%, rgba(42, 61, 172, 1)));
        background: -webkit-linear-gradient(left, rgba(42, 61, 172, 0) 13%, rgba(42, 61, 172, 0) 27%, rgba(42, 61, 172, 1) 100%);
        background: -o-linear-gradient(left, rgba(42, 61, 172, 0) 13%, rgba(42, 61, 172, 0) 27%, rgba(42, 61, 172, 1) 100%);
        background: -ms-linear-gradient(left, rgba(42, 61, 172, 0) 13%, rgba(42, 61, 172, 0) 27%, rgba(42, 61, 172, 1) 100%);
        background: linear-gradient(to right, rgba(42, 61, 172, 0) 13%, rgba(42, 61, 172, 0) 27%, rgba(42, 61, 172, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a3dac', endColorstr='#2a3dac', GradientType=1);*/

        h3 {
          font-weight: normal;
          font-size: 22px;              color: #ffd800;
          text-shadow: none;
          margin: 0;    font-family: inherit;
          letter-spacing: 1px;
        }
        .cat-city {
          padding: 0;
          margin: 0;
          list-style: none;
          text-align: left;
          li {
            display: inline-block;
            a {
              color: #fff;
              padding: 0px 13px;
              font-weight: normal;
              font-size: 22px;
              line-height: 1;
              border-right: 1px solid;
              &:hover {
                color: #ffd800;
              }
              &:last-child{
                a{border-right: 0;}
              }
            }
          }

        }
      }
 
    .download {
    text-align: center;
    clear: both;
    margin: 64px 0 0 0;
    h3 {
      font-weight: normal;
      font-size: 22px;
      color: white;
      text-align: center;
      margin: 0 0 18px 0;
    }
    .download-buttons {
      display: inline-block;
      a img {
        margin: 10px;
      }
    }
  }
}

 }

}

img{max-width: 100%;}


@media screen and (max-width:1440px){
.wrap-outer 
  {
  .home-section{
    .home-form-right {
      h3{font-size: 34px;}
    }
  }
}

}
@media screen and (max-width:1280px){
.wrap-outer 
  {
  .home-section{
    .home-form-right {
      h3{font-size: 30px;}
    }
  }
}

}
@media (min-width:992px) and (max-width:1199px){

}
@media screen and (max-width:991px){ 
   img{max-width: 100%;}
  .logo{
    img{max-width: 100%;}
  }
  .p-homepage__phone{text-align: center;
    .download-buttons{margin-bottom: 30px;}
  }
  .wrap-outer {
    .home-section{
      .home-form-right{width: 100%;}
    }
  }
} 

@media screen and (max-width:767px){
.mobile-foot-sec{display:block;}
  .wrap-outer {min-height:inherit;
    .home-section{min-height:inherit!important;
      .container{    max-width: 100%;}
      .user_login{width: 100%;padding: 15px;margin: 20px 0;

        h3{font-size: 1.35rem;}
         input.l_name{height: 40px;    padding: 10px;}
         .u_name{    margin-bottom: 15px;}
      }
     .home-form-right{padding: 50px 0 50px;width: 100%;
      .home-form{    padding: 15px;}
      .shadows{    height: 23px;}
      .city .cat-city li a{font-size: 13px;padding: 5px 8px;}
      .city{margin: 10px 0;

        h3{font-size: 20px;}
      }
      h3{font-size: 30px;}
      p{font-size: 17px;}
     }
     .home-form-left{width: 100%;display: none;}
    }
  }
  .p-homepage__phone {
    .download-buttons {
      a{
       img{margin: 4px;}
     }
   }
  }
}











.p_city {
  width: 260px;
  position: relative;
  /* float: left;*/
  border-radius: 14px;
  margin-bottom: 12px;
}






