html {

  scroll-behavior: smooth;
}
body{font-size:18px!important;}
::-webkit-scrollbar { width: 5px;height: 5px;}
::-webkit-scrollbar-thumb {    background: #999;    -webkit-border-radius: 0;    border-radius: 0;}

header {
  position: relative;
  z-index: 9;    border-bottom: 2px solid #fff;
  width: 100%;
  background:#0f52ee;    padding:5px 15px;
  .navclsbtn {
  display: none;
    }

    .mobinav {
      display: none;
    }  
    .navbar-expand-lg .navbar-collapse{justify-content:flex-end;}
    .menu ul,.navbar-nav {
      list-style: none;
      margin: 15px 0 0 0;
      padding: 0;
      text-align: right;
      li {
        display: inline-block;

        a {
          font-weight: normal;
          text-decoration: none;
          font-size: 18px;
          color: white;
          padding: 5px 20px;
        
          &:hover {
            color: #ffd800;
          }
        }
        
        .drop {
          display: none;
          position: absolute;
          background-color: #fff;
          min-width: 210px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          border-radius: 10px;
          ul {
            list-style: none;
            width: 100%;
            float: left;
            margin: 0;
            padding: 0;
          }
          li {
            display: block;
            text-align: left;
            &:first-child>a:hover {
              border-radius: 10px 10px 0 0;
            }
            &:last-child>a:hover {
              border-radius: 0px 0px 10px 10px;
            }
          }
          
          a {
            display: block;
            font-weight: normal;
            text-decoration: none;
            font-size: 16px;
            color: black;
            margin: 0;
            text-shadow: none;
            &:hover {
              background-color: #ffd800;
              color: #000;
            }
          }
          
        }
        .sign-in a {
          border-radius: 30px;
             margin: 0 10px;
          background-color:#ffd800;
             box-shadow: 2px 2px 5px #000;
          color: #000;
          font-weight: 600;
          text-decoration: none;
          
          &.two {
           
            background-color: #fff;
            color: black;
          }
          &:hover {
            background-color: #0027fd;
            color: #fff;
          }
        }
            
        
      }

    }

}


.dropbtn:hover .drop {
  display: block;
}

.user_login {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #0087b8;
    background-color:rgb(47 110 255);
   position: relative;
   z-index: 2; 
    padding: 25px;
    border-radius: 8px;

    a {
        color: #ffd800;
        text-decoration: none;
        margin-left: 0;
        font-size: 16px;
        &:hover {
            color: #ffd800;
            text-decoration: none;
        }
    }
    h3 {
        margin: 0 0 15px 0;
        color: #ffd800;
    }
    .u_name{margin-bottom: 22px;}
    label {
        display: block;
        color: #fff;
        font-size: 15px;
        font-weight: normal;
    }
    input.l_name {
        width: 100%;
        border: 1px solid #fff;
        height: 44px;
        padding: 15px;
        border-radius: 5px;
    }
    select.l_name {
        width: 100%;
        border: 1px solid #fff;
        height: 44px;
        padding: 10px;
        border-radius: 5px;
    }
    textarea.l_name {
        width: 100%;
        border: 1px solid #fff;
        height: 100px;
        padding: 15px;
        border-radius: 5px;
    }
    .login-btn {
        background-color: #ffd800;
        color: black;
        border: none;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px 62px;
        cursor: pointer;
       &[disabled]{background-color: #807b62;color: #655f42;    cursor: grab; }
    }
    .login{margin: 28px 0 15px 0;
        &:hover {background: #0e2267; color: #fff;}
    }
    a.forgot {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.65);
        font-weight: normal;
    }

     label.mem{
        color: rgba(255, 255, 255, 0.65);
        font-weight: normal;
    }
}

.p-homepage__phone {
  
   background-image: url(../../assets/images/grid-pale.png);
  background-repeat: repeat;
 
    background-color: #f6f7fa;
    color: #000;
    padding: 50px 0 0;
    font-size: 24px;
    width: 100%;
    float: left;
    .row{align-items: center;}
    img{max-width: 100%;}
    h4 {
    text-transform: uppercase;
    font-size: 32px;
   
    font-weight: bold;
  }

    h3 {
      font-weight: normal;
      font-size: 22px;
      color: white;
      text-align: center;
      margin: 0 0 18px 0;
    }
    .download-buttons {
      display: inline-block;
      a img {
        margin: 10px;    border-radius: 5px;
      }
    }
  
}

.news_scrol{
   width: 100%;
    float: left;
    background: #fff;
    color: #000;
    padding: 25px 0;
    border-bottom: 1px solid #cfd9de;
    p{margin: 0;display: inline-block;padding: 0 20px;}
    marquee{}
}
.footer {
  overflow: hidden;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #0147e7;
  padding: 10px 0;
  p {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding:10px 0;
    
    color: #FFF;
  }
    a {
    color: #ffd800;padding: 0 5px;
    &:hover{color: #9cadff;}
  }
  .foot-park a {
    display: inline-block;
    padding: 13px 20px 12px 20px;
    background-color: #ffd800;
    border-radius: 10px;
    margin: 0;
    margin-right: 15px;
    color: #000;
    font-family: "Kozuka Gothic Pr6N";
    font-weight: normal;
    font-size: 16px;
    &.red {
      margin-right: 0px;
      background-color: #ba0000;
      color: #fff;
    }
     &:hover {
      background-color: #0e2267;
      color: #fff;
    }
  }
 
}


.page-inner{
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: transparent;
    padding: 15px 30px;
    
}
.page-wrapper{

        .header {  
          box-shadow: 0 1px 4px rgb(0 0 0 / 7%);
              padding:0.5rem 1.2rem;
   
                nav{flex: 1 1 70%;}
                .dash-dcv{flex: 1 1 70%;display: flex;    align-items: center;

                  p{margin: 0;padding: 0 10px;}
                }
            h1 {
                letter-spacing: -.011em;
                margin: 0;
                padding:0px 0;
                    margin-right: .75rem;
                    padding-right: .75rem;
                            border-right: 1px solid #eee;
                        font-weight: 500;
                font-size: 23px; 
                text-align: left;
                
                color: #323232;
            }
            .breadcrumb{background: none;padding: 0;margin: 0;color: #9a9a9a;
              ol{padding: 0;}
            }
        }
        
    }
.mat-expansion-panel-header.mat-expanded{    border-bottom: 1px solid #eee;height: 50px;    border-radius: 0;} 
.mat-form-field-wrapper{    padding-bottom: 1.14375em;}
.mat-card-header-text {    margin: 0 10px;}
.mat-form-field-appearance-outline .mat-form-field-infix {    padding: 0.6em 0 0.6em 0;}
.mat-form-field-label-wrapper{top: -1.16375em;}
example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}   
.devider{height: 30px;}
.clearfix{clear: both;}
.animated {
    .card-body{overflow: auto;}
    .search-field{padding: 20px;padding-bottom: 0;
      label{margin: 0;}
    }
  }
.switch {
  display: inline-block;
  width: 40px;
  height: 26px;
}

.switch-input {
  display: none;
}

.switch-slider {
  position: relative;
  display: block;
  height: inherit;
  cursor: pointer;
  background-color: #f00;
  border: 1px solid #ad0707;
  transition: .15s ease-out;
 border-radius: 50em;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #fff;
    border: 1px solid #ad0707;
    transition: 0.15s ease-out;
    border-radius: 0.125rem;
  }
}

.switch-input:checked ~ .switch-slider {
  background-color: #28a745;
    border-color: #137529;border-radius: 50em;
  &::before {
    border-radius: 50em;left: 24px; 
    transform: translateX(14px);
  }
}

.switch-input:disabled ~ .switch-slider {
  cursor: not-allowed;
  opacity: .5;
}

.switch-label {
      width: 70px;

  .switch-slider {
    &::before {
      z-index: 2;border-radius: 50em;
    }
    &::after {
      position: absolute;
    top: 50%;
    right: 4px;
    z-index: 1;
    width: 59%;
    margin-top: -0.5em;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    content: attr(data-unchecked);
    transition: inherit;
    }
  }

  .switch-input:checked ~ .switch-slider {
    &::before {
          transform: translateX(22px);border-color: #137529;
    }
    &::after {

      left: 4px;
      color: #fff;
      content: attr(data-checked);
    }
  }


 
}
.mobile-login{display:none;}
.mobile-footer{    
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background: #0147e7;

    ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li{ padding: 10px 0;
        button{    font-size: 20px!important;    padding: 0!important;}
        a { font-size:13px;line-height: 1;color:#fff!important;
            span{display: block; font-size:20px;   text-align: center;}
            }
        }
    }
}
@media screen and (max-width:1440px){  
  header{
    .navbar-nav{margin-top: 10px;}
  .menu ul,.navbar-nav {
    li{
      a{    padding: 5px 16px;}
    }
  }
}
}
@media screen and (max-width:1280px){
  h4, .h4 {
      font-size: 1.2rem!important;
  }
}
@media (min-width:992px) and (max-width:1199px){
   header{
    .navbar-nav{margin-top: 0px;}
  .menu ul,.navbar-nav {
    li{
      a{ font-size: 16px;   padding: 5px 10px;}
    }
  }
}
}
@media screen and (max-width:991px){ 
  .logo{    display: flex;    align-items: center;    justify-content: space-between;}
  header {background-color: #0147e7;
  .menu ul {margin-top: 10px;
            li a{    font-size: 15px;}
           }
         }
  .mob-none{display:none;}
  .navbar{justify-content:flex-end!important;}
  .mobile-footer{  display:block;}
  .mobile-login{display:block;    flex: 1 0 50%;    text-align: right;

    a{color: #fff;display: flex; justify-content: flex-end;
      .fa{font-size: 25px;margin-right: 5px;}
    }
  }

  .footer {display:none;}
  .menu ul,.navbar-nav {
    li{
      a{display:block}
    }
  }

} 
@media screen and (max-width:767px){
  .page-inner{padding: 10px;}
  .devider {    height: 15px;}
  .page-wrapper {
    .header{padding: 0.5rem 0.5rem;
      p{
        button{
          span{display: none;}
        }
      }
      nav{flex: 1 1 52%;}
      h1{font-size: 16px;}
      .breadcrumb{    font-size: 12px;}
    }
  }
}
.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}