.header{display: flex;align-items: center;background: #fff;}
.overview-item--c1 {border: 0;letter-spacing: 1px;
    background: #e04365;
background: -moz-linear-gradient(left, #e04365 0%, #fc466b 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #e04365), color-stop(100%, #fc466b));
background: -webkit-linear-gradient(left, #e04365 0%, #fc466b 100%);
background: -o-linear-gradient(left, #e04365 0%, #fc466b 100%);
background: -ms-linear-gradient(left, #e04365 0%, #fc466b 100%);
background: linear-gradient(to right, #e04365 0%, #fc466b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04365', endColorstr='#fc466b', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c2 {
	border: 0;letter-spacing: 1px;
   background: #11998e;
background: -moz-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #11998e), color-stop(100%, #1ccc5f));
background: -webkit-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
background: -o-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
background: -ms-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
background: linear-gradient(to right, #11998e 0%, #1ccc5f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11998e', endColorstr='#1ccc5f', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c3 {border: 0;letter-spacing: 1px;
    background: #ff9d09;
background: -moz-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #ff9d09), color-stop(100%, #ff6a00));
background: -webkit-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
background: -o-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
background: -ms-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
background: linear-gradient(to right, #ff9d09 0%, #ff6a00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d09', endColorstr='#ff6a00', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c4 {border: 0;letter-spacing: 1px;
   background: #c2cc4d;
background: -moz-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #c2cc4d), color-stop(100%, #bac12c));
background: -webkit-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
background: -o-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
background: -ms-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
background: linear-gradient(to right, #c2cc4d 0%, #bac12c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2cc4d', endColorstr='#bac12c', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c5 {border: 0;letter-spacing: 1px;
   background: #9c27b0;
background: -moz-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #9c27b0), color-stop(100%, #bd47d2));
background: -webkit-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
background: -o-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
background: -ms-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
background: linear-gradient(to right, #9c27b0 0%, #bd47d2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c27b0', endColorstr='#bd47d2', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c6 {border: 0;letter-spacing: 1px;
   background: #3f51b5;
background: -moz-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #3f51b5), color-stop(100%, #415ae6));
background: -webkit-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
background: -o-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
background: -ms-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
background: linear-gradient(to right, #3f51b5 0%, #415ae6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#415ae6', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c7 {border: 0;letter-spacing: 1px;
   background: #00bcd4;
background: -moz-linear-gradient(left, #00bcd4 0%, #019aab 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #00bcd4), color-stop(100%, #019aab));
background: -webkit-linear-gradient(left, #00bcd4 0%, #019aab 100%);
background: -o-linear-gradient(left, #00bcd4 0%, #019aab 100%);
background: -ms-linear-gradient(left, #00bcd4 0%, #019aab 100%);
background: linear-gradient(to right, #00bcd4 0%, #019aab 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#019aab', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.overview-item--c8 {border: 0;letter-spacing: 1px;
   background: #402b2b;
background: -moz-linear-gradient(left, #402b2b 0%, #693f39 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #402b2b), color-stop(100%, #693f39));
background: -webkit-linear-gradient(left, #402b2b 0%, #693f39 100%);
background: -o-linear-gradient(left, #402b2b 0%, #693f39 100%);
background: -ms-linear-gradient(left, #402b2b 0%, #693f39 100%);
background: linear-gradient(to right, #402b2b 0%, #693f39 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402b2b', endColorstr='#693f39', GradientType=1 );
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
a{ transition:all 0.5s ease-in-out 0s;
	&:hover{text-decoration: none;
		.card-icon{border-radius: 50%;}
		.card {box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);}
	}
}
 
.card-icon{
      border-radius: 3px;
    background-color: #fff;
    padding: 15px;
    margin-top: 0px;
    margin-right: 15px;
    float: left;
 transition:all 0.5s ease-in-out 0s;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);
        background: linear-gradient(60deg,#ffffff,#f5f5f5);
}
/*.card-icon.rose{ background: linear-gradient(60deg,#ec407a,#d81b60);}
.card-icon.success{ background:linear-gradient(60deg,#66bb6a,#43a047);}
.card-icon.info{ background:linear-gradient(60deg,#26c6da,#00acc1);}*/