<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <div class="page-inner">
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-4" *ngFor="let cardData of cardsData;let i=index">
        <a>
          <div class="card h-100" [ngClass]="getCss(i)">
            <div class="card-body">
              <div class="card-icon">
                <img [src]=" cardData?.type=='bicycle'?'assets/images/bicycle-black.svg':
                (cardData?.type=='twoWheeler'?'assets/images/motorbike-black.svg':
                (cardData?.type=='threeWheeler'?'assets/images/rickshaw-black.svg':
                (cardData?.type=='fourWheeler'?'assets/images/car-black.svg':'')))" width="50">
              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <p class="font-weight-bold text-light">{{cardData?.type=='bicycle'?'Cycles':
                  (cardData?.type=='twoWheeler'?'Bikes':
                  (cardData?.type=='threeWheeler'?'Auto Rickshaw':
                  (cardData?.type=='fourWheeler'?'Cars':cardData?.type)))}}</p>
              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="text-xs text-light text-capitalize text-center mb-1">
                  Parkings</div>
                <div class="h6 mb-0 font-weight-bold text-light">
                  {{cardData.total}}</div>

              </div>
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="text-xs text-light text-capitalize text-center mb-1">
                  Exits</div>
                <div class="h6 mb-0 font-weight-bold text-light">
                  {{cardData.exit}}</div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <div class="text-xs text-light text-capitalize text-center mb-1">
                Total Collection</div>
              <div class="h5 mb-0 font-weight-bold text-light">{{cardData.collection > 0 ? (cardData.collection| number : '1.0-2'||0) : 0}}</div>
            </div>

          </div>
        </a>
      </div>

    </div>



    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Stand List</strong>
          </div>
          <div class="card-body" *ngIf="!loader">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label">Stand :</label>
                  <div class="controls">
                    <select class="form-control" [(ngModel)]="selectedStand"
                      (ngModelChange)="standOptionChanged($event)">
                      <!-- <option value="">Select Stand</option> -->
                      <option *ngFor="let option of standsData" [ngValue]="option">{{option.standName}}</option>
                      <!-- <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option> -->
                    </select>

                  </div>
                </div>
              </div>


            </div>
            <table class="table table-striped table-bordered text-center" *ngIf="tableData?.length!=0">
              <thead>
                <tr>
                  <th>Type</th>
                  <!-- <th>Previous Pending</th> -->
                  <th>Entry</th>
                  <th>Exited</th>
                  <th>Cancelled</th>
                  <th>Pending</th>
                  <th>Offline Cards</th>
                  <th>Total Collection</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let option of tableData;let i=index">
                  <td>
                    <div class="">
                      <!-- <i class="fa fa-bicycle" aria-hidden="true"></i>
                      <i class="fa fa-motorcycle" aria-hidden="true"></i>
                      <i class="fa fa-car" aria-hidden="true"></i> -->
                      <img [src]="option.type=='bicycle'?'assets/images/bicycle-black.svg':
                      (option.type=='twoWheeler'?'assets/images/motorbike-black.svg':
                      (option.type=='threeWheeler'?'assets/images/rickshaw-black.svg':
                      'assets/images/car-black.svg'))" width="50"> </div>
                  </td>
                  <!-- <td>{{option.pending || 0}}</td> -->
                  <td>{{option.total || 0}}</td>
                  <td>{{option.exit || 0}}</td>
                  <td>{{option.cancelled || 0}}</td>
                  <td>{{option.pendingOnLogout || 0}}</td>
                  <td>{{option.offlineCards || 0}}</td>
                  <td>
                    {{option.collection > 0 ? (option.collection| number : '1.0-2'||0) : 0}}
                    <!-- {{option.collection| number : '1.0-2' || 0}} -->
                  </td>

                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <!-- <td>{{pendingCount || 0}}</td> -->
                  <td>{{entryCount || 0}}</td>
                  <td>{{exitedCount || 0}}</td>
                  <td>{{canclledCount || 0}}</td>
                  <td>{{pendingOnLogoutCount || 0}}</td>
                  <td>{{offlineCardsCount || 0}}</td>
                  <td>
                    {{totalCollectionCount > 0 ? (totalCollectionCount| number : '1.0-2'||0) : 0}}
                    <!-- {{totalCollectionCount| number : '1.0-2' || 0}} -->
                  </td>


                </tr>

              </tbody>
            </table>
            <div class="norecords" *ngIf="!loader&&tableData?.length==0">
              <img src="assets/images/nodataFoundImg.png">
              <!-- <h3>No Records Found</h3>
              <p>There was no record based on the details you selected. Please retry the list</p> -->
            </div>

          </div>
          <div class="card-body" *ngIf="loader">
            <div style="text-align: center;
            padding: 100px 0px 100px 0px;">
              <img src="assets/images/Spinner-2.gif" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <div class="devider"></div>
    <div class="row" *ngIf="!loader">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header"><strong>Parkings </strong></div>
          <div class="card-body">
            <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="{ maintainAspectRatio: false }"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header"><strong>Collection</strong></div>
          <div class="card-body">
            <canvas baseChart width="400" height="400"
            [datasets]="lineChartData1"
            [labels]="lineChartLabels"
            [options]="{ maintainAspectRatio: false }"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="devider"></div>

  </div>
</div>
