.header{display: flex;align-items: center;background: #fff;}
.card{
	border: 0;box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);margin-bottom: 1.5rem;
	&.overview-item--c1 {
	    background: #e04365;
		background: -moz-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #e04365), color-stop(100%, #fc466b));
		background: -webkit-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: -o-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: -ms-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: linear-gradient(to right, #e04365 0%, #fc466b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04365', endColorstr='#fc466b', GradientType=1 );
		    
		}
	&.overview-item--c2 {
		background: #11998e;
		background: -moz-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #11998e), color-stop(100%, #1ccc5f));
		background: -webkit-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: -o-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: -ms-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: linear-gradient(to right, #11998e 0%, #1ccc5f 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11998e', endColorstr='#1ccc5f', GradientType=1 );
		   
		}
	&.overview-item--c3 {
		background: #ff9d09;
		background: -moz-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #ff9d09), color-stop(100%, #ff6a00));
		background: -webkit-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: -o-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: -ms-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: linear-gradient(to right, #ff9d09 0%, #ff6a00 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d09', endColorstr='#ff6a00', GradientType=1 );
		   
		}
	&.overview-item--c4 {
		background: #c2cc4d;
		background: -moz-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #c2cc4d), color-stop(100%, #bac12c));
		background: -webkit-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: -o-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: -ms-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: linear-gradient(to right, #c2cc4d 0%, #bac12c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2cc4d', endColorstr='#bac12c', GradientType=1 );

		}
	&.overview-item--c5 {
		background: #9c27b0;
		background: -moz-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #9c27b0), color-stop(100%, #bd47d2));
		background: -webkit-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: -o-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: -ms-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: linear-gradient(to right, #9c27b0 0%, #bd47d2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c27b0', endColorstr='#bd47d2', GradientType=1 );
		   
		}
	&.overview-item--c6 {
		background: #3f51b5;
		background: -moz-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #3f51b5), color-stop(100%, #415ae6));
		background: -webkit-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: -o-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: -ms-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: linear-gradient(to right, #3f51b5 0%, #415ae6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#415ae6', GradientType=1 );

		}
	&.overview-item--c7 {
		background: #00bcd4;
		background: -moz-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #00bcd4), color-stop(100%, #019aab));
		background: -webkit-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: -o-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: -ms-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: linear-gradient(to right, #00bcd4 0%, #019aab 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#019aab', GradientType=1 );

		}
	&.overview-item--c8 {
		background: #402b2b;
		background: -moz-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #402b2b), color-stop(100%, #693f39));
		background: -webkit-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: -o-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: -ms-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: linear-gradient(to right, #402b2b 0%, #693f39 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402b2b', endColorstr='#693f39', GradientType=1 );

		}

}

a{display: block;transition:all 0.5s ease-in-out 0s;
	&:hover{text-decoration: none;
		.col-auto{border-radius: 50%;}
		.card {box-shadow: 4px 4px 15px #ccc}
	}
}
.col-auto{border-radius: 4px;transition:all 0.5s ease-in-out 0s;}
.nb-block{

    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 300;
    height: 114px;
    letter-spacing: 0.02em;
    line-height: 20px;
    margin: 0 1% 1% 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    &.overview-item--c1 {
	    background: #e04365;
		background: -moz-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #e04365), color-stop(100%, #fc466b));
		background: -webkit-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: -o-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: -ms-linear-gradient(left, #e04365 0%, #fc466b 100%);
		background: linear-gradient(to right, #e04365 0%, #fc466b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04365', endColorstr='#fc466b', GradientType=1 );
		    
		}
	&.overview-item--c2 {
		background: #11998e;
		background: -moz-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #11998e), color-stop(100%, #1ccc5f));
		background: -webkit-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: -o-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: -ms-linear-gradient(left, #11998e 0%, #1ccc5f 100%);
		background: linear-gradient(to right, #11998e 0%, #1ccc5f 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11998e', endColorstr='#1ccc5f', GradientType=1 );
		   
		}
	&.overview-item--c3 {
		background: #ff9d09;
		background: -moz-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #ff9d09), color-stop(100%, #ff6a00));
		background: -webkit-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: -o-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: -ms-linear-gradient(left, #ff9d09 0%, #ff6a00 100%);
		background: linear-gradient(to right, #ff9d09 0%, #ff6a00 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d09', endColorstr='#ff6a00', GradientType=1 );
		   
		}
	&.overview-item--c4 {
		background: #c2cc4d;
		background: -moz-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #c2cc4d), color-stop(100%, #bac12c));
		background: -webkit-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: -o-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: -ms-linear-gradient(left, #c2cc4d 0%, #bac12c 100%);
		background: linear-gradient(to right, #c2cc4d 0%, #bac12c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2cc4d', endColorstr='#bac12c', GradientType=1 );

		}
	&.overview-item--c5 {
		background: #9c27b0;
		background: -moz-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #9c27b0), color-stop(100%, #bd47d2));
		background: -webkit-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: -o-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: -ms-linear-gradient(left, #9c27b0 0%, #bd47d2 100%);
		background: linear-gradient(to right, #9c27b0 0%, #bd47d2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c27b0', endColorstr='#bd47d2', GradientType=1 );
		   
		}
	&.overview-item--c6 {
		background: #3f51b5;
		background: -moz-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #3f51b5), color-stop(100%, #415ae6));
		background: -webkit-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: -o-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: -ms-linear-gradient(left, #3f51b5 0%, #415ae6 100%);
		background: linear-gradient(to right, #3f51b5 0%, #415ae6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#415ae6', GradientType=1 );

		}
	&.overview-item--c7 {
		background: #00bcd4;
		background: -moz-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #00bcd4), color-stop(100%, #019aab));
		background: -webkit-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: -o-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: -ms-linear-gradient(left, #00bcd4 0%, #019aab 100%);
		background: linear-gradient(to right, #00bcd4 0%, #019aab 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#019aab', GradientType=1 );

		}
	&.overview-item--c8 {
		background: #402b2b;
		background: -moz-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #402b2b), color-stop(100%, #693f39));
		background: -webkit-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: -o-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: -ms-linear-gradient(left, #402b2b 0%, #693f39 100%);
		background: linear-gradient(to right, #402b2b 0%, #693f39 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402b2b', endColorstr='#693f39', GradientType=1 );

		}
 a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    height: 90%;
    line-height: 16px;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 88%;
    text-decoration: none;
    transition:all 0.5s ease-in-out 0s;

    .htrt{position: absolute;right: 4rem;bottom: 0;}

}
.info {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 45px;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;

}
a:hover .info {
    /*transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    font-size: 40px;
    opacity: 0.6;*/
}
.status {
    background-color: transparent;
    bottom: -10px;
    font-size: 14px;
    left: 10px;
    min-height: 30px;
    position: absolute;
}
a .fa.top {
	    font-size: 50px;
    margin-top: 20px;
    display: inline-block;

    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
a:hover .fa.top {
   /* transform: rotate(83deg);
    -moz-transform: rotate(83deg);
    -webkit-transform: rotate(83deg);
    -o-transform: rotate(83deg);
    font-size: 140px;
    opacity: 0.2;*/
}
}
@media screen and (max-width:1440px){ 
.nb-block {
    a{
      .htrt{    right: 0rem;}
    } 
  }

}
@media screen and (max-width:767px){
  .card{    margin-bottom: 15px;}
  .header{flex-direction: column;}
}

.dash-dcv{
	.form-control{width: 200px;margin: 0 5px;}
}
.flex-flow-column{ flex-flow:column}
.badge{font-size: 13px;margin: 0 5px;
	.fa{margin-right: 5px;}
}


