<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header d-lg-block d-none">Dashboard</h1>

  </div>
  <div class="page-inner">
    <div class="row">
      <div class="col-sm-6 col-lg-4 ">
        <div class="nb-block overview-item--c6 mb-4">
          <a data-original-title="" [routerLink]="'/accounts'">
            <div class="overview-item--c6">
              <i class="fa fa-user top"></i>
              <div class="d-flex htrt">
                <p class="ac mb-0 badge badge-pill badge-success"><i class="fa fa-check-circle"></i>Active
                  {{dashboardAccountsData?.Active}}</p>
                <p class="ac mb-0 badge badge-pill badge-danger"><i class="fa fa-times-circle"></i>Expired
                  {{dashboardAccountsData?.Total - dashboardAccountsData?.Active}}</p>
              </div>
              <div class="info font-weight-bold">{{dashboardAccountsData?.Total}}</div>
              <div class="status">Accounts</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="nb-block overview-item--c5 mb-4">
          <a data-original-title="" [routerLink]="'/view-stands'">
            <div class="overview-item--c6">
              <i class="fa fa-map-signs top"></i>
              <div class="d-flex htrt">
                <p class="ac mb-0 badge badge-pill badge-success"><i class="fa fa-check-circle"></i>Online
                  {{dashboardStandsData?.Active}}</p>
                <p class="ac mb-0 badge badge-pill badge-danger"><i class="fa fa-times-circle"></i>Offline
                  {{dashboardStandsData?.Total - dashboardStandsData?.Active}}</p>
              </div>
              <div class="info font-weight-bold">{{dashboardStandsData?.Total}}</div>
              <div class="status">Stands</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="nb-block overview-item--c3 mb-4">
          <a data-original-title="">
            <div class="overview-item--c6">
              <i class="fa fa-comments top"></i>
              <div class="d-flex htrt">
                <div class="h4 mb-0 font-weight-bold text-light">{{smsSent}}/{{smsSent + dashboardSMSData}}</div>
              </div>
              <div class="info font-weight-bold">{{dashboardSMSData}}</div>
              <div class="status">SMS Used</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="nb-block overview-item--c4 mb-4">
          <a data-original-title="">
            <div class="overview-item--c6">
              <i class="fa fa-download top"></i>
              <div class="info font-weight-bold">0</div>
              <div class="status">App Downloads</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="nb-block overview-item--c2 mb-4">
          <a data-original-title="" [routerLink]="'/cardsales'">
            <div class="overview-item--c6">
              <i class="fa fa-desktop top"></i>
              <div class="info font-weight-bold">{{standsOnlineCount || 0}}</div>
              <div class="status">Online Cards Sales</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="nb-block overview-item--c1 mb-4">
          <a data-original-title="" [routerLink]="'/cardsales'">
            <div class="overview-item--c6">
              <i class="fa fa-credit-card top"></i>
              <div class="info font-weight-bold">{{standsOfflineCount || 0}}</div>
              <div class="status">Offline Card Sales</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="devider"></div>
    <div class="row">
      <div class=" col-lg-4 col-sm-6">
        <a [routerLink]="'/wanted-vehicles'">
          <div class="card  h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark  text-uppercase mb-1">
                    Missing Vehicles</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">{{dashboardData?.wantedVehicles}}</div>
                </div>
                <div class="col-auto btn-primary py-3 px-3 round">
                  <img src="assets/images/cyber-attack.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a  [routerLink]="'/wanted-vehicles'">
          <div class="card  h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                    Matched Vehicles</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">{{dashboardData?.matchedVehicles}}</div>
                </div>
                <div class="col-auto btn-secondary py-3 px-3 round">
                  <img src="assets/images/protection.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a  [routerLink]="'/wanted-vehicles'">
          <div class="card  h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                    Duplicate Numbers</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">0</div>
                </div>
                <div class="col-auto btn-warning py-3 px-3 round">
                  <img src="assets/images/duplicate.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a  [routerLink]="'/vehicleSearch'">
          <div class="card  h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                    Vehicles Entry</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">{{vehicalDetails?.Total }}</div>
                </div>
                <div class="col-auto btn-success py-3 px-3 round">
                  <img src="assets/images/entry.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a [routerLink]="'/vehicleSearch'">
          <div class="card h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                    Vehicles Exit</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">{{vehicalDetails?.Exit}}</div>
                </div>
                <div class="col-auto btn-danger py-3 px-3 round">
                  <img src="assets/images/exit.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a [routerLink]="'/vehicleSearch'">
          <div class="card h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                    Vehicles Pending</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">
                    {{vehicalDetails?.Total - (vehicalDetails?.Exit + vehicalDetails?.Cancelled)}}</div>
                </div>
                <div class="col-auto btn-dark py-3 px-3 round">
                  <img src="assets/images/pending.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a [routerLink]="'/vehicleSearch'">
          <div class="card h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                    Cancelled Vehicles</div>
                  <div class="h4 mb-0 font-weight-bold text-dark">{{vehicalDetails?.Cancelled}}</div>
                </div>
                <div class="col-auto btn-danger py-3 px-3 round">
                  <img src="assets/images/cancel.svg" width="50">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Customer Reported</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div>
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables"></label>
              </div>
            </div>
            <div class="card-body">

              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Vehicle Number</th>
                    <th>Customer Name</th>
                    <th>Customer Phone</th>
                    <th>Parking ID</th>
                    <th>Stand</th>
                    <th>Stand Phone</th>
                    <th>Parked Date</th>
                    <th>Reported Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>AP05aa0000</td>
                    <td>Shankar K</td>
                    <td>7519123459</td>
                    <td>TES2103P748</td>
                    <td>Test Stand 1</td>
                    <td>1231231231</td>
                    <td>21/03/2021 07:38:37</td>
                    <td>25/03/2021 07:58:20</td>
                  </tr>
                  <tr>
                    <td>AP05aa0000</td>
                    <td>Shankar K</td>
                    <td>7519123459</td>
                    <td>TES2103P748</td>
                    <td>Test Stand 1</td>
                    <td>1231231231</td>
                    <td>21/03/2021 07:38:37</td>
                    <td>25/03/2021 07:58:20</td>
                  </tr>
                  <tr>
                    <td>AP05aa0000</td>
                    <td>Shankar K</td>
                    <td>7519123459</td>
                    <td>TES2103P748</td>
                    <td>Test Stand 1</td>
                    <td>1231231231</td>
                    <td>21/03/2021 07:38:37</td>
                    <td>25/03/2021 07:58:20</td>
                  </tr>
                  <tr>
                    <td>AP05aa0000</td>
                    <td>Shankar K</td>
                    <td>7519123459</td>
                    <td>TES2103P748</td>
                    <td>Test Stand 1</td>
                    <td>1231231231</td>
                    <td>21/03/2021 07:38:37</td>
                    <td>25/03/2021 07:58:20</td>
                  </tr>
                  <tr>
                    <td>AP05aa0000</td>
                    <td>Shankar K</td>
                    <td>7519123459</td>
                    <td>TES2103P748</td>
                    <td>Test Stand 1</td>
                    <td>1231231231</td>
                    <td>21/03/2021 07:38:37</td>
                    <td>25/03/2021 07:58:20</td>
                  </tr>


                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <div></div>
                <ngb-pagination [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Missing Reports</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="getVehiclesList(1)">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <!-- <div>
                  <button class="DTTT_button" (click)="copyTable()"><i class="fa fa-clone"></i>
                    <span>Copy</span></button>
                  <button class="DTTT_button" (click)="printPDF()"><i class="fa fa-print"></i>
                    <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div> -->
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <form [formGroup]="searchForm">
                  <label>
                    <input type="search" class="form-control input-sm" placeholder="Search records"
                      aria-controls="datatables" formControlName="searchKey">
                  </label>
                </form>
              </div>
            </div>
            <div class="card-body" *ngIf="!loader">

              <table class="table table-striped table-bordered" *ngIf="wantedVehicleList?.length>0">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Vehicle No</th>
                    <th>Type</th>
                    <th>Mobile No.</th>
                    <th>Insurance Validity</th>
                    <th>Missing Date</th>
                    <th>Request Date</th>
                    <th>Request By</th>
                    <th>Police Complaint logged?</th>
                    <th>Located At</th>
                    <th>Located On</th>
                    <th>Remarks</th>
                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of wantedVehicleList;let i = index">
                    <td>{{(i+1)+((page-1)*pageSize)}}</td>
                    <td style="text-transform: uppercase;">{{vehicle?.vehicleNumber || 'N/A' }}</td>
                    <td>{{getVehicleType(vehicle?.type) || 'N/A' }}</td>
                    <td>{{vehicle?.phoneNumber || 'N/A' }}</td>
                    <td>{{vehicle?.insuranceValidty || 'N/A' }}</td>
                    <td>{{vehicle?.missingDate? getDate(vehicle?.missingDate) : 'N/A' }}</td>
                    <td>{{vehicle?.requestDate? getDate(vehicle?.requestDate)  : 'N/A'}}</td>
                    <td>{{vehicle?.requestBy || 'N/A' }}</td>
                    <td>{{vehicle?.policeComplaintMade || 'N/A' }}</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>{{vehicle?.remarks || 'N/A' }}</td>
                    <!-- <td>
                      <button class="btn btn-sm btn-success" (click)="openModal(content, 'edit', vehicle)"
                        placement="bottom" ngbTooltip="Edit"><i class="fa fa-edit"></i></button>&nbsp;
                      <button class="btn btn-sm btn-danger" placement="bottom" ngbTooltip="Delete"
                        (click)="deleteVehicle(vehicle)"><i class="fa fa-trash"></i></button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <div class="norecords" *ngIf="wantedVehicleList?.length==0">
                <img src="assets/images/nodataFoundImg.png">
                <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
              </div>
            </div>
            <div class="card-body" *ngIf="loader">
              <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                <img *ngIf="!searchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                  class="img-responsive" />
                <img *ngIf="searchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                  class="img-responsive" />
              </div>

            </div>

            <div class="card-footer" *ngIf="wantedVehicleList?.length>=0&&!loader">
              <!--Pagination starts here-->
              <section id="basic-pagination" *ngIf="count>pageSize">
                <nav aria-label="Page navigation mb-3">
                  <ul class="pagination" style="float:right;">

                    <ul class="pagination">

                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                        <a class="page-link" style="color:#00aae7" (click)="getVehiclesList(pager.currentPage -1)">«</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="getVehiclesList(page)">{{page}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" style="color:#00aae7"
                          (click)="getVehiclesList(pager.currentPage + 1)">»</a>
                      </li>

                    </ul>

                  </ul>

                </nav>
              </section>

              <!--Pagination ends here-->
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>
  </div>
</div>
