<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Offline Payments Report</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Offline Payments Report</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <div class="card">
      <div class="card-header">
        <strong>Search By</strong>
      </div>
      <div class="card-body">
        <form action="" method="post">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label">Owner :</label>
                <div class="controls">
                  <select class="form-control">
                    <option value="24">Vijay Kumar</option>
                    <option value="2">Test Owner</option>
                    <option value="5" selected="">R.V.Satyanarayana</option>
                    <option value="11">naidu test</option>

                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label">Stand :</label>
                <div class="controls">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>

                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label class="control-label">&nbsp;</label>
              <div class="form-actions">

                <button type="button" class="btn btn-info blue">Search</button>
              </div>
            </div>


          </div>
        </form>
      </div>
    </div>
    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Offline Payments Report</strong>
            </div>
            <div class="search-field d-flex justify-content-between">
              <div class="d-flex">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                  (ngModelChange)="refreshCountries()">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
                <div>
                  <button class="DTTT_button"><i class="fa fa-clone"></i> <span>Copy</span></button>

                  <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
                  <div ngbDropdown class="d-inline-block">
                    <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                      Export</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                      <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                    </div>
                  </div>

                </div>
              </div>
              <div id="datatables_filter" class="dataTables_filter">
                <label><input type="search" class="form-control input-sm" placeholder="Search records"
                    aria-controls="datatables"></label>
              </div>
            </div>
            <div class="card-body">

              <table class="table table-striped table-bordered text-center">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Stand ID</th>
                    <th>Card No</th>
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Veh.No.</th>
                    <th>Duration</th>
                    <th>Payment Date</th>

                    <th>Payable Amount</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>STA1</td>
                    <td>WAS12548</td>
                    <td>Anil kumar</td>
                    <td>9874563210</td>
                    <td>AP05AD2515</td>
                    <td>2012/01/01</td>
                    <td>500</td>

                    <td>600</td>

                    <td><a class="btn btn-success btn-sm" placement="bottom" ngbTooltip="New Plane">New</a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>STA1</td>
                    <td>WAS12548</td>
                    <td>Anil kumar</td>
                    <td>9874563210</td>
                    <td>AP05AD2515</td>
                    <td>2012/01/01</td>
                    <td>500</td>

                    <td>600</td>

                    <td><a class="btn btn-warning btn-sm" placement="bottom" ngbTooltip="Renew Plane">Renew</a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>STA1</td>
                    <td>WAS12548</td>
                    <td>Anil kumar</td>
                    <td>9874563210</td>
                    <td>AP05AD2515</td>
                    <td>2012/01/01</td>
                    <td>500</td>

                    <td>600</td>

                    <td><a class="btn btn-success btn-sm" placement="bottom" ngbTooltip="New Plane">New</a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>STA1</td>
                    <td>WAS12548</td>
                    <td>Anil kumar</td>
                    <td>9874563210</td>
                    <td>AP05AD2515</td>
                    <td>2012/01/01</td>
                    <td>500</td>

                    <td>600</td>

                    <td><a class="btn btn-warning btn-sm" placement="bottom" ngbTooltip="Renew Plane">Renew</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between p-2">


                <div></div>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="refreshCountries()">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

    </div>

  </div>
</div>
