<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Card Report</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Card Report</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <!-- <div class="card">
        <div class="card-header">
          <strong>Select By</strong>
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                <label class="control-label">Stand :</label>
                <div class="controls">
                  <select class="form-control" [(ngModel)]="selectedStand"
                  (ngModelChange)="standOptionChanged($event)">
                  <option *ngFor="let option of standsData" [ngValue]="option">{{option.standName}}</option>

                </select>

                </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                 <label class="control-label">&nbsp;</label>
                <div class="form-actions">

                  <button type="button" class="btn btn-info blue">Search</button>
                </div>
              </div>


            </div>
          </form>
        </div>
      </div> -->
    <div class="devider"></div>
    <div class="animated fadeIn">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1" (click)="getCardsList(1,'online')">
          <a ngbNavLink>Online Card Report</a>
          <ng-template ngbNavContent>
            <div class="card">
              <div class="search-field d-flex justify-content-between">
                <div class="d-flex">
                  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="getCardsList(1,'online')">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="25">25 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                    <option [ngValue]="100">100 items per page</option>
                  </select>
                  <div>
                    <button class="DTTT_button" (click)="copyTable()"><i class="fa fa-clone"></i>
                      <span>Copy</span></button>
                    <button class="DTTT_button" (click)="printPDF()"><i class="fa fa-print"></i>
                      <span>Print</span></button>
                    <div ngbDropdown class="d-inline-block">
                      <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                        Export</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i>
                          <span>Excel</span></button>
                        <button ngbDropdownItem (click)="getCSV()"><i class="fa fa-file-text-o"></i>
                          <span>CSV</span></button>
                        <button ngbDropdownItem(click)="printPDF()"><i class="fa fa-file-pdf-o"></i>
                          <span>PDF</span></button>

                      </div>
                    </div>

                  </div>
                </div>
                <div id="datatables_filter" class="dataTables_filter">
                  <form [formGroup]="onlineSearchForm">
                    <label>
                      <input type="search" class="form-control input-sm" placeholder="Search records"
                        aria-controls="datatables" formControlName="searchKey">
                    </label>
                  </form>
                </div>
              </div>
              <div class="card-body" *ngIf="!loader">

                <table class="table table-striped table-bordered text-center" *ngIf="cardsList?.length>0">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Stand ID</th>
                      <th>Card No</th>
                      <th>Customer Name</th>
                      <th>Veh.No.</th>
                      <th>Phone</th>
                      <th>Duration</th>
                      <th>Payment Date</th>
                      <th>Payable Amount</th>
                      <th>Settled to Owner on</th>
                      <th>Transaction ID</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let card of cardsList; let i = index">
                      <td>{{(i+1)+((page-1)*pageSize)}}</td>
                      <td>{{card?.standId ? card?.standId : "N/A" }}</td>
                      <td>{{card?.cardId ? card?.cardId  : "N/A" }}</td>
                      <td>{{card?.customerName ?card?.customerName : "N/A" }}</td>
                      <td style="text-transform: uppercase;">{{card?.vehicleNumber ? card?.vehicleNumber : "N/A" }}</td>
                      <td>{{card?.customerPhone ? card?.customerPhone : "N/A" }}</td>
                      <td>{{card?.duration ? card?.duration : 0 }} Month(s)</td>
                      <td>
                        {{card?.renewedDate ? getDate(card?.renewedDate) : (card?.createdDate ? getDate(card?.createdDate) :"N/A") }}
                      </td>
                      <td>{{card?.amount}}</td>
                      <td>Monday</td>
                      <td>5625641GD</td>
                      <td><span class="badge badge-success">Settled</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="norecords" *ngIf="cardsList?.length==0">
                  <img src="assets/images/nodataFoundImg.png">
                  <!-- <h3>No Records Found</h3>
                      <p>There was no record based on the details you selected. Please retry the list</p> -->
                </div>
              </div>
              <div class="card-body" *ngIf="loader">
                <div style="text-align: center;
                    padding: 100px 0px 100px 0px;">
                  <img *ngIf="!onlineSearchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                    class="img-responsive" />
                  <img *ngIf="onlineSearchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                    class="img-responsive" />
                </div>

              </div>
              <div class="card-footer" *ngIf="cardsList?.length>=0&&!loader">
                <!--Pagination starts here-->
                <section id="basic-pagination" *ngIf="count>pageSize">
                  <nav aria-label="Page navigation mb-3">
                    <ul class="pagination" style="float:right;">
                      <ul class="pagination">
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a class="page-link" style="color:#00aae7"
                            (click)="getCardsList(pager.currentPage -1,'online')">«</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages"
                          [ngClass]="{active:pager.currentPage === page}">
                          <a class="page-link" (click)="getCardsList(page,'online')">{{page}}</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a class="page-link" style="color:#00aae7"
                            (click)="getCardsList(pager.currentPage + 1,'online')">»</a>
                        </li>
                      </ul>
                    </ul>
                  </nav>
                </section>
                <!--Pagination ends here-->
              </div>
            </div>

          </ng-template>
        </li>
        <li [ngbNavItem]="2" (click)="getCardsList(1,'offline')">
          <a ngbNavLink>Offline Card Report</a>
          <ng-template ngbNavContent>
            <div class="card">
              <div class="search-field d-flex justify-content-between">
                <div class="d-flex">
                  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="getCardsList(1,'offline')">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="25">25 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                    <option [ngValue]="100">100 items per page</option>
                  </select>
                  <div>
                    <button class="DTTT_button" (click)="copyTable()"><i class="fa fa-clone"></i>
                      <span>Copy</span></button>
                    <button class="DTTT_button" (click)="printPDF()"><i class="fa fa-print"></i>
                      <span>Print</span></button>

                    <div ngbDropdown class="d-inline-block">
                      <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                        Export</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i>
                          <span>Excel</span></button>
                        <button ngbDropdownItem (click)="getCSV()"><i class="fa fa-file-text-o"></i>
                          <span>CSV</span></button>
                        <button ngbDropdownItem (click)="printPDF()"><i class="fa fa-file-pdf-o"></i>
                          <span>PDF</span></button>

                      </div>
                    </div>

                  </div>
                </div>
                <div id="datatables_filter" class="dataTables_filter">
                  <form [formGroup]="offlineSearchForm">
                    <label>
                      <input type="search" class="form-control input-sm" placeholder="Search records"
                        aria-controls="datatables" formControlName="searchKey">
                    </label>
                  </form>
                </div>
              </div>
              <div class="card-body" *ngIf="!loader">
                <table class="table table-striped table-bordered text-center" *ngIf="cardsList?.length>0">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Stand ID</th>
                      <th>Card No</th>
                      <th>Customer Name</th>
                      <th>Veh.No.</th>
                      <th>Phone</th>
                      <!-- <th>Duration</th> -->
                      <th>Created Date</th>
                      <th>Paid Amount</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let card of cardsList; let i = index">
                      <td>{{(i+1)+((page-1)*pageSize)}}</td>
                      <td>{{card?.standId ? card?.standId : "N/A" }}</td>
                      <td>{{card?.cardId ? card?.cardId  : "N/A" }}</td>
                      <td>{{card?.customerName ?card?.customerName : "N/A" }}</td>
                      <td style="text-transform: uppercase;">{{card?.vehicleNumber ? card?.vehicleNumber : "N/A" }}</td>
                      <td>{{card?.customerPhone ? card?.customerPhone : "N/A" }}</td>
                      <!-- <td>{{card?.duration ? card?.duration : 0 }} Month(s)</td> -->
                      <td>
                        {{card?.renewedDate ? getDate(card?.renewedDate) : (card?.createdDate ? getDate(card?.createdDate) :"N/A") }}
                      </td>

                      <td>{{card?.amount}}</td>

                      <td>
                        {{card?.status}}

                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="norecords" *ngIf="cardsList?.length==0">
                  <img src="assets/images/nodataFoundImg.png">
                  <!-- <h3>No Records Found</h3>
                <p>There was no record based on the details you selected. Please retry the list</p> -->
                </div>
              </div>
              <div class="card-body" *ngIf="loader">
                <div style="text-align: center;
              padding: 100px 0px 100px 0px;">
                  <img *ngIf="!offlineSearchForm.controls?.searchKey?.value" src="assets/images/Spinner-2.gif"
                    class="img-responsive" />
                  <img *ngIf="offlineSearchForm.controls?.searchKey?.value" src="assets/images/Search.gif"
                    class="img-responsive" />
                </div>

              </div>
              <div class="card-footer" *ngIf="cardsList?.length>=0&&!loader">
                <!--Pagination starts here-->
                <section id="basic-pagination" *ngIf="count>pageSize">
                  <nav aria-label="Page navigation mb-3">
                    <ul class="pagination" style="float:right;">

                      <ul class="pagination">

                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                          <a class="page-link" style="color:#00aae7"
                            (click)="getCardsList(pager.currentPage -1,'offline')">«</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages"
                          [ngClass]="{active:pager.currentPage === page}">
                          <a class="page-link" (click)="getCardsList(page,'offline')">{{page}}</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a class="page-link" style="color:#00aae7"
                            (click)="getCardsList(pager.currentPage + 1,'offline')">»</a>
                        </li>

                      </ul>

                    </ul>

                  </nav>
                </section>

                <!--Pagination ends here-->
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class=""></div>
    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add/Edit Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form action="" method="post">
    <div class="modal-body">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Date" type="text" placeholder="Enter Date" required="required"
                autocomplete="off" />
              <label for="Date">Start Date </label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select">
                <option selected>Paid</option>

                <option>Free</option>
              </select>
              <label>Card Type </label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select">
                <option selected>Bicycle</option>
                <option>2 W</option>
                <option>3 W</option>
                <option>4 W</option>
              </select>
              <label>Vehicle Type </label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <select class="form-control custom-select">
                <option selected>1 Month</option>
                <option>2 Months</option>
                <option>3 Months</option>
                <option>6 Months</option>
                <option>12 Months</option>
              </select>
              <label>Duration</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Number" type="text" placeholder="Enter Card Number" required="required"
                autocomplete="off" />
              <label for="Number">Card Number</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Name" type="text" placeholder="Enter Your Name" required="required"
                autocomplete="off" />
              <label for="Name">Name</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Phone" type="tel" placeholder="Ex: 9874563213" required="required"
                autocomplete="off" pattern="[0-9]{10}" minlength="10" maxlength="10" />
              <label for="Phone">Phone*</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="VehicleName" type="text" style="text-transform: uppercase;"
                placeholder="Enter Vehicle Number" required="required" autocomplete="off" />
              <label for="VehicleName">Vehicle Number</label>
            </span>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Amount" type="text" placeholder="Enter Amount" required="required"
                autocomplete="off" />
              <label for="Amount">Amount</label>
            </span>

          </div>
        </div>

      </div>


    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" onclick="checkUsername()" id="submit_btn" class="btn btn-success">Update</button>&nbsp;
        <a class="btn btn-danger" href="">Cancel</a>
      </div>
    </div>
  </form>
</ng-template>
