<div class="home-section">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        
        <img src="assets/images/home-mobile.png">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="alert alert-danger" role="alert" *ngIf="showWarning">
          <span class="alert-link">{{warningMessage}}</span>
        </div>
        <div class="user_login" *ngIf="!isEmployee">

          <h3>Login</h3>
          <form [formGroup]="loginForm">
            <div class="u_name">
              <label>User Name / Mobile No</label>
              <input class="l_name" name="username" id="username" type="text" placeholder="Username"
                formControlName="username">
            </div>
            <div class="u_name">
              <label>Password</label>
              <input class="l_name" name="password" id="password" type="password" placeholder="Password"
                formControlName="password" (keyup.enter)="loginFormSubmitted()">

            </div>
            <label class="mem"><a routerLink="/forgot">Forgot password?</a></label>
            <div class="u_name">
              <!-- <input type="submit" name="" value="Login" class="login-btn"> -->
              <button [disabled]="!loginForm.valid || spinner" class="login-btn" (click)="loginFormSubmitted()"
                type="button">Login</button>
            </div>
            <label class="mem text-center">Not a member yet ? <a routerLink="/register">Sign up</a></label>
          </form>
        </div>
        <div class="user_login" *ngIf="isEmployee">
          <div class="u_name">
            <h3>Select Stand</h3>
            <select class="l_name" [(ngModel)]="selectedStand" (ngModelChange)="standOptionChanged($event)">
              <option selected disabled value="">
                Select
              </option>
              <option *ngFor="let stand of standsArray" [value]="stand.standId">{{stand.standName}}</option>
            </select>

          </div>
          <div class="u_name">
            <button class="login-btn" (click)="loginClicked()" type="button" [disabled]="!selectedStand || spinner">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
