<div class="page-wrapper">
  <div class="header">
    <h1 class="page-header">Settlements</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i> Dashboard</li>
        <li class="breadcrumb-item"><a>Settlements</a></li>

      </ol>
    </nav>

  </div>
  <div class="page-inner">

    <div class="devider"></div>
    <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <strong>Settlements List</strong>

        </div>
        <div class="search-field d-flex justify-content-between">
          <div class="d-flex">
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
              (ngModelChange)="refreshCountries()">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="25">25 items per page</option>
              <option [ngValue]="50">50 items per page</option>
              <option [ngValue]="100">100 items per page</option>
            </select>
            <div>
              <button class="DTTT_button"><i class="fa fa-clone"></i> <span>Copy</span></button>

              <button class="DTTT_button"><i class="fa fa-print"></i> <span>Print</span></button>
              <div ngbDropdown class="d-inline-block">
                <button class="DTTT_button" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-upload"></i>
                  Export</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem><i class="fa fa-file-excel-o"></i> <span>Excel</span></button>
                  <button ngbDropdownItem><i class="fa fa-file-text-o"></i> <span>CSV</span></button>
                  <button ngbDropdownItem><i class="fa fa-file-pdf-o"></i> <span>PDF</span></button>

                </div>
              </div>

            </div>
          </div>
          <div id="datatables_filter" class="dataTables_filter">
            <label><input type="search" class="form-control input-sm" placeholder="Search records"
                aria-controls="datatables"></label>
          </div>
        </div>
        <div class="card-body">

          <table class="table table-striped table-bordered text-center">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Owner</th>
                <th>Stand</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Paid Amount</th>
                <th>Paid Date</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>V.Satyanarayana (RTC RJY)</td>
                <td>APSRTC </td>
                <td>01-01-2020</td>
                <td>01-01-2021</td>
                <td>400</td>
                <td>500</td>
                <td>01-01-2020</td>

              </tr>
              <tr>
                <td>1</td>
                <td>V.Satyanarayana (RTC RJY)</td>
                <td>APSRTC </td>
                <td>01-01-2020</td>
                <td>01-01-2021</td>
                <td>400</td>
                <td>500</td>
                <td>01-01-2020</td>

              </tr>
              <tr>
                <td>1</td>
                <td>V.Satyanarayana (RTC RJY)</td>
                <td>APSRTC </td>
                <td>01-01-2020</td>
                <td>01-01-2021</td>
                <td>400</td>
                <td>500</td>
                <td>01-01-2020</td>

              </tr>
              <tr>
                <td>1</td>
                <td>V.Satyanarayana (RTC RJY)</td>
                <td>APSRTC </td>
                <td>01-01-2020</td>
                <td>01-01-2021</td>
                <td>400</td>
                <td>500</td>
                <td>01-01-2020</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between p-2">


            <div></div>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
              (pageChange)="refreshCountries()">
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
  </div>
