<div class="products-section text-center">

</div>
<div class="parking_map">
  <agm-map [latitude]="getValue(standData?.latitude)" [longitude]="getValue(standData?.longtitue)">
    <agm-marker [latitude]="getValue(standData?.latitude)" [longitude]="getValue(standData?.longtitue)">
      <agm-info-window>
        <strong>{{standData?.standName}},{{standData?.location?.city?.city}}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
<div class="section">
  <div class="container">
    <h2>{{standData?.standName}} - {{standData?.location?.city?.city}}</h2>
    <div class="price_tabel">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let allowedVehicle of allowedVehicles">
          <div class="vehical-blc"> 
            <div class="vehical-icon" [class.icon4]="allowedVehicle.vehicletype=='bicycle'"
              [class.icon2]="allowedVehicle.vehicletype=='threeWheeler'"
              [class.icon3]="allowedVehicle.vehicletype=='fourWheeler'" *ngIf="allowedVehicle.vehicletype=='bicycle' || allowedVehicle.vehicletype=='threeWheeler' || allowedVehicle.vehicletype=='fourWheeler' || allowedVehicle.vehicletype=='twoWheeler'"></div>
              <i class="fa fa-bus vehical-icon" *ngIf="!(allowedVehicle.vehicletype=='bicycle' || allowedVehicle.vehicletype=='threeWheeler' || allowedVehicle.vehicletype=='fourWheeler' || allowedVehicle.vehicletype=='twoWheeler')" aria-hidden="true" style="background-position: -319px -101px;"></i>
            <h2>{{getVehicleType(allowedVehicle.vehicletype)}}</h2>
            <div class="vehical-blc-price" style="text-decoration: line-through;">
              &#8377; {{allowedVehicle.cardActualPrice}} </div>
            <div class="vehical-blc-price">
              &#8377; {{allowedVehicle.cardOfferPrice}} </div>
            <div class="vehical-blc-btn"><a (click)="buyCard(allowedVehicle)" href="#" data-type="1" data-toggle="modal"
                class="vhcl" data-target="#buyModal">Buy Monthly Card</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--viewstand Modal -->
<!-- <div class="modal fade bd-example-modal-lg" id="buyModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" #cardFormModal aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="exampleModalLabel" class="m-0">Monthly Card</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="!isLoggedIn">
        <p>
          Please <a class="loginCls" style="color: blue;cursor: pointer;" [routerLink]="'/login'"
            data-dismiss="modal">Login</a> to buy this
          card
        </p>
      </div>
    </div>
  </div>
</div> -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  -->
  
  <form [formGroup]="monthlyCardForm" *ngIf="isLoggedIn">
    <div class="modal-body">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label d-flex">
              <input class="form-control" name="dp" ngbDatepicker [placeholder]="'DD/MM/YYYY'" #d="ngbDatepicker"
                style="width: 90%;" [minDate]=' {day: cDate.day, month: cDate.month,year: cDate.year}'
                formControlName="startDate">
              <button class="btn  form-control mb-3" style="width: 10%;border: 1px solid;" (click)="d.toggle()"><i
                  class="fa fa-calendar" style="padding: 14px 0px 0px 0px;"></i></button>
              <label for="Date">Start Date</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="monthlyCardForm?.controls?.startDate?.invalid && (monthlyCardForm?.controls?.startDate?.dirty ||monthlyCardForm?.controls?.startDate?.touched)">

              <label *ngIf="monthlyCardForm?.controls?.startDate?.errors?.required">This field is
                required</label>
            </span>
          </div>
        </div>
        <input id="ctype" name="card_type" class="form-inputs" type="hidden" value="1">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Vehicle Type </label>
          <div class="form-group">
            <select id="vtype" name="vehicle_type" class="form-control" formControlName="vehicleType">
              <option *ngFor="let data of allowedVehicles" value="{{data.vehicletype}}">
                {{getVehicleType(data.vehicletype)}}
              </option>
            </select>
          </div>
        </div>
        <div id="months_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Duration </label>
          <div class="form-group">
            <select name="months" id="months" class="form-control" formControlName="duration">
              <option value="">Duration</option>
              <option value="1" selected="selected">1 Month</option>
              <option value="2">2 Months</option>
              <option value="3">3 Months</option>
              <option value="6">6 Months</option>
              <option value="12">12 Months</option>
            </select>
          </div>
          <span id="username_error" class="help-inline mt-1" style="color: red;"
            *ngIf="monthlyCardForm?.controls?.duration?.invalid && (monthlyCardForm?.controls?.duration?.dirty ||monthlyCardForm?.controls?.duration?.touched)">

            <label *ngIf="monthlyCardForm?.controls?.duration?.errors?.required">This field is
              required</label>
          </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <span class="has-float-label">
              <input class="form-control" id="Email" type="text" placeholder="Enter Your Email"
                formControlName="email" autocomplete="off" />
              <label for="Email">Email</label>
            </span>
            <span id="username_error" class="help-inline mt-1" style="color: red;"
              *ngIf="monthlyCardForm?.controls?.email?.invalid && (monthlyCardForm?.controls?.email?.dirty ||monthlyCardForm?.controls?.email?.touched)">
              <label *ngIf="monthlyCardForm?.controls?.email?.errors?.pattern">Please enter a valid email</label>
              <label *ngIf="monthlyCardForm?.controls?.email?.errors?.required">This field is
                required</label>
            </span>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Name </label>
          <div class="form-group"><input class="form-inputs" name="name" type="text" value="testC"
              class="form-control" autocomplete="off" formControlName="name" readonly></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Phone</label>
          <div class="form-group">
            <input class="form-inputs numeric" name="phone" minlength="10" maxlength="10" type="text"
              class="form-control" autocomplete="off" readonly formControlName="phoneNumber">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Vehicle Number </label>
          <div class="form-group">
            <input class="form-inputs" name="vehicle_no" class="form-control" type="text"
              formControlName="vehicleNumber" autocomplete="off" readonly>
          </div>
        </div>
        <div id="amt_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Amount :</label>
          <div class="form-group">
            <input class="form-inputs numeric" id="amount" name="amount" type="text" class="form-control" readonly
              min="500" max="500" formControlName="amount">
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label>Final Amount :</label>
          <div class="form-group">
            <input class="form-inputs numeric" id="famount" type="number" class="form-control" readonly
              formControlName="finalAmount">
          </div>
        </div>
        <div style="color:#ff5959" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <p><b>Note : </b>Processing charges Rs.10 will be added to the amount.</p>
        </div>
      </div>

    </div>
    <div class="modal-footer">

      <button type="button" id="submit_btn" class="btn btn-success submit" (click)="proceedPayment(modal)"
        [disabled]="spinner||!monthlyCardForm.valid">Proceed to
        payment
        <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i></button>
    </div>

  </form>
  <div class="modal-body" *ngIf="!isLoggedIn">
    <p>
      Please <a class="loginCls" style="color: blue;cursor: pointer;" [routerLink]="'/login'" aria-label="Close" (click)="modal.dismiss('Cross click')">Login</a> to buy this
      card
    </p>
  </div>
</ng-template>
