.products-section {
  padding: 80px 0 80px 0;
  background: #0f1c50;
  background-image: url(/assets/images/product-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.products-section:after {
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(15, 28, 80, 0.8);
  z-index: 0;
}

h1 {
  color: #fff;
  position: relative;
  z-index: 2;
}

.section {
  padding: 50px 0;
}

.price_tabel {
  padding: 27px 0;
  overflow: hidden;
}

.parking_map iframe {
  width: 100%;
  height: 300px;
}

.vehical-blc {
  background-color: #0087b8;
  color: #fff;
  position: relative;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px #a2a2a2;
  margin: 40px 10px;
  border-radius: 10px;
}

.vehical-blc h2 {
  margin: 15px 0;
  font-size: 25px;
}

.vehical-blc:hover {
  background-color: #e9d000;
  color: #000;
}

.vehical-blc-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.vehical-blc-price span {
  font-size: 18px;
  text-decoration: line-through;
  padding: 0 10px;
  color: #e9d000;
}

.vehical-blc-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  width: 100%;
}

.vehical-blc-btn a {
  border: none;
  background-color: #e9d000;
  color: #000;
  padding: 13px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.vehical-blc:hover .vehical-blc-btn a {
  background-color: #0e2267;
  color: #fff;
}

.vehical-blc:hover .vehical-icon {
  color: #e9d000;
}

.vehical-blc:hover .vehical-blc-price span {
  color: #d40000;
}

.vehical-icon {
  color: #0087b8;
  border: 3px solid;
  box-shadow: 0 0 5px;
  background: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
  display: inline-block;
  margin-top: -60px;
  background-image: url("/assets/images/vehicals.png");
  background-size: 330px;
  background-repeat: no-repeat;
  background-position: -92px -7px;
}

.vehical-blc:hover .vehical-icon {
  background-position: -92px -101px;
}

.vehical-icon.icon2 {
  background-position: -9px -7px;
}

.vehical-blc:hover .vehical-icon.icon2 {
  background-position: -9px -101px;
}

.vehical-icon.icon3 {
  background-position: -252px -7px;
}

.vehical-blc:hover .vehical-icon.icon3 {
  background-position: -252px -101px;
}

.vehical-icon.icon4 {
  background-position: -170px -7px;
}

.vehical-blc:hover .vehical-icon.icon4 {
  background-position: -170px -101px;
}

.loginCls :hover {
  text-decoration: underline;

}


agm-map {
  height: 300px;
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
