.home-section {
  min-height: calc(100vh - 0px);
  display: flex;
  align-items: center;
}

.otp-bbc {
  position: absolute;
  top: 33px;
  right: 0px;
}

.user_login {
  .u_name {
    position: relative;

    span {
      position: absolute;
      right: 10px;
      top: 38px;
      cursor: pointer;
      font-size: 17px;
      border-left: 1px solid #a09b9b;
      padding-left: 10px;
    }
  }
}
