<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><img src="assets/images/home-mobile.png"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="user_login">
          <form [formGroup]="signUpForm">
            <input type="hidden" name="device_id" id="device_id" value="606d9f3b49f27">
            <h3>Sign up</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>User name</label>
                  <input class="l_name" id="uname" name="uname" type="text" placeholder="User name"
                    formControlName="userName" autocomplete="off" (keyup)="removeSpace(signUpForm,'userName')">
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.userName?.invalid && (signUpForm?.controls?.userName?.dirty ||signUpForm?.controls?.userName?.touched)">

                  <label *ngIf="signUpForm?.controls?.userName?.errors?.required">This field is
                    required</label>

                </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>Full Name</label>
                  <input class="l_name" id="name" name="name" type="text" placeholder="Full Name"
                    formControlName="name" autocomplete="off">
                </div>
                <span id="name_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.name?.invalid && (signUpForm?.controls?.name?.dirty ||signUpForm?.controls?.name?.touched)">

                  <label *ngIf="signUpForm?.controls?.name?.errors?.required">This field is
                    required</label>

                </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>Mobile No</label>
                  <!-- onkeypress="return (event.charCode > 47 &amp;&amp; event.charCode < 58)"  -->
                  <input class="l_name" name="phone" id="phone" type="text" maxlength="10" placeholder="Phone Number"
                    formControlName="phoneNumber" autocomplete="off">
                  <div class="otp-bbc"><button type="button" class="btn btn-warning" (click)="sendOTP()"
                      [disabled]="signUpForm?.controls?.phoneNumber?.invalid || isVerified">Send
                      OTP</button></div>
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.phoneNumber?.invalid && (signUpForm?.controls?.phoneNumber?.dirty ||signUpForm?.controls?.phoneNumber?.touched)">
                  <label *ngIf="signUpForm?.controls?.phoneNumber?.errors?.pattern">Invalid phone number</label>
                  <label *ngIf="signUpForm?.controls?.phoneNumber?.errors?.required">This field is
                    required</label>
                  <label
                    *ngIf="!(signUpForm?.controls?.phoneNumber?.errors?.pattern)&&signUpForm?.controls?.phoneNumber?.errors?.minlength">Phone
                    number length must
                    be
                    atleast 10 digits</label>
                </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>OTP</label>
                  <input class="l_name" id="otp" type="text" name="otp" placeholder="OTP" formControlName="otp"
                    autocomplete="off" [readOnly]="!otpValue" (keyup)="enterOTPValue()">
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.otp?.invalid && (signUpForm?.controls?.otp?.dirty ||signUpForm?.controls?.otp?.touched)">
                  <label *ngIf="signUpForm?.controls?.otp?.errors?.invalidOTP">Invalid OTP</label>
                  <label *ngIf="signUpForm?.controls?.otp?.errors?.required">This field is
                    required</label>

                </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>Vehicle Number</label>
                  <input class="l_name" id="veh_no" style="text-transform: uppercase;" name="vehicle_no" type="text"
                    style="text-transform:uppercase" placeholder="Vehicle Number" formControlName="vehicleNumber"
                    autocomplete="off">
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.vehicleNumber?.invalid && (signUpForm?.controls?.vehicleNumber?.dirty ||signUpForm?.controls?.vehicleNumber?.touched)">

                  <label *ngIf="signUpForm?.controls?.vehicleNumber?.errors?.required">This field is
                    required</label>
                    <label *ngIf="signUpForm?.controls?.vehicleNumber?.errors?.pattern">Enter valid Vehicle number</label>
                </span>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>Password</label>
                  <input class="l_name" name="password" value="" id="password" [type]="show ? 'text' : 'password'"
                    placeholder="Password" formControlName="pwd" autocomplete="off" (keyup)="matchPasswords();">
                  <span placement="bottom" *ngIf="show" ngbTooltip="Hide" (click)="showHidePassword()">
                    <i class="fa fa-eye"></i>
                  </span>
                  <span placement="bottom" *ngIf="!show" ngbTooltip="Show" (click)="showHidePassword()">
                    <i class="fa fa-eye-slash"></i>
                  </span>
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.pwd?.invalid && (signUpForm?.controls?.pwd?.dirty ||signUpForm?.controls?.pwd?.touched)">

                  <label *ngIf="signUpForm?.controls?.pwd?.errors?.required">This field is
                    required</label>
                  <label *ngIf="signUpForm?.controls?.pwd?.errors?.specialCharacter">Space isn't
                    allowed</label>

                </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="u_name">
                  <label>Re-type Password</label>
                  <input class="l_name" id="confirm_password" type="password" placeholder="Re-type Password"
                    formControlName="reTypePwd" autocomplete="off" (keyup)="matchPasswords()">
                </div>
                <span id="username_error" class="help-inline mt-1" style="color: red !important"
                  *ngIf="signUpForm?.controls?.reTypePwd?.invalid && (signUpForm?.controls?.reTypePwd?.dirty ||signUpForm?.controls?.reTypePwd?.touched)">

                  <label *ngIf="signUpForm?.controls?.reTypePwd?.errors?.required">This field is
                    required</label>
                  <label *ngIf="signUpForm?.controls?.reTypePwd?.errors?.noMatch">Passwords aren't same</label>
                </span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="u_name">
                  <button type="button" name="" class="login-btn" (click)="submitSignUpForm()"
                    [disabled]="!signUpForm.valid">
                    Sign Up
                    <i class="fa fa-spin fa-spinner" *ngIf="spinner"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="mem">Existing user ? <a routerLink="/login">Sign in</a></label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
